[2019-10-15 21:03] reinhold-willcox opened #9 "CEE printing systems post-stripping"
Bug found by Alejandro in Legacy COMPAS, likely carried over into COMPASv2.0.

From Slack, devel_bugs, Oct 16:

"Hi @channel, I think I found a bug during printing in the CommonEnvelopeEvent function, in BinaryStar.cpp. At the beginning of that function, the star class is copied:
Line 3321: Star    starCopy1=star1;
Then the star is updated:
Line 3670: star1.modifyStarAfterLosingEnvelope(star1.m_st

[2019-10-21 04:41] FloorBroekgaarden opened #10 "Parameters, headers and units are wrong for many things in DetailedOutput"
For example
- StellarType2 is definitely not outputting the right thing
- units of Time are wrong (in ThousendYears instead Myear?)
- Mass1  has weird spaces in header,
 - mass1 and Mass_0_1 are unclear what difference is..

<img width="979" alt="Screenshot 2019-10-21 00 33 37" src="https://user-images.githubusercontent.com/25804496/67177204-7a5e6d80-f39b-11e9-8dff-de39f7d5fdce.png">

[2019-10-21 04:42] FloorBroekgaarden opened #11 "Bug in Fryer Delayed +2012"
Bug in Fryer delayed in calculating whether the NS or BH solution should be used for remnant function. (see post about legacy COMPAS)

[2019-10-21 04:43] FloorBroekgaarden opened #12 "Move enhancement STROOPWAFEL from Legacy COMPAS to new COMPAS"
this is for me

[2019-10-21 04:49] FloorBroekgaarden opened #13 "Detailed output does sometimes not print last timestep"
Ask Coen for details. Sorry that this is not so specific.

[2019-10-21 21:03] #9 closed, assigned to jeffriley

[2019-10-22 21:17] #10 closed, assigned to jeffriley

[2019-11-20 22:12] FloorBroekgaarden opened #18 "double check STROOPWAFEL works in newCOMPAS"

[2019-11-28 11:40] ilyamandel opened #20 "calculate_gamma differs between COMPAS legacy and Hurley SSE"
Coen reports:

"I am for weird reasons trying to code up some tracks in python, and by accident fuond a statement in the SSE that we do not have in COMPAS sse code.
Function calculate_gamma() in Star.cpp. SSE in fortran has an additional check (translated to COMPAS legacy language)
if(Mass > an_coefficients[81-1]+0.1){
    gamma = 0.0

original fortran snipped
if(m.gt.(a(88)+0.1d0))then
         r

[2019-11-28 11:42] ilyamandel opened #21 "Fix typos in pythonSubmitDefault"
Marchant PPISN limit should be 60, not 65
Some typos in comments

[2019-11-28 11:43] ilyamandel opened #22 "Re-introduce parametrisation of neutrino mass loss during SNe"
It seems that we got rid of the neutrino_mass_loss_bh_formation_assumption and neutrino_mass_loss_bh_formation_value options

Should re-include the explicit assumptions about neutrino mass loss

[2019-11-28 11:44] ilyamandel opened #23 "Check output column names"
Check column names in output files; disbound -> unbound

[2019-11-29 11:02] ilyamandel opened #24 "Fixed time steps"
Fixed-width time steps yield stripes on the HR diagram (exacerbated by dividing the fixed-width time steps by 10, as demonstrated by Alejandro below )

<img width="401" alt="image" src="https://user-images.githubusercontent.com/512213/69864748-b9b19f80-12f3-11ea-86f5-05497d7f4a9d.png">

The adaptive step sizing may fix this; to be tested.

[2019-11-29 21:20] #21 closed, assigned to ilyamandel

[2019-11-29 21:20] #23 closed, assigned to ilyamandel

[2019-12-02 00:10] FloorBroekgaarden opened #26 "remove individual_system parameters in pythonSubmit.py once grid input fully works"
at the moment there is a list of individual_system parameters in `pythonSubmit.py` used to run a binary with specific input parameters. However, once the grid.txt input fully works, this will be duplicate as such systems can be easily run with grid.txt.

the parameters should therefore be removed once the grid is fully implemented to decrease confusion.

`    #-- set inidividual system parameters

[2019-12-02 03:09] cneijssel opened #27 "Supernova kicks:check absence of ECSN"
Summary:
In a run of 100.000 systems (settings similar to VignaGomez2018) no ECSN were found.
The drawn kicks of all systems in the supernovae Log seem high
 (ignoring angles and fallback and types and bound)

Checking the output format:
--kick-velocity-sigma-CCSN-NS 265.0
--kick-velocity-sigma-CCSN-BH 265.0
--kick-velocity-sigma-USSN 30.0
--kick-velocity-sigma-ECSN 30.0
![Kicks](https://user-imag

[2019-12-02 04:18] cneijssel opened #28 "Post-February bug-fix legacy: stellar type comparison statement wrong"
Git commit in COMPAS-legacy:  Gitlab    Commit e49a0f00
File:      massTransfer.cpp
Function:  massTransferCase()

Explanation:The if statement needed brackets and better logic comparison

-----------------Details-----------------------------
The old statement:
Old:

else if((stellarType >= FIRST_GIANT_BRANCH and
         stellarType <= THERMALLY_PULSING_ASYMPTOTIC_GIANT_BRANCH)
         or NAKED_

[2019-12-02 04:19] cneijssel opened #29 "Post-February bug-fix legacy: Pass correct core mass for zeta calculation"
Git commit in Legacy: Gitlab   Commit 36afabce
File     BinaryStar.cpp
Function MassTransfer()  at the time from line 2885
Note: this does not address the issue with infinity values

The incorrect core mass was passed for determining zetaAdiabatic.
Some stars need to have the helium core and others need the general core,
which could be the Co-Core. This is not the cleanest solution, since at the t

[2019-12-02 04:21] cneijssel opened #30 "Post-February bug-fix legacy: Use correct value of Envelope mass"
Git issue Legacy: Commit     0524773a
File       BinaryStar.cpp
Function   MassTransfer() around line 2790 back in the day

ain point, we had two envelope masses that we used, 1=mdEnv
which is set in the star.cpp, 2=EnvelopeD which we calculate in massTransfer() itself.
When calculating the different thermalRates some functions used mdEnv others EnvelopeD
and after some debugging I spotted slight

[2019-12-02 04:22] cneijssel opened #31 "Post-February bug-fix legacy: zRocheLobe function does not use angular momentum loss"
Commit   --- Not in COMPAS legacy
File     massTransfer.cpp
Function zRocheLobe()

this function calculates the response of the RocheLobe to an amount of mass loss
/angular momentum loss. This function should depend on the prescription we use for the angular momentum loss. Note we now pass jloss, and define gamma which is used in double K1
Below is the correct form of the function which includes t

[2019-12-02 04:24] cneijssel opened #32 "Enhancement: Make USSN independent of accretor"
File BinaryStar.cpp
Function massTransfer() around line 3099 in my Legacy version

SSE/Binary feature

Add in possibility to have USSN be independent of accretor type.
Instead if a HeHG star is stripped and leaves a COcore which go supernova
it should be classified as USSN regardless of the accretor.

In Legacy it looked like this if statement that we set the flag and dependency of USSN

// ALEJAN

[2019-12-05 03:39] FloorBroekgaarden opened #37 "calculate constants that need to be only calculated once per simulation, only once instead of Nbinaries times (to speed up code)"
at the moment, some constants are calculated for each binary, whereas they only have to be calculated once per simulation (the constants are the same for all binaries, but depend on OPTIONS in `pythonSubmit.py`.

An example: `m_baryonicMassOfMaximumNeutronStarMass` is now calculated for each binary in `BaseStar.cpp`; whereas it should only be calculated once for all N binaries.

From `BaseStar.cpp

[2019-12-05 04:11] #11 closed, assigned to FloorBroekgaarden

[2019-12-08 05:18] serenavinciguerra89 opened #42 "missing stellar type for mass limit definition in supernovaMain"
in supernovaFunctions.cpp around line 35:
if(*stellarType == THERMALLY_PULSING_ASYMPTOTIC_GIANT_BRANCH ){ M = McBAGB;}
should be:
if(*stellarType == THERMALLY_PULSING_ASYMPTOTIC_GIANT_BRANCH  || *stellarType == EARLY_ASYMPTOTIC_GIANT_BRANCH){ M = McBAGB;}

[2019-12-08 16:21] FloorBroekgaarden opened #43 "(accidentally opened issue)"

[2019-12-08 16:26] FloorBroekgaarden opened #44 "why is CalculateProtoCoreMass() not called CalculateProtoCoreMassDelayed()?"
question;
in `GiantBranch.cpp`

the rapid one is called: `GiantBranch::CalculateProtoCoreMassRapid`
but I think the Delayed one should be called `GiantBranch::CalculateProtoCoreMassDelayed` ,
whereas now it is called:
`GiantBranch::CalculateProtoCoreMass`

or is there a reason to not do this?

[2019-12-08 16:37] #43 closed, assigned to FloorBroekgaarden

[2019-12-09 01:36] FloorBroekgaarden opened #45 "Stellar_Type_SN always 13 (NS) in Supernova output (should be 14 sometimes)"
in the file `Compas_Log_BSE_Supernovae.csv` all Stellar_Type_SN values are 13 (NS) whereas I ran a population of binaries with masses 5 < M/Msun < 150, so some should produce a BH (14)

see attachment for pythonSubmit, and csv file
[SNprintingBug.zip](https://github.com/TeamCOMPAS/COMPAS/files/3937506/SNprintingBug.zip)

[2019-12-11 23:02] serenavinciguerra89 opened #46 "lower the minimum value of McSN in star.cpp from Mch to 1.38"
To reproduce EC SN, lowers the minimum CO core mass to go SN from Mch 1.44 to 1.38.
The function that calculates this is "maximumCoreMassSN" in star.cpp

[2019-12-30 17:20] FloorBroekgaarden opened #51 "merge RLOF and CE output files into one "MassTransfer" file"
see also https://docs.google.com/document/d/1FBBcce2medqnAO7PM13O2tKuhvt6lAKfjbnccB8Njas/edit

[2020-01-27 20:52] FloorBroekgaarden opened #57 "in systemParameters merge outcome columns (e.g. "merger") into one OUTCOME column"
In `constants.h` we define what gets printed in the systemParameters.csv output file:

In `const ANY_PROPERTY_VECTOR BSE_SYSTEM_PARAMETERS_REC = `
the following variables are printed:

`    BINARY_PROPERTY::UNBOUND,
    BINARY_PROPERTY::STELLAR_MERGER,
    BINARY_PROPERTY::STELLAR_MERGER_AT_BIRTH,
`

make this into one variable: `OUTCOME` which can have the options/outcomes:
unbound, stellar_merge

[2020-01-28 13:45] #45 closed, assigned to FloorBroekgaarden, jeffriley

[2020-02-13 19:24] #26 closed, assigned to jeffriley

[2020-02-13 19:26] #27 closed, assigned to jeffriley

[2020-02-13 19:26] #42 closed, assigned to serenavinciguerra89, jeffriley

[2020-02-13 19:27] #44 closed, assigned to jeffriley

[2020-02-13 19:27] #46 closed, assigned to jeffriley

[2020-02-19 23:20] TeamCOMPAS opened #65 "Feature request: option ECSN threshold mass"
Add the ECSN threshold as an input parameter (currently set to Hurley model, should have Fryer model as option).

[2020-02-19 23:43] #28 closed, assigned to nobody

[2020-02-19 23:48] #13 closed, assigned to jeffriley

[2020-02-19 23:53] ilyamandel opened #66 "HPC improvement"
HPC running capability to be included, see Simon's pull request

[2020-02-20 00:18] ilyamandel opened #67 "Add detailed RLOF output"
Similar to what Coen worked on in legacy COMPAS; merge with CE

[2020-02-20 00:32] FloorBroekgaarden opened #68 "Check if sampling through grid.txt and through main pythonSubmit gives the same output"
for the same initial binaries that sampled.

At least the binaries that are rejected in pythonSubmit sampling (e.g. because of RLOFonZAMS==1) should consistently being rejected in `Grid.txt`

[2020-02-20 05:46] SimonStevenson opened #70 "Check for merger during mass transfer episode"
From @serenavinciguerra89

To check whether both stars fit within the binary at all 'timesteps' during a mass transfer episode.

Since these stars are not in equilibrium, we don't know their 'real' radii. But we can at least make some guess as to what their radii are.

Options include:

1) check that both stars fit in the orbit at all times based on their initial radii
2) check that both stars fit

[2020-02-20 19:29] FloorBroekgaarden opened #71 "move all sampling of initial binaries outside of COMPAS & to `Grid.txt`"
All functions that are currently in `pythonSubmit.py` that do the sampling, e.g.

[code]

could be moved to a pre-processing script in python that does all the sampling (e.g. from the IMF) in Python, and then adds them to `Grid.txt`. This Grid.txt is then read in by the main COMPAS function.

This is the most consistent way of sampling that is also very helpful for a statistical framework (e.g. st

[2020-02-22 04:47] themikelau opened #73 "compas_executable path incorrect in pythonSubmit?"
Following the convention to have COMPAS_ROOT_DIR be the COMPAS repo directory, e.g. '~/gitRepos/COMPAS', the path to the COMPAS executable in pythonSubmit is missing the 'src' directory:

Currently, we have
`git_directory = os.environ.get('COMPAS_ROOT_DIR')`
`compas_executable = os.path.join(git_directory, 'COMPAS')`

But perhaps it should be

`git_directory = os.environ.get('COMPAS_ROOT_DIR')`
`c

[2020-02-27 06:13] reinhold-willcox opened #90 "Output file naming inconsistency"
**Small bug**

I found an inconsistency in the naming of the output files when there are multiple runs worth of output files in a given directory. The inconsistency comes in when some of the output files of the new run have the same name as some of the old ones, but others of the new run do not.

The expected behaviour is that, instead of overwriting previous output files, the new ones simply have

[2020-02-28 01:00] reinhold-willcox opened #91 "Detailed output naming fix"
Related to issue #90 , the detailed output files append a _<N>, one per binary run. But the other output files append a _<M> per simulation, so there can be some confusion.

I propose we put all of the Detailed_Output_<N>.csv files into a directory Detailed_Ouput_files_<M> so that the <M> aligns with the <M>s of all the other output files of a given simulation.

[2020-03-02 04:24] reinhold-willcox opened #94 "Removing masterFolder in CompasHPC"
This is really a question / proposal for Simon.

I am unclear on why we need to have masterFolder inside the CompasHPC. I often end up with multiple pythonSubmits.py and postProcessing.py of various names between the two directories, and after I've finished a run of Comas_hpc.py, I discover that it was reading from the wrong input.

Is it possible to pull all of the files in CompasHPC/masterFolder

[2020-03-05 04:19] reinhold-willcox opened #105 "Error in output of He core mass in supernovae.csv"
Looking at the Supernovae.csv file outputed from a default run of 100 systems, it appears that the He core mass is sometimes incorrect, usually when the supernova-ing star is HeHG.

In these situations, the value of Mass_Total@CO_SN (which I believe is the total mass of the star pre-supernova) is very slightly less than Mass_He_Core@CO_SN (which should be the He core mass at the same moment). The

[2020-03-09 08:45] #31 closed, assigned to serenavinciguerra89, jeffriley

[2020-03-09 13:26] #73 closed, assigned to themikelau

[2020-03-19 03:01] SimonStevenson opened #146 "Implement continuous integration"
We discussed at the code meeting today the benefits of having at least basic continuous integration (CI) to test pull requests. This could be as simple as checking that the code compiles and successfully runs for a simple, small test run.

[2020-03-19 03:03] ilyamandel opened #147 "To-do items for public release"
Long test (compare to Coen’s output) — @Mike Lau
Documentation, including description of output variables - @Jeff, @Mike Lau
Post-processing check - @Reinhold Willcox, all
Sanity checks with non-standard inputs - @Ilya Mandel, @Debatri Chattopadhyay, @Serena Vinciguerra, all
Test/fix HPC - @Simon Stevenson, @Mike Lau
Advertisement - @Ilya Mandel
Websites - @Reinhold Willcox, @Ilya Mandel
Git workf

[2020-03-20 02:36] SimonStevenson opened #153 "Ensure CompasHPC Hyperparameter grid functionality works"
@themikelau pointed out that currently the hyperparameter grid functionality of CompasHPC does not work. I think that this is likely to do with the new COMPAS_Output folder structure. I will look into this and try to fix it.

An example working directory is
`/fred/oz101/mlau/runs/5metallicitiesTest2`
on OzSTAR

The output appears in e.g.
`/fred/oz101/mlau/runs/5metallicitiesTest2/output0/COMPAS_Ou

[2020-03-20 02:39] SimonStevenson opened #154 "Test compatibility of CompasHPC and BSE_Grid.txt"
Users can specify a list of binaries to evolve using a `BSE_grid.txt` file.

I suspect that this may not work as intended in conjunction with CompasHPC.

My concern is that if the user runs a grid file of N_lines run on HPC using N_batches, presumably the intended result is for each batch to run N_lines/N_batches (in order to speed up the run). Currently, I think you would get N_batches versions o

[2020-03-22 12:33] serenavinciguerra89 opened #157 "Add separation before SN in SN file"
Would be great to add the separation before the SN in the SN file :)

[2020-03-22 12:36] serenavinciguerra89 opened #158 "Printing bug: 'RocheLobe_1<CE' == 'RocheLobe_2<CE'"
I think in the CommonEnvelopes file the 'RocheLobe_1<CE' is the same as ''RocheLobe_2<CE', which shouldn't be always true.

[2020-03-23 21:03] #91 closed, assigned to jeffriley

[2020-03-23 21:04] #90 closed, assigned to jeffriley

[2020-03-24 04:09] jeffriley opened #160 "Circularisation timescale incorrectly calculated in BaseBinaryStar::ResolveCommonEnvelopeEvent()"
m_CircularizationTimescale is erroneously set equal to m_SynchronizationTimescale in BaseBinaryStar::ResolveCommonEnvelopeEvent().  Need to port calculateCircularisationTimescale() from legacy BinaryStar.cpp

[2020-03-24 04:11] jeffriley opened #161 "Splashscreen printed twice"
The splashscreen is printed twice  - defect introduced in v02.07.00.  Fix is simple.

[2020-03-24 04:18] jeffriley opened #162 "OPTIONS->UseFixedUK() always returns FALSE"
OPTIONS->UseFixedUK() always returns FALSE - should return TRUE if command line option --fix-dimensionless-kick-velocity is supplied by the user.

Defect introduced in  v02.06.02.  Fix is simple.

[2020-03-24 06:02] debatric opened #163 "Pulsars"
The runs give 'nan' as spin and spin down rate of the pulsar.  NS.cpp file requires to be updated in accordance to "pulsarAccretionInducedEvolution.cpp" in legacy COMPAS of branch "evolve_after_2nd_SN". Might need to edit BinaryStar too, as parts were edited in to add pulsar evolution.

[2020-03-24 09:10] jeffriley opened #164 "Tighten conditions under which we allow over-contact binaries"
Remove 'OPTIONS->CHE_Option() != CHE_OPTION::NONE ||' from IF statements at lines

82 if ((OPTIONS->CHE_Option() != CHE_OPTION::NONE || OPTIONS->AllowRLOFAtBirth()) &&                                                       // CHE enabled or over-contact binaries at birth allowed?

and

167 if ((OPTIONS->CHE_Option() != CHE_OPTION::NONE || OPTIONS->AllowRLOFAtBirth()) &&

[2020-03-25 07:33] reinhold-willcox opened #165 "Add number of evolved binaries to Run_Details"
Title pretty much explains it.

@Jeff could you add the number of evolved systems to the Run Details file? Thanks!

[2020-03-26 09:51] ilyamandel opened #166 "Add Coen's alternative model for core mass following MS mass transfer"

[2020-03-27 04:17] SimonStevenson opened #167 "Evolve after 2nd supernova"
We should make sure that all commits here http://gitlab.sr.bham.ac.uk/COMPAS/COMPAS/commits/evolve_after_2nd_SN after 10th Dec 2018 are ported over to new COMPAS. This includes some tweaks to timestepping for pulsar evolution (should check pulsar properties don't change more than few percent per timestep), and allowing the binary to contiue evolving after DCO formation.

[2020-03-27 10:09] ilyamandel opened #169 "Post-processing ehancements"
- Post-processing instructions could be extended a bit to include info on which packages need to be installed via pip install, jupiter notebook rather than ipython notebook may need to be run, etc.
- more gentle behaviour than code crash when some input (.csv) files are missing when running the h5 scripts
- default .csv file pre-factor starts with BSE_ , not reflected in default post-processing co

[2020-03-27 23:04] #162 closed, assigned to jeffriley

[2020-03-27 23:05] #161 closed, assigned to jeffriley

[2020-03-27 23:06] #158 closed, assigned to jeffriley

[2020-03-28 07:23] #160 closed, assigned to jeffriley

[2020-03-28 07:32] #153 closed, assigned to SimonStevenson, jeffriley, themikelau

[2020-03-28 07:33] #66 closed, assigned to SimonStevenson, reinhold-willcox

[2020-03-29 09:12] debatric opened #171 "MassTransferTracker printed in output"
The MassTransferTracker is printed to be "0" during CE mass accretion, even when there is accretion. It is not affecting the pulsar code, since it is taking into account the correct mass accreted, calculating the pulsar parameters correctly and updating the NS mass too. It is only the tracker that is not updated while printing.

[2020-03-29 09:15] debatric opened #172 "NS accretes no mass during RLOF"
NS accretes no mass during RLOF. The MassTransferTracker is updating the correct number, but since the NS is not accreting anything, it's mass is unchanged and the pulsar evolves as in isolated case. Was not the case in legacy COMPAS (DEMINK prescription of legacy being equivalent of HURLEY in Beta version).

[2020-03-30 07:39] #163 closed, assigned to SimonStevenson, debatric

[2020-03-30 21:09] ilyamandel opened #178 "Option descriptions returned by help command"
... should be updated to match what's in the updated documentation.

[2020-03-30 21:10] ilyamandel opened #179 "Output column name uniformity"
@ vs At, < and > vs Pre and Post -- we should settle on a single format.

[2020-03-31 17:12] FloorBroekgaarden opened #183 "ambiguous default header in supernova output - related to enhancement SN output."
the current supernova header (COMPAS v02.09.02) has as header names:

'Mass_CO_Core@CO_SN', 'Mass_CP', 'Mass_Core@CO_SN'

But I think this shouldn't be @CO_SN, but just "@_SN"?

It regards the 'Supernovae' CSV output files. (For some reason I can't add the CSV file so I attached a screenshot of the output file)

<img width="875" alt="Screen Shot 2020-03-31 at 7 12 18 PM" src="https://user-images.g

[2020-03-31 20:44] lokiysh opened #184 "Add pre supernova 1 parameters to the supernova output file"
At this moment, we are just printing pre supernova properties (like Eccentricity and Separation) for SN2. We should also be printing them for SN1. Actually, since we already have the SN_Type_SN field describing which SN event it is, it makes more sense to have just Pre_<Parameter> name.

[2020-03-31 20:49] lokiysh opened #185 "Add Which_SN event it is in the supernova file"
From the slack discussion ( https://compashq.slack.com/archives/CMCEQ0RS8/p1584992239352700 ),
it is now not so easy to determine if the given record from the BSE_supernova is for the first SN event in the binary or the second ? From what I understand, Supernova_State tells us if the primary star undergoes SN or the secondary, and not the whether its the first SN event or the second. So the only w

[2020-04-02 22:44] ilyamandel opened #189 "USSN terminology"
Suggest changing code terminology regarding USSN to avoid future confusion about when the star is ultra-stripped (so that when it explodes in the future, it will be a USSN) vs. the supernova itself.

[2020-04-02 23:12] jeffriley opened #190 "Timescale tx_HeGB (Helium Giant Branch tx) miscalculated in HeHG::CalculateTimescales()"
Timescale tx_HeGB (Helium Giant Branch tx) is calculated thus in HeHG::CalculateTimescales():

    timescales(tx_HeGB) = timescales(tinf1_HeGB) - (timescales(tinf1_HeGB) - (timescales(tHeMS) * pow((LTHe / gbParams(Lx)), p1_p)));

It should be:

    timescales(tx_HeGB) = timescales(tinf1_HeGB) - ((timescales(tinf1_HeGB) - (timescales(tHeMS)) * pow((LTHe / gbParams(Lx)), p1_p)));

That is, timescale

[2020-04-02 23:55] ilyamandel opened #191 "CO core mass should never decrease"
The CO core mass of a star cannot decrease during stellar evolution in our models.  Let's add some checks of this -- if it does, we know something fishy has happened.

[2020-04-03 05:13] ilyamandel opened #192 "CO core mass decreases when moving from EAGB to HeHG stars"
![image (2)](https://user-images.githubusercontent.com/512213/78326222-93637f80-75c5-11ea-821f-374b01e55c7a.png)

Coen identified that the CO core mass can drop during stellar type transition (see plot above, for a sample system identified by Coen with the following parameters:

Mass_1, Metallicity_1, Mass_2, Metallicity_2, Eccentricity, Separation
8.290966, 0.0142, 7.335256, 0.0142, 0., 5.176831

[2020-04-03 05:14] #191 closed, assigned to jeffriley

[2020-04-03 07:00] #190 closed, assigned to jeffriley

[2020-04-03 07:03] #192 closed, assigned to ilyamandel, cneijssel, jeffriley

[2020-04-04 01:54] TeamCOMPAS commented on #183
I checked the values of these variables in the output produced by Jeff for final testing, https://files.slack.com/files-pri/TLLF6Q46S-F01148DNPJ7/download/compas_output_h5_167500.tar.gz .

I see completely unphysical values for Eccentricity (up to 10^5) and Separation (negative) in some cases.  These do not match the values of Eccentricity<2ndSN and Separation<2ndSN, which at least look reasonable

[2020-04-04 01:56] TeamCOMPAS commented on #154
@SimonStevenson -- is this still a bug, or has it been resolved?  If so, please close this issue.

[2020-04-04 01:57] ilyamandel commented on #183
[Sorry, last comment was from me -- forgot that I was still logged in as TeamCOMPAS when making the repo public :) ]

[2020-04-04 04:45] SimonStevenson commented on #154
This is still a bug, I almost have a solution, will test it next week and
close with a pull request.

On Sat, 4 Apr 2020, 12:56 pm COMPAS, <notifications@github.com> wrote:

[2020-04-04 05:25] jeffriley opened #196 "Option values incorrectly initialised?"
In Options::InitialiseMemberVariables() the following variables are initialised  thus:

    zetaMainSequence = 2.0;
    zetaHertzsprungGap = 6.5;

yet in Options::SetToFiducialValues() they are initialised thus:

    zetaMainSequence = 6.5;
    zetaHertzsprungGap = 2.0;

I checked legacy code - they are initialised the same way.  Looks suspicious - typo?

[2020-04-04 05:46] jeffriley commented on #183
I don't mind raising an issue for the negative separation and large eccentricity values (though I think that is explained by the binary being unbound, and the issue is really what we should print in that circumstance), but if we elevate this issue to a defect we lose the original intent of the issue - to sort out ambiguities and confusion in the header strings.  I think the problem of negative sep

[2020-04-04 06:33] jeffriley commented on #164
Done in v02.09.00

[2020-04-04 06:33] #164 closed

[2020-04-04 06:34] jeffriley commented on #165
Done in v02.09.00

[2020-04-04 06:34] #165 closed

[2020-04-04 07:20] ilyamandel commented on #196
I believe these should be 6.5 on HG and 2 on MS.

[2020-04-04 07:21] ilyamandel commented on #183
Agreed.

[2020-04-04 07:32] avigna commented on #196
Typo indeed. Fiducial options should be:
zetaMainSequence = 2.0;
zetaHertzsprungGap = 6.5;

[2020-04-04 09:15] lokiysh opened #197 "Eccentricity<2ndSN should be renamed Eccentricity<SN"
And, the same applies to Separation<2ndSN and OrbitalVelocity<2ndSN. [Issue related to [183](https://github.com/TeamCOMPAS/COMPAS/issues/183)]

What is this?
These are the values for the respective parameters right before the SN took place.

Why should we do this?
Because the values are also correct (holds) for the 1st SN event. At this moment, for the first SN event, the header file reads them as

[2020-04-04 09:16] lokiysh commented on #184
Related to https://github.com/TeamCOMPAS/COMPAS/issues/197, hence closing it

[2020-04-04 09:16] #184 closed

[2020-04-05 00:25] reinhold-willcox commented on #183
Floor, Debatri, and I were discussing best naming conventions for the different supernova parameters the other day. Here is what we came up with: [vars.txt.](https://github.com/TeamCOMPAS/COMPAS/files/4432747/vars.txt) Would be great to get feedback from others on whether they like these new parameter names, at least in the output file (if not in the code itself).

I also think the negative separa

[2020-04-05 02:29] jeffriley commented on #183
Ok, I think we need to have a Zoom meeting to discuss this.

One example from your document :

I assume what you want here are two variables in the COMPAS code named massCompanion and mass Remnant, and their headers to be "Mass_CP" and "Mass_SN" respectively?  And presumably those variable need to be in the binary star class, because only the binary knows about a remnant and companion.

The variab

[2020-04-05 03:26] reinhold-willcox commented on #183
Sorry, I should have been clearer. All I'm really looking for is different headers in the output file, I'm not really bothered with what compas code calls them. The vars.txt columns are `suggestedNewName     current_name`

But I agree, we should chat about this at some point.

[2020-04-05 04:01] jeffriley commented on #183
Ok, here's my 2-cents' worth - something to think about before we get together to thrash this out.

There is a lot of confusion around what different columns and header strings mean in new COMPAS.  I think most of that stems from the fact that in new COMPAS all properties have one, and only one, associated header string – so that header string becomes the column header for that property regardless

[2020-04-06 01:38] SimonStevenson commented on #147
Did we do this? Can we close?

[2020-04-06 01:42] ilyamandel commented on #147
Thank you for the reminder, Simon!  I think it's safe to close this one.

[2020-04-06 01:42] #147 closed

[2020-04-06 04:54] SimonStevenson opened #199 "COMPAS random seed changes with time, documentation says it is fixed"
./COMPAS --help claims
--random-seed arg (=0)                                        Random seed to use (default = 0)

However running ./COMPAS a couple of times in succession will show you that the 10 random binaries are not identical, but change each time. @jeffriley says this is because he is using the system time as the default seed for the gsl random number generator.

There are 2 possible so

[2020-04-06 05:10] manodeep commented on #199
In case this is helpful, a good source of random bits is through the file-like interface of `/dev/urandom`. Simply reading in the requisite number of bytes from `/dev/urandom` with `fread` is the recommended (for non-cryptographic uses) method of "randomly" seeding RNGs. The `/dev/urandom` device is available on all Unix-like operating systems (https://en.wikipedia.org/wiki//dev/random). I will no

[2020-04-06 10:32] jeffriley opened #200 "Initialise variables"
Initialise the following variables where they are declared as noted below.  They are all actually initialised where they need to be, but the compiler throws a warning with the new makefile - this is just to suppress the compiler warning.

1. addAssign to false in Log::UpdateAllLogfileRecordSpecs()

2. massAfterMassLoss to 0.0 in BaseBinaryStar::CalculateAdaptiveRocheLobeOverFlow() and in BaseBinar

[2020-04-06 23:56] jeffriley opened #201 "Rand::Random(const double p_Lower, const double p_Upper) returns values greater than expected when p_Lower > 0"
Rand::Random(const double p_Lower, const double p_Upper) returns values greater than expected when p_Lower > 0.
 The return statement in Rand::Random(const double p_Lower, const double p_Upper) needs to change from

    return (gsl_rng_uniform(m_Rng) + lower) * (upper - lower);

to

    return (gsl_rng_uniform(m_Rng) * (upper - lower)) + lower;

[2020-04-07 00:10] SimonStevenson commented on #201
I confirm this is indeed an issue, and the correct solution

[2020-04-07 01:02] SimonStevenson commented on #201
@jeffriley Similarly, in
Rand::RandomInt(const int p_Lower, const int p_Upper)
should
`gsl_rng_uniform_int(m_Rng, upper) + lower;`
which would generate an integer in the range [lower, upper+lower)
be
`gsl_rng_uniform_int(m_Rng, (upper-lower)) + lower;`
which would generate an integer in the range [lower, upper]

Do we ever actually use this function?

[2020-04-07 01:13] jeffriley commented on #201
Fix for Rand::RandomInt(const int p_Lower, const int p_Upper) is to return:

    return gsl_rng_uniform_int(m_Rng, (upper - lower)) + lower;

No, not used currently (so no harm done with that one) - there in case anyone wants it.

[2020-04-07 01:45] #201 closed

[2020-04-07 03:50] SimonStevenson commented on #146
I have started putting this together on my fork
https://github.com/SimonStevenson/COMPAS/tree/Trying-out-CI

Here is an example of COMPAS successfully building
https://github.com/SimonStevenson/COMPAS/actions/runs/72366890

Currently, this is set to run on pull/push to master/dev and my test branch (which can be removed once we have it working).

To do:
- Add linux/ubuntu build
- Test make fast as

[2020-04-07 04:35] SimonStevenson commented on #197
I have put together a pull request here https://github.com/TeamCOMPAS/COMPAS/pull/204 which should address this.

[2020-04-07 04:44] SimonStevenson commented on #185
There is a field Supernova_State in BSE_Supernovae which is 1 if the primary star goes SN, and 2 if the secondary star goes SN. See explanation of this variable in COMPAS_Doc.pdf. This seems to do what you are asking for, so I will close the issue. If I have misunderstood, and you're actually asking for something else, please reopen with additional details.

[2020-04-07 04:55] SimonStevenson commented on #196
Fixed in PR https://github.com/TeamCOMPAS/COMPAS/pull/205 (I hope)

[2020-04-07 05:03] SimonStevenson commented on #157
I believe this was not really a problem, just the variable name was Separation<2ndSN. PR #204 changes this to Separation<SN, which should resolve this issue.

[2020-04-07 05:36] SimonStevenson opened #207 "Include link to git dev documentation to make it easy for people to find"
We should include a link to the git dev documentation
https://github.com/TeamCOMPAS/COMPAS/blob/master/docs/dev-git-workflow.md

Either on the homepage README.md
https://github.com/TeamCOMPAS/COMPAS/blob/master/README.md

Or from the Getting Started
https://github.com/TeamCOMPAS/COMPAS/blob/master/docs/getting_started.md

This will make it easier for people to find, and thus contribute to COMPAS.

[2020-04-07 05:41] #22 closed

[2020-04-07 07:23] SimonStevenson commented on #197
Merged into dev

[2020-04-07 07:23] #197 closed

[2020-04-07 07:24] SimonStevenson commented on #157
PR #204 merged into dev

[2020-04-07 07:24] #157 closed

[2020-04-07 07:24] SimonStevenson commented on #196
Merged into dev

[2020-04-07 07:24] #196 closed

[2020-04-07 07:31] SimonStevenson opened #209 "Implement mergers"
It would be nice to be able to continue the evolution of merger products using COMPAS. This would be useful for studying populations of e.g. supernovae and pulsars, which may originate from merger products.

I suggest as a starting point we implement the algorithm for determining the properties of (stellar) merger products from BSE (Section 2.7 in Hurley et al. 2002, https://ui.adsabs.harvard.edu/

[2020-04-07 07:32] SimonStevenson opened #210 "Implement tides"
It would be good to implement a model for tidal evolution in COMPAS. I leave the details to the interested reader.

[2020-04-07 07:45] lokiysh commented on #185
As described above, the Supernova_State tells us if the star that went SN was primary or secondary. However, it doesnt tell us if the SN was the first SN that happened or the 2nd. The secondary star could also be the first to go SN. This discussion is also recorded in the slack link pasted originally in the issue.

This issue therefore wanted a new field "Which_SN" (or better naming) that tells if

[2020-04-07 07:50] ilyamandel commented on #185
@lokiysh -- there is a Time variable in the SN file.  You can trivially check if there is another system with the same ID in that file and compare the SN times.  So I don't think this needs to be added as an extra field -- we do not need to make the evolution code more complicated and duplicate information that can be obtained through simple post-processing.

[2020-04-07 07:56] SimonStevenson commented on #146
Updated example building on Ubuntu
https://github.com/SimonStevenson/COMPAS/runs/566811599?check_suite_focus=true

[2020-04-07 22:55] jeffriley opened #211 "Links to test runs"
Don't close this issue.  It is here to record links to output files for test runs.

Put each new test run in a new comment.  Leave details so people can identify what's at the link.

[2020-04-07 23:00] jeffriley commented on #211
Test run of 1080000 binaries at Z=0.0142 using pythonSubmitDefault and COMPAS v02.09.06.

h5 file is available at:

[ https://drive.google.com/file/d/1G19qpcqYJRmu4jDs8oxHHVgS-0lB_YK7/view?usp=sharing](url)
[Run_Details.txt](https://github.com/TeamCOMPAS/COMPAS/files/4447352/Run_Details.txt)

Run_Details file attached - ignore random-seed and number-of-binaries - this was run in 36 batches of 3000

[2020-04-08 00:28] SimonStevenson commented on #105
Does anyone (@jeffriley @ilyamandel ) have an idea of where to make this change to fix this issue? I have also seen it in recent test runs. I'm happy to make the changes but thought I'd check if someone had figured it out first. Do we just need to implement `CalculateHeCoreMassOnPhase` for HeGB and HeHG stars, and make it return the total mass of the star?

[2020-04-08 02:12] jeffriley commented on #105
HeHG.h implements CalculateHeCoreMassOnPhase():

    double CalculateHeCoreMassOnPhase() { return m_HeCoreMass; }

Just change the line shown above to

    double CalculateHeCoreMassOnPhase() { return m_Mass; }

[2020-04-08 02:40] SimonStevenson commented on #105
Ah yes, I was looking in the wrong place for the implementation (I looked in the .cpp file instead of the .h file). I'll implement this change on a branch and test it before/after the change.

[2020-04-08 02:55] jeffriley commented on #105
Yeah - if the implementation is small enough the convention is to just have it in the .h file...  Perhaps we could note that in the developer part of the documentation.

[2020-04-08 02:58] ilyamandel commented on #105
I agree that @jeffriley 's suggestion should solve the printing problem, but it's still awkward that m_HeCoreMass will not hold the value we expect for this star.  I can imagine someone at some point using this value and being confused by the inconsistent results, so since there's no rush at the moment, would prefer a more internally consistent approach.

[2020-04-08 03:01] SimonStevenson commented on #105
As far as I understand, m_HeCoreMass will be updated correctly by the line

m_HeCoreMass  = CalculateHeCoreMassOnPhase();

in BaseStar::EvolveOnPhase()

[2020-04-08 03:02] SimonStevenson commented on #105
Running ./COMPAS -n 100 --random-seed 42 with both I still see a system with Mass_Total@CO_SN = 1.77 and Mass_He_Core@CO_SN = 2.81 (which was a type 8 HeHG star immediately prior to SN)

[2020-04-08 03:13] jeffriley commented on #105
Hmmm.  I'll take a look a little later today - probably around 3pm

[2020-04-08 03:19] SimonStevenson commented on #105
I'll keep looking into it

[2020-04-08 04:12] SimonStevenson commented on #105
I think I'm seeing a similar issue with a type 6 star (TPAGB star). This one has

Mass_Total@CO_SN = 1.39 and Mass_He_Core@CO_SN = 2.04

This suggests that this star should have been stripped and become a helium star.

I used seed=1, nbinaries=1 in standard pythonSubmit, detailed output on.

![masses_v_time](https://user-images.githubusercontent.com/6952112/78743771-eb71fb80-79a2-11ea-863b-7da56af

[2020-04-08 04:30] SimonStevenson commented on #105
Looks like ResolveEnvelopeLoss checks the CO core mass rather than the He core mass to determine if there is envelope loss. It also seems that the envelope mass variable is not being updated (see plot below). I think that we should properly update the envelope mass (here should be the hydrogen envelope, so Mtot - Mcore, and use that to determine if the star loses its envelope.

![masses_v_time](ht

[2020-04-08 08:39] themikelau opened #212 "RLOF and MT Output"
We should re-implement RLOF output (as in LegacyCOMPAS, but perhaps with improvements). More detailed discussion about how to implement this can occur below.

[2020-04-08 22:00] ilyamandel opened #213 "Initial conditions: Mind your p's and q's"
Include the option of sampling from the correlated initial distribution in mass, mass ratio, separation and binarity proposed by Moe and Di Stefano rather than our current uncorrelated initial condition distribution.

[2020-04-09 09:14] SimonStevenson commented on #105
Best I managed today

![masses_v_timestep](https://user-images.githubusercontent.com/6952112/78878777-46d0e600-7a96-11ea-8c0b-9ef59ea5e449.png)

It still doesn't change stellar type properly when it loses its envelope. I'll keep working on this

[2020-04-10 04:56] ilyamandel opened #214 "Git workflow"
There doesn't seem to be a link anywhere to dev-git-workflow.md any more -- unless one knows to look for it in docs, it's quite a challenge to find.  I think we should add a small section "For developers" to the main README.md file, with a single sentence including a link to this document.

[2020-04-10 05:11] ilyamandel opened #215 "MUELLER or MULLER?"
The help string in Options.cpp says:

"Natal kick velocity distribution (options: ZERO, FLAT, MAXWELLIAN, MUELLER2016, MUELLER2016MAXWELLIAN, BRAYELDRIDGE)"

However,  everywhere else in the code we use MULLER, not MUELLER -- so MUELLER2016 and MUELLER2016MAXWELLIAN are not, in fact, valid options.

[2020-04-10 05:12] ilyamandel commented on #215
(I'll fix this along with an update I am currently making, so no need to specifically address this.)

[2020-04-10 05:15] SimonStevenson commented on #214
Duplicate of #207

[2020-04-10 05:17] ilyamandel commented on #214
So it is -- sorry, didn't spot #207 , closing this one.

[2020-04-10 05:17] #214 closed

[2020-04-10 16:43] zuozyu opened #216 "COMPAS installation errors"
I’m installing COMPAS following https://github.com/TeamCOMPAS/COMPAS/blob/master/docs/getting_started.md,
However, when  compile  by running make -f Makefile. I have the following errors,

…
constants.h:828:1: error: converting to 'const std::tuple<ERROR_SCOPE, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > >' from initializer list would use explicit constructor 'c

[2020-04-10 16:52] FloorBroekgaarden commented on #216
Dear Zhaoyu Zuo,

Thank you for reaching out.

If I understand you correctly there are 2 issues:

**1) COMPAS is not compiling when using CPP = gcc. leading to the error message that you copied above.**

This is a tough issue, but most likely has to do with either the GCC or BOOST library. We have seen similar issues before when compiling COMPAS on a MacOS and some things that helped:

- indeed us

[2020-04-10 16:53] FloorBroekgaarden commented on #216
Lastly, I add that we are close to having a Docker for COMPAS, that should avoid similar problems with compiling COMPAS.

[2020-04-10 22:25] ilyamandel opened #217 "When are options required in pythonSubmit?"
AttributeError: 'pythonProgramOptions' object has no attribute 'kick_velocity_sigma_CCSN_NS'

I removed this option from pythonSubmit for a run which is using a kick prescription that does not use this parameter.   I think it's already not used for some of our existing kick options.  Presumably, the options that are needed only for specific prescriptions should only be required if those prescripti

[2020-04-10 22:31] ilyamandel commented on #217
Ditto for, e.g., 'fryer_supernova_engine' [raises an error even if the FRYER prescription is not being used].  Note this is a pythonSubmit issue, not a core COMPAS code issue.

[2020-04-11 03:45] jeffriley opened #218 "Lookup table for logfile definitions file parser changed erroneously"
COMPASUnorderedMap<STAR_PROPERTY, std::string> STAR_PROPERTY_LABEL in constants.h was changed erroneously in commit:

https://github.com/TeamCOMPAS/COMPAS/commit/aeabad6d0d78b7d7d3ab0d23b857f96951071e98

This map does not contain header strings - it is the lookup table for the logfile definitions parser, so should only be changed if properties are being added or deleted (or their names changed).

[2020-04-11 08:49] ilyamandel opened #223 "Possible issue with LBV winds"
There may be an issue with LBV implementation: there does no appear to be a flattening of the remnant masses due to LBV winds at high ZAMS masses that is described, e.g., in the appendix to Neijssel+, 2019.

Running single stellar evolution, COMPAS v02.09.08

Relevant settings:
metallicity = 0.0142
    mass_loss_prescription = 'VINK'
    luminous_blue_variable_multiplier = 1.5
    wolf_rayet_multi

[2020-04-11 14:58] floriskummer opened #224 "Inconsistency COMPAS Default and pythonSubmitDefault parameters"
I am not sure if there is a specific reason for this, but I noticed that many of the parameters specified in the pythonSubmitDefault file are different from the default options in COMPAS. I compared the Run_Details files between a run with pythonSubmitDefault and a run with all the COMPAS default values and found inconsistencies for the following parameters:

alwaysStableCaseBBBCFlag
circulariseBi

[2020-04-11 22:55] ilyamandel commented on #215
Fixed in 225.

[2020-04-11 22:55] #215 closed

[2020-04-11 23:37] ilyamandel commented on #224
Well spotted -- but not sure if it's really a problem.  I think the hard-coded defaults are mostly there so that there is some choice if the user provides none, not necessarily the best choice.  E.g., if tomorrow there's a new measurement of solar metallicity and we all agree that we should switch to using that as a default, we would update pythonSubmitDefault.py, but not the default value in the

[2020-04-12 00:12] ilyamandel commented on #199
Two sub-issues here:
1. The default choice should be to have a fixed random seed.
2. When something other than a fixed random seed is used, the random seed in runDetails should record the actual random seed that was used.

[2020-04-12 01:05] ilyamandel opened #226 "ERRORs when evolving binaries"
I get quite a few error messages (order of 1% of binaries) that look like

ERROR:  in BaseBinaryStar::EVOLUTION_STATUS BaseBinaryStar::Evolve(): Evolution of current binary stopped, (ObjectId = 91911300)

as well as a few (order of 0.1% of all binaries) that look like

ERROR:  in BaseBinaryStar::double BaseBinaryStar::CalculateAdaptiveRocheLobeOverFlow(const double): Unexpected Radius increase; Af

[2020-04-12 01:09] ilyamandel opened #227 "Profiling and object creation"
I find it astounding that we can sometimes create several hundred thousand objects to evolve an individual binary.  This is probably not good for computational cost. :)  Profiling would help...

[2020-04-12 02:26] ilyamandel opened #228 "Runaway flag -- does not seem to have a consistent meaning"
The Runaway flag (RUNAWAY_CP in BSE_Supernovae.csv) does not seem to have a consistent meaning.  It appears to be set to 1 if star 1 explodes in a SN that unbinds the binary, but to 0 if star 2 explodes in a SN that unbinds the binary.  [Not sure whether this is strictly necessary since we already have an unbound flag -- but if we use it, it should be symmetric.]

[2020-04-12 03:52] #207 closed

[2020-04-13 05:23] reinhold-willcox commented on #228
I thought runaway was supposed to refer only to non-compact object companion stars.

[2020-04-13 08:38] avigna commented on #226
This has to do with low-mass stars RLOF; they have a convective envelope and therefore expand rather than contract when stripped. Should lead to a CEE/merger. Not very relevant for massive systems, but definitely for low mass star (or stars that become low mass at some point).
Previosly I had some printing staments attached to them, but most printing statements have been removed during rewriting.

[2020-04-13 09:06] reinhold-willcox opened #229 "Incorrect fitting parameters in Muller 16 SN kick function"
In BaseStar.cpp +2791-2801

The constants in the function don't line up with those reported in Vigna-Gomez 2018 (eq. B5).

The piecewise ranges on m_CO are mostly* correct, but the constants that determine the kick in the code are double what they are in the paper (except for line 2794, which has a 250, where 200 would be the appropriate double). I'm not sure why this is, but it seems like a bug.

[2020-04-14 11:15] ilyamandel commented on #228
@reinhold-willcox: sure, my point is that this flag is not set consistently -- it appears to depend on which star exploded in a SN, not on the stellar type of the companion.  @jeffriley -- seed 13 from the test file you ran for me is an example.

[2020-04-14 22:31] jeffriley commented on #228
@ilyamandel Seed 13 from the test file I gave you has:

Stellar_Type_SN = 13 (NS)
Supernova_State = 2 (Secondary went SN)
Stellar_Type_Prev_SN = 8 (HeHG)
Stellar_Type_Prev_CP = 11 (COWD)
Unbound = 1 (TRUE)
Runaway_CP = 0 (FALSE - Companion star not runaway)

Runaway_CP is only set if the binary is unbound and if the companion is, as @reinhold-willcox mentioned, not a compact object.  Should it not

[2020-04-14 22:42] jeffriley commented on #217
@ilyamandel When you removed these options from pythonSubmit, did you just remove the declaration of the variables, or the entries in the Choices/Commands lists?

For example, in the case of 'kick_velocity_sigma_CCSN_NS', as well as removing the declaration:

    kick_velocity_sigma_CCSN_NS = 265.0

you also need to remove the associated entries from numericalChoices:

    self.kick_velocity_sigma

[2020-04-14 22:45] ilyamandel commented on #228
@jeffriley , @reinhold-willcox -- apologies to both of you, I misread the definition of RUNAWAY in the documentation.  I agree that the behaviour is consistent.  Closing this issue.

[2020-04-14 22:45] #228 closed

[2020-04-14 22:47] ilyamandel commented on #226
@avigna -- are both errors mentioned above caused by the expansion of low-mass stars during RLOF, or just the second one?

[2020-04-14 22:48] ilyamandel commented on #218
@jeffriley -- this has been fixed, right?  Can it be closed?

[2020-04-14 22:54] jeffriley commented on #218
Fixed in v02.09.09

[2020-04-14 22:54] #218 closed

[2020-04-14 22:59] ilyamandel commented on #217
No, I have not tried removing it from those lists.  I can confirm that removing them solves the problem.  I like your second option better -- but it doesn't seem to always work.  E.g., when I change

fryer_supernova_engine = None

I get

$ python3 pythonSubmitMullerMandel.py
python_version = 3
Traceback (most recent call last):
  File "pythonSubmitMullerMandel.py", line 716, in <module>
    runCom

[2020-04-14 23:01] jeffriley commented on #226
@ilyamandel @avigna Just the second.  The first:

    ERROR: in BaseBinaryStar::EVOLUTION_STATUS BaseBinaryStar::Evolve(): Evolution of current binary stopped, (ObjectId = 91911300)

maybe shouldn't be labelled "ERROR".  It is an informative message to let the user know that the evolution of the binary was stopped.  This can happen for two reasons:

    1. The maxmimum number of timesteps was reac

[2020-04-14 23:06] jeffriley commented on #217
I should have mentioned to use "False" instead of "None" for booleans.

In the case of fryer_supernova_engine, this works for me:

    fryer_supernova_engine = None

The error you are getting sounds like you may have deleted an option from the numericalChoices, but not from numericalCommands (or vice versa).  Maybe start with a clean pythonSubmit file.

[2020-04-14 23:29] ilyamandel commented on #217
I stupidly forgot that fryer_supernova_engine was a stringChoice, not a numericalChoice, so all is well.

Good to know for the future that None and False are valid options, thank you!

[2020-04-14 23:29] #217 closed

[2020-04-14 23:30] ilyamandel commented on #226
Thank you!  I'd still like to understand why we reach the maximum number of time steps, and it sounds like we should fix issue 2, so I am going to leave this open for now.

[2020-04-15 03:41] SimonStevenson commented on #105
I have started a PR #231 which implements the fixes above and addresses these issues.

[2020-04-15 03:43] SimonStevenson commented on #30
If this is already in new COMPAS, can we close this issue?

[2020-04-15 05:07] SimonStevenson commented on #223
Indeed I see Type 4 (CHeB) stars not losing any mass at all.
(example attached generated with same default input as Ilya above)
[SSE_Parameters_90.txt](https://github.com/TeamCOMPAS/COMPAS/files/4479220/SSE_Parameters_90.txt)

[2020-04-15 05:18] SimonStevenson commented on #223
![mass_v_timestep](https://user-images.githubusercontent.com/6952112/79301221-5afc6380-7f2c-11ea-9de5-f0e3baa9cec8.png)

[2020-04-15 05:19] SimonStevenson commented on #223
The orange dashed is the CHeB, so it seems mass loss completely switches off towards the end of the HG

[2020-04-15 06:12] SimonStevenson commented on #223
This seems to be because m_LBVfactor = 0 despite the fact that in the pythonSubmit luminous_blue_variable_multiplier = 1.5

possibly because this seems to be set in ./BaseBinaryStar.cpp:    m_LBVfactor       = OPTIONS->LuminousBlueVariableFactor(); rather than in BaseStar

The same also seems to be true for the WR factor. (edited)

So I think that we need to pull them out and make them be part of

[2020-04-15 06:19] SimonStevenson commented on #223
Or at least make sure the pythonSubmit values of  luminous_blue_variable_multiplier and wolf_rayet_multiplier get passed to the Star constructor when using single stars

[2020-04-15 06:40] jeffriley commented on #223
I believe the LBV factor and WR factor are passed as parameters to the BasStar() constructor...

[2020-04-15 06:46] jeffriley commented on #223
At least they are for BSE...  It seems they are not passed for SSE so both default to 0.0.  So yes, probably need to pick up the option values in main() and pass them there

[2020-04-15 06:49] SimonStevenson commented on #223
Yeah sorry, that's what I meant :)

[2020-04-15 23:32] reinhold-willcox opened #232 "Many fewer supernovae, no DCOs"
COMPAS version: v02.09.06
Relevant pythonSubmit attached, (converted to .txt because git issues couldn't sort out .py) [pythonSubmit.py.txt](https://github.com/TeamCOMPAS/COMPAS/files/4484115/pythonSubmit.py.txt)

---

I'm finding a weird issue where a default run of pythonSubmit with 100 binaries produces many fewer supernovae than previously, and no DCOs. I'm not sure when the issue first croppe

[2020-04-16 00:47] ilyamandel commented on #200
@jeffriley -- I think you already addressed this because I don't see any compiler warnings, right?

[2020-04-16 00:48] ilyamandel commented on #185
I haven't heard anything on this recently [no response to my last comment from 9 days ago], and as mentioned above, the information is available when parsing the SN output file.  So I am closing this issue.

[2020-04-16 00:48] #185 closed

[2020-04-16 01:39] SimonStevenson commented on #213
I agree. I think this will be much easier using the grid infrastructure. I think this would be a good thing to have in the python pre-processing scripts to generate initial conditions which we are hoping to put together (see issue #71).

[2020-04-16 01:52] jeffriley commented on #200
No, not that I recall.  It only happens with the new makefile which you may not be using

[2020-04-16 02:01] SimonStevenson commented on #200
I think maybe it's compiler dependent? (Because I also don't see any)

[2020-04-16 02:23] ilyamandel commented on #199
Actually, @SimonStevenson , do we really want the default choice to use a fixed random seed?  E.g., if you don't specify a seed explicitly when running pythonSubmit, do you want the seed of 0 to always be used?  If not, then perhaps the current behaviour is sensible, and we should just update the documentation.

[2020-04-16 02:25] ilyamandel commented on #199
[The documentation *is* correct in that the default random seed is zero if the user specifies that a fixed random seed should be used; but the default is also not to use a fixed random seed -- and if the seed is chosen randomly, it will, of course, over-write the choice of the default random seed.]

[2020-04-16 03:03] ilyamandel commented on #29
@cneijssel -- is there any evidence that this bug exists in the new COMPAS?  If not, we should close this issue.

[2020-04-16 03:03] ilyamandel commented on #30
@cneijssel -- is there any evidence that this bug exists in the new COMPAS?  If not, we should close this issue.

[2020-04-16 03:05] reinhold-willcox commented on #232
My bad, I had evolve_unbound_systems set to False. This is a non-issue.

[2020-04-16 03:05] #232 closed

[2020-04-16 07:39] ilyamandel commented on #223
@jeffriley -- I am confused. :)

Main.cpp creates a new single Star with
new Star(randomSeed, gV.mass, gV.metallicity);
[line 374]

and a new BinaryStar with
                    binary = new BinaryStar(ais,
                                            gV.mass1, gV.mass2, gV.metallicity1, gV.metallicity2, gV.separation, gV.eccentricity,
                                            gV.star1KickParamet

[2020-04-16 07:41] jeffriley commented on #223
Look for this in BaseBinaryStar.cpp:

        // binary star contains two instances of star to hold masses, radii and luminosities.
        // star 1 initially more massive
        m_Star1 = new BinaryConstituentStar(m_RandomSeed, mass1, metallicity1, {}, m_LBVfactor, m_WolfRayetFactor);
        m_Star2 = new BinaryConstituentStar(m_RandomSeed, mass2, metallicity2, {}, m_LBVfactor, m_WolfRayetFact

[2020-04-16 07:48] ilyamandel commented on #223
That was nicely hidden. :-)  OK, we should make an exact parallel for single stars.

[2020-04-16 07:50] jeffriley commented on #223
Yeah, I think we should clean it up and make it consistent.

[2020-04-16 21:50] jeffriley opened #233 "Incorrect circularisation formula used in BaseBinaryStar constructors"
The circularisation formala used in both BaseBinaryStar constructors is incorrect in that it does not take mass change into account.

The formula currently used is

    m_SemiMajorAxis *= (1.0 - (m_Eccentricity * m_Eccentricity));

It should be as used in BaseBinaryStar::InitialiseMassTransfer()

    double M = m_Star1->Mass() + m_Star2->Mass();
    double m1m2 = m_Star1->Mass() * m_Star2->Mass();

[2020-04-17 02:01] ilyamandel commented on #223
Testing Jeff's branch, winds appear fixed, continuing to test.

![LBVwindfix](https://user-images.githubusercontent.com/512213/79524140-13e4ae80-80a3-11ea-8caf-9d701090d69a.png)

[2020-04-17 02:49] ilyamandel commented on #223
Spot checking against wide binaries evolved with our BSE implementation indicates good agreement, so we Jeff's fix works:

![LBVwidebinaries](https://user-images.githubusercontent.com/512213/79526961-c91a6500-80a9-11ea-89d4-041a573df3d6.png)

[2020-04-17 02:53] ilyamandel opened #234 "The Helium core mass can exceed the total mass for massive SSE stars"
Plotting
STAR_PROPERTY::HE_CORE_MASS -  STAR_PROPERTY::MASS
at the penultimate timestep as a function of ZAMS mass.

SSE evolution with COMPAS v02.10.03

![Hevstotal](https://user-images.githubusercontent.com/512213/79527234-65dd0280-80aa-11ea-9901-dfff48fbf769.png)

zooming in:

![Hevstotalzoom](https://user-images.githubusercontent.com/512213/79527241-6c6b7a00-80aa-11ea-94d0-7058ca1fbe05.png)

[2020-04-17 03:10] ilyamandel commented on #223
Fixed in PR 235, closing.

[2020-04-17 03:10] #223 closed

[2020-04-17 04:36] jeffriley commented on #227
@ilyamandel didn't you say you would lead the profiling effort?

[2020-04-17 07:05] ilyamandel commented on #227
You have already done the heavy lifting by writing the profiler -- thank you, @jeffriley !

[2020-04-18 09:15] reinhold-willcox opened #236 "2nd supernova not printed in disrupted systems"
In systems which are disrupted in the first supernova, the second supernova is not printed. The evolve_unbound_systems flag is True (and these systems all exist in the DCOs output) so these disrupted systems are being evolved, but the second supernova specifically is not included in the output.

**To Reproduce**
pythonSubmit with evolve_unbound_systems = True, and number_of_binaries = 1000 (to com

[2020-04-18 10:44] ilyamandel commented on #227
@jeffriley -- interesting that in single stellar evolution, we call BaseStar::DrawSNKickVelocity a total of 13 times for the same star that goes SN.  Just an indication that we probably have a fair bit of repetitive execution. :)

[2020-04-18 11:43] jeffriley commented on #227
I am certain of it.  I thought I reduced as much as I could (or at least as much as I had time for without in-depth profiling) when I refactored, but there are still plenty of avenues for improvement.

[2020-04-18 21:27] jeffriley opened #237 "Documentation lags code changes for v02.09.07 - changes to <2ndSN properties"
**Describe the bug**

A change was made to "<2ndSN" properties in v02.09.07 - "Change eccentricity, semi major axis and orbital velocity pre-2nd supernove to just pre-supernova everywhere in the code".  The documentation (specifically the list of properties available for printing and their associated heading strings in Appendix C) still refers to the pre-change properties and heading strings and n

[2020-04-18 22:08] jeffriley opened #238 "SSE code samples kicks (since v02.10.01) - add kicks to SSE grid file"
**Is your feature request related to a problem? Please describe.**

No.  @ilyamandel moved the sampling of kicks into the SSE code path so that SSE would sample kicks - previously kicks were only sampled in the BSE code path.  The SSE grid file does not allow kick values to be supplied (c.f. the BSE grid file).

**Describe the solution you'd like**

Add ability for users to supply kick values via

[2020-04-18 22:13] jeffriley opened #239 "Add actual random seed used to Run_Details file"
**Is your feature request related to a problem? Please describe.**

No.  The Run_Details file records option values applied, so records any value the user supplied for --random-seed, however, if COMPAS is run without using a pythonSubmit file, the random seed is determined based on the time-of-day, and is not shown in the Run_Details file (though it is recorded in all of the output files).

**Desc

[2020-04-19 05:56] jeffriley commented on #236
Do we know if this was a problem in the legacy code?  If it also didn't print in legacy then I don't need to go and look for a defect - the functionality doesn't exist.  If it did print in legacy then I must have lost the functionality in the refactor.  I ask because I didn't think we thought evolving unbound systems worked properly in legacy - maybe this was one of the things that didn't work.

[2020-04-19 07:51] reinhold-willcox commented on #236
I'm not sure about legacy, but I'm fairly certain that previous versions of new Compas printed the supernovae correctly.

[2020-04-19 08:10] jeffriley commented on #236
Oh?  So we broke working functionality?  I don't suppose you can figure out what version broke the functionality?

[2020-04-20 04:43] reinhold-willcox commented on #236
I'll take a look, might be a while though.

[2020-04-20 04:57] SimonStevenson commented on #237
This is my fault (I updated the code but not the docs). As penance, I can volunteer to fix this issue.

[2020-04-20 05:30] SimonStevenson commented on #237
I noticed a possible procedural issue with this, not sure if I should start an issue: the documentation is stored as .docx and .pdf, which github treats as binary files. I think this means that if someone else had updated the documentation in a commit after the one I branched from, that my commit would wipe out their changes, rather than incorporating them/creating a conflict. I'm not sure what th

[2020-04-20 05:34] jeffriley commented on #237
Yeah it kind of grew.  It probably should be LaTex. Is there a MSWord to
LaTex converter?

On Mon, 20 Apr 2020 15:30 Simon Stevenson, <notifications@github.com> wrote:

[2020-04-20 06:12] reinhold-willcox commented on #236
Going back to v1.0.0, the behavior is different, but still very weird.

With evolve_unbound=True, and nBinaries=1000, I find that if a binary is disrupted at the first supernova, it only prints the second supernova if the first supernova resulted in a BH, not a NS. Turning on evolvePulsars does not affect this.

To summarize between versions w/ tag `beta` and `v1.0.0`:
- DCOs works properly always

[2020-04-22 06:43] SimonStevenson commented on #234
Do you really mean the helium core mass exceeds the total mass of the star? Shouldn't your y-axis be positive in that case? That is certaintly what I am finding any way.

Either way, I guess they should both be identical at this stage of evolution (for evolved helium stars, type 8), since:
CalculateHeCoreMassOnPhase(){ return m_Mass; }

I think this must be due to the order of operations, and that

[2020-04-22 06:46] SimonStevenson commented on #234
(PS before you say it, I'm sure that the order of operations is the same as in Legacy COMPAS :) )

[2020-04-22 08:06] SimonStevenson opened #243 "Add angular momentum loss due to stellar winds for single stars"
We should implement angular momentum loss due to stellar winds for single stars

**Is your feature request related to a problem? Please describe.**
At the moment, I believe single stars don't lose angular momentum through stellar winds. This hasn't really been important before, which is why it isn't there at the moment. This may be relevant for looking at CHE single stars.

**Describe the solution

[2020-04-22 10:09] ilyamandel commented on #234
Yes, I had mislabeled the axes, sorry, but the He mass was indeed larger than the core mass for stripped stars.  And yes, I agree with @SimonStevenson 's finding that the indices are one off: the He core mass is equal to the total mass of the star one step earlier for HeMS and HeHG stars.   Nice sleuthing, @SimonStevenson !

[2020-04-22 11:01] jeffriley commented on #234
Well... that wasn't what I was going to say :-)  Maybe it isn't.  Does it only happen for HeMS and HeHG stars?  If so, why not HeGB stars?  The operations should all happen in the same order (in EvolveOnPhase() and ResolveEndOfPhase()) but maybe they didn't in the legacy code - for a reason.

I do remember when I was refactoring that there were instances where I thought things happened out of orde

[2020-04-22 11:06] jeffriley commented on #234
Having said that, I thought I checked when refactoring that any reordering of calculations was benign, but maybe I missed something.

[2020-04-22 11:23] SimonStevenson commented on #234
I haven't checked for other types, but I would guess it happens for all helium stars.

[2020-04-22 20:40] jeffriley commented on #234
This is seen in the detailed output file?  If so, it may just be where we are printing the detailed output record.  I did add a few locations in an effort to pick up stellar type changes - sometimes we would miss a stellar type change in the detailed output file if stellar type changed very quickly.  Although I would have thought all required calculations would have been done in the BaseStar code

[2020-04-22 22:21] SimonStevenson commented on #234
Yeah you should see this in the detailed output for any massive (mzams > 40 Msol) single star.

[2020-04-23 00:39] jeffriley commented on #234
Ah, so that's in the SSE output file.  That's only printed in one place, so ignore my comments about the detailed output file - I thought this was in the context of BSE

[2020-04-23 02:02] SimonStevenson commented on #234
Another possible 'solution' could be that when we remove mass from a star, we check if that star is a helium star, and if so, we remove the same amount of mass from both the total mass and the helium core mass.

[2020-04-23 03:23] jeffriley commented on #234
Maybe.  I think we should first try to figure out why the values seem to be offset by one timestep.  I'll take a look over the weekend if you like.

[2020-04-23 04:46] reinhold-willcox opened #244 "Expanded grids: single parameters"
**Is your feature request related to a problem? Please describe.**
Not a problem, just 2 related features that I think would be useful in the future.

**Describe the solution you'd like**
I would like to have grids implemented with the flexibility such that a) if a parameter is not included, COMPAS has a default distribution for that parameter, and b) any compas parameter can be specified.

a) In

[2020-04-23 22:49] jeffriley commented on #244
Is (a) something better done outside of COMPAS?  I think @FloorBroekgaarden talked about scripts to build grid files.  If we do it inside COMPAS then someone will surely ask that we allow the specification of which distributions to use as the defaults...  Whereas if we provide scripts to build grid file outside of COMPS then the user can choose whatever distributions they want.

I think (b) is a g

[2020-04-24 09:05] FloorBroekgaarden commented on #244
Yeah, For (a) @lokiysh will soon release a script that makes it easy to specify which parameters are constant. It is being tested at the moment.

[2020-04-24 09:11] lokiysh commented on #244
I think @reinhold-willcox is already using that. And it can easily be used, at its current state, to include more parameters (for example remnant mass) provided COMPAS allows those parameters.

[2020-04-24 09:33] FloorBroekgaarden commented on #244
perfect! Thanks @lokiysh

[2020-04-24 22:05] jeffriley commented on #234
The problem is that we calculate the properties of the star for the current timestep (radius, luminosity, HeCoreMass, COCoreMass etc.), then we resolve mass loss via winds, then we print the properties.  For this problem in particular (He core mass exceeds total mass) we see a problem because for helium stars the He core mass is just the total mass, so when we calculate the properties of the star

[2020-04-24 22:12] jeffriley commented on #234
I think the solution is to resolve winds mass loss at the start of the timestep before calculating other properties, but it should be resolved using the duration of the previous timestep.  For the first timestep we would use a value of zero for the duration of the previous timestep, so no winds mass loss in the first timestep.

[2020-04-24 23:10] jeffriley commented on #234
Note that the fix described above only affects SSE.  The BSE code doesn't call the Star::EvolveOneTimestep() to evolve the constituent stars (except to calculate the timestep, and the results of those calls are discarded).  BSE code applies winds mass loss separately, and may exhibit the same problem as addressed by this issue - we should probably check that.

[2020-04-25 21:04] ilyamandel commented on #29
In the absence of any evidence that this bug exists in the new COMPAS code, I am closing this issue.

[2020-04-25 21:04] #29 closed

[2020-04-25 21:05] ilyamandel commented on #30
In the absence of any evidence that this bug exists in the new COMPAS code, I am closing this issue.

[2020-04-25 21:05] #30 closed

[2020-04-25 21:10] ilyamandel commented on #105
@SimonStevenson -- can this issue be closed after your fix in PR 231?

[2020-04-25 21:11] ilyamandel commented on #216
@zuozyu , @FloorBroekgaarden -- if this issue has been addressed, can we close it?

[2020-04-25 21:15] ilyamandel commented on #199
As described above, the documentation is correct in this case.  There is a related issue, #239 , to record the chosen random seed.  But here the behaviour matches expectation, so I am closing this issue.

[2020-04-25 21:15] #199 closed

[2020-04-25 21:18] ilyamandel commented on #179
Duplicate of #183 : Output column names are already being discussed there.
Closing this issue.

[2020-04-25 21:18] #179 closed

[2020-04-25 21:20] ilyamandel commented on #68
@FloorBroekgaarden -- is this an actual issue?  If not, suggest closing it.

[2020-04-25 21:22] ilyamandel commented on #24
Since new COMPAS does not use fixed timesteps, there is no reason to expect this to be an issue.  Closing in the absence of evidence that there is a problem here.

[2020-04-25 21:23] ilyamandel commented on #18
@FloorBroekgaarden , @lokiysh -- does this still need to be a separate issue?

[2020-04-25 21:24] ilyamandel commented on #12
@FloorBroekgaarden , @lokiysh -- does this still need to be a separate issue?

[2020-04-25 21:31] ilyamandel commented on #234
@jeffriley -- the issue is fundamentally that we are converting a differential equation into a difference equation.  If the tilmestep is small enough, then before/after are sufficiently close together that it doesn't make much difference which is used.  The only caveat is that when printing, I think we should print consistent values for all properties -- it's awkward if some have the "before" valu

[2020-04-25 22:23] lokiysh commented on #18
I dont think so, but since @FloorBroekgaarden created this, I will leave it upto her. Actually we might need to create a clean up ticket on the other hand.

[2020-04-25 22:29] jeffriley commented on #234
@ilyamandel understand - will that work when the timestep is large?  We plan to (at some stage) change the timestep calculation - is that going to be a problem?  We also need to look at BSE - I think we probably do the same thing there (i.e. calculate a bunch of stuff, then apply mass loss, so the mass we print in the output files will be reduced whereas He core mass etc. probably won't be).

Anyw

[2020-04-25 22:32] jeffriley commented on #234
Sorry, I missed this:

Not sure that is possible given that winds mass loss is applied separately and in different places for SSE and BSE.

[2020-04-25 23:23] ilyamandel commented on #234
@jeffriley -- exactly, so I think all masses should be adjusted in the winds function (which is the same, right?), not the EvolveOneTimestep function, which is different...  But maybe I need to check the code again. :)

[2020-04-25 23:24] ilyamandel commented on #234
And the time step should never be too large -- that's the point of our adaptive time step checks, to ensure convergence.

[2020-04-25 23:40] jeffriley commented on #234
No, they're different.  Wouldn't we also need to update for mass transfer for BSE?

Ok.  It just feels like a kludge rather than a proper fix to me, but I'll defer to you and Simon...

[2020-04-26 00:52] SimonStevenson commented on #24
I'm not sure I understand what you mean by "new COMPAS doesn't use fixed timesteps". The timestepping is fundamentally the same as in Legacy COMPAS (and in BSE), with suggested timesteps based on the evolutionary phase of the star(s), constrained by limits on changes to the properties of the star(s).  In practice, Jeff did fix a few bugs, but I'm not sure we know for certain whether this issue is

[2020-04-26 01:01] SimonStevenson commented on #105
Yes I think this can be closed. We are currently investigating a similar issue in #234

[2020-04-26 01:05] jeffriley commented on #24
I'm not entirely sure what the issue is :-)

It is true that I didn't change the mechanism for calculating the timestep other than fixing a couple of defects, but it also true that COMPAS doesn't use fixed timesteps - so I don't really know what @ilya/@alejandro mean when they refer to 'fixed-width timesteps'.

I'm also not sure I understand the plots, or in fact how they were generated - what doe

[2020-04-26 02:14] ilyamandel commented on #24
OK, I was under the wrong impression that new COMPAS used adaptive time steps which we discussed at some point (decreasing the time step size if the change in one step is too large, and occasionally proposing time step size increases).  Sorry, not sure why I was so confused.  Anyway, re-opening the issue.

[2020-04-26 02:15] ilyamandel commented on #105
Thanks, @SimonStevenson !

[2020-04-26 02:15] #105 closed

[2020-04-26 02:23] jeffriley commented on #24
Wait...

COMPAS does vary the size of the timestep - it is calculated for binaries in BaseBinaryStar::CalculateDt() and for single stars in BaseStar::CalculateTimestep() (and updated in places for mass loss I think).

So I still don't understand what 'fixed-width timesteps' means.  Or how @avigna divided the timestep by 10 (was the problem plot produced by changing the code or by printing every 10

[2020-04-26 02:35] jeffriley opened #246 "COMPAS complains if --single-star-mass-max <= --single-star-mass-min even when --single-star-mass-steps = 1"
**Describe the bug**
COMPAS complains if --single-star-mass-max <= --single-star-mass-min even when --single-star-mass-steps = 1, which doesn't make a lot of sense - if the user just wants to evolve 1 star then we should just use one of the values (I suggest --single-star-mass-min) and ignore the other

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is

[2020-04-26 02:58] jeffriley commented on #239
Added actual random seed to Run_Details file.

Note that COMPAS will check the environment variable GSL_RNG_SEED is fixedRandomSeed = false (i.e. the user did not supply a random seed via the command line options) and if GSL_RNG_SEED is set COMPAS will use that value as the default random seed.  If GSL_RNG_SEED is not set then COMPAS will use the system time to generate a random seed.

So if the u

[2020-04-26 02:58] ilyamandel opened #248 "Inconsistent remnant type when using the MULLERMANDEL prescription"
The remnant type can be labeled an NS even when the MULLERMANDEL prescription treats the remnant as a BH, because of inconsistent NS max mass boundaries.

[2020-04-26 02:59] jeffriley commented on #246
Changed Options.cpp to ignore --single-star-mass-max if --single-star-mass-steps = 1 (main.cpp already does this)

[2020-04-26 03:03] ilyamandel commented on #246
Resolved in PR #247.

[2020-04-26 03:03] #246 closed

[2020-04-26 03:04] ilyamandel commented on #239
Resolved in PR #247

[2020-04-26 03:04] #239 closed

[2020-04-26 04:20] jeffriley commented on #233
Corrected calculations in both BaseBinaryStar constructors

[2020-04-26 04:47] ilyamandel commented on #233
Addressed in PR #249 .

[2020-04-26 04:47] #233 closed

[2020-04-26 04:54] ilyamandel commented on #248
[Also check application to USSN]

[2020-04-26 05:43] jeffriley commented on #200
I surrender.  I don't see any errors anymore...  Closing this - I'll re-open it if they ever resurface.

[2020-04-26 05:43] #200 closed

[2020-04-26 12:53] zuozyu commented on #216
Dear Ilya Mandel,

Please help close this issue. I didn’t solve the problem according to the suggestion though, I updated
 to the latest version of macOS, then everything is ok. Thanks.

Best,

Zhaoyu

[2020-04-26 22:14] ilyamandel commented on #216
Dear @zuozyu :
I am glad that you've been able to get COMPAS running, and thank you for telling us what worked for you.
Best,
Ilya

[2020-04-26 22:14] #216 closed

[2020-04-27 05:04] SimonStevenson commented on #234
I just evolved a wide binary where the primary star was the same as the single star I was using to debug above (40 Msol, solar metallicity, output file attached). This issue does not appear to be present for binaries, i.e. I get

`
data['Mass_1'][isHeMS] == data['Mass_He_Core_1'][isHeMS]
data['Mass_1'][isHeHG] == data['Mass_He_Core_1'][isHeHG]
HeCoreMassMinusTotalMass = data['Mass_He_Core_1'] - da

[2020-04-27 05:25] SimonStevenson commented on #234
Is there a way we can make the code path for single stars and binaries fundamentally more similar than they currently are? I realise this may be a larger amount of work than a simple fix for this issue, but it seems there may be many issues where things work differently for binaries and single stars. This will also be useful (essential?) for properly evolving merger products (binary creating a sin

[2020-04-27 05:54] jeffriley commented on #234
They're not really that dissimilar.  The big differences that come to mind easily are:

(a) the timestep is calculated differently for single stars and binary stars
(b) the mass loss due to winds is calculated differently
(c) mass transfer

I'm not sure how to reconcile those between SSE and BSE to the point that we have a single(ish) code path.  I think we probably could, but it would take a bit

[2020-04-27 06:00] jeffriley commented on #234
We'd still have to do that in the context of a binary star of course.

Maybe not actually...  As I said above, they're not that dissimilar.  There are things that we have to do for binaries because they're binaries, but other than that I think they are fairly similar.  Maybe I need to understand better what you want more similar...

[2020-04-27 06:47] ilyamandel commented on #234
I am with @SimonStevenson  on this.  I would like to be able to use single-stellar evolution to check and debug certain aspects of binary evolution that apply to single stars (e.g., winds or supernova remnants), but it seems that the code paths are often too different to make this possible.  What if we think of single star evolution as just a binary with a primary that is the single star of intere

[2020-04-27 07:30] jeffriley commented on #234
I don't think they are that different.  All the Hurley equations are in SSE and BSE calls that code.  I assume you're talking about a really wide binary and a single star - so that the binary-specific stuff doesn't affect it too much?

What's different at the moment that applies to single stars (that I can think of):

(a) timestep calculation
(b) winds mass loss

Supernova kicks are now in SSE.

T

[2020-04-27 09:16] jeffriley commented on #238
Added kick functionality to SSE Grid file.  Updated docs.

[2020-04-28 23:04] avigna commented on #24
For the plot above, I had a COMPAS default run (stripes) that I compared to one ad-hoc run I made by hardcoding the timestep to be 1/10 of what COMPAS would choose. That got rid of the stripes. It was never properly implemented, IIRC.

[2020-04-30 08:59] SimonStevenson opened #251 "Implement Coen's new mass transfer stability prescriptions"
**Is your feature request related to a problem? Please describe.**
We should implement Coen's new mass transfer stability prescription into COMPAS.

**Describe the solution you'd like**
This consists of a few things: (@cneijssel correct me if I miss anything)

1. Allow user to change the definition of convective/radiative envelope from the current prescription (based on stellar type) to one based

[2020-05-01 00:15] SimonStevenson commented on #251
Regarding the first point (convective vs radiative envelopes).

This requires adding two new program options.

Firstly, one to choose the prescription, something like `determine_convective_envelope`, with two options, something like `STELLAR_TYPE` and `EFFECTIVE_TEMPERATURE`.

Secondly, one to set the threshold effective temperature for the new prescription. We can set the default to whatever valu

[2020-05-01 00:29] SimonStevenson commented on #251
Determining the envelope type is currently done on a star by star basis, in the function DetermineEnvelopeType.

[2020-05-01 00:37] SimonStevenson commented on #237
Has this been resolved now? I think the PR has been merged. We should start a seperate issue for the issue of maintaining the COMPAS_doc file

[2020-05-01 00:46] jeffriley commented on #237
Yes, let's do that

[2020-05-01 06:07] SimonStevenson opened #252 "Convert COMPAS docs to latex for easier version control"
**Is your feature request related to a problem? Please describe.**
The COMPAS docs are currently in docx format, which github treats as a binary format. This makes version control difficult (can't easily see changes, doesn't deal with conflicts nicely etc).

**Describe the solution you'd like**
We should convert the docs document into a file format that is easier to version control. I suggest late

[2020-05-01 06:09] SimonStevenson commented on #237
I have opened issue #252 to discuss this. Closing this issue.

[2020-05-01 06:09] #237 closed

[2020-05-01 07:40] SimonStevenson commented on #251
I have started working on this on a branch on my fork
https://github.com/SimonStevenson/COMPAS/tree/new_mt_stability

So far I've added the program options for 1) and have started implementing the new convective_envelope_prescription for the different stars.

Reminder to self: check units in temperature comparison

[2020-05-01 11:35] #224 closed

[2020-05-01 11:39] TeamCOMPAS commented on #12
Yes please. There is definitely some code that still needs to move, even if we focus on using STROOPWAFEL outside of COMPAS BPS code. I'm planning to work on this on the short term (i.e. within 2 months from now)

[2020-05-01 11:40] FloorBroekgaarden commented on #18
Yes please. There is definitely some code that still needs to move, even if we focus on using STROOPWAFEL outside of COMPAS BPS code. I'm planning to work on this on the short term (i.e. within 2 months from now)

[2020-05-04 01:52] SimonStevenson commented on #238
The associated pull request has now been merged, so closing this issue

[2020-05-04 01:52] #238 closed

[2020-05-04 01:55] SimonStevenson opened #253 "Implement supernova output for SSE"
**Is your feature request related to a problem? Please describe.**
For binaries, we have several summary outputs that summarise supernovae, common envelope episodes and double compact object binaries. Most of these don't make sense for single stars, so we don't have them, but a file tracking all supernovae that occur in a population of single stars would make sense.

**Describe the solution you'd

[2020-05-04 06:22] SimonStevenson commented on #251
Regarding point 2:

I'm currently a bit confused about our current zeta options, may need to ping @avigna and @cneijssel about this.

We currently have a common_envelope_zeta_prescription (which I believe is misnamed and should really be mass_transfer_zeta_prescription).

Somehow, even though our default choice of "common_envelope_zeta_prescription" is SOBERMAN, it seems that this only applies to

[2020-05-04 06:31] SimonStevenson commented on #251
Most of the mess is in BaseBinaryStar::CalculateMassTransfer

[2020-05-04 08:47] avigna commented on #251
Hi Simon, most of what you say is alright. Some comments (IMO):
1) Agreed about convective/radiatively envelope should just be a property of the star and not have to do with stability. Can be used for stability if needed.
2) Ge zetas were hardcoded. I remember doing minor tests for just defining zetas and q's and failing. Given my time constrains I ended up hardcoding them... but there should be a

[2020-05-04 08:56] cneijssel commented on #251
Zetas, stability, beta, gamma and the way we solve the orbit was done in multiple places with multiple projects/ideas behind it. Not familiar with the status of mass transfer and the stability in the new code. But given that it is ported from Legacy, it might have taken with it the entangled state of things. The naming of parameters made sense to me given the past prescriptions that we did.
Howeve

[2020-05-04 08:57] cneijssel commented on #251
Sorry if I repeat some of Alejandro's remarks, forgot to press enter, had the text ready some time ago.

[2020-05-04 09:08] avigna commented on #251
One of the things we should try to do to generalize (thinking forward) is getting away from stellar types (because of future addition of different stellar tracks) and quantities that rely on ZAMS (because of mass transfer). A least elegant approach is to do define stability parameters (zetas, q's) per stellar grid, but there might be a more elegant solution. I don't think HRD position in itself is

[2020-05-05 02:44] SimonStevenson commented on #251
@avigna Response to first post
1. Agreed and done.
2. Yeah I think there are a few choices we want.
    i) Arbitrary zetas for different stellar types
    ii) Zetas from models (e.g. SOBERMAN)
    iii) Zetas interpolated from data files (Ge2015)
    iv) Arbitrary critical mass ratios for different stellar types
3. Thanks for the clarification. My issue is with the naming of the option and the lack

[2020-05-05 02:46] SimonStevenson commented on #251
@cneijssel Thanks for the details. At the moment, mass transfer in COMPAS is the same as it always was. I want to generalise it and make it both more readable and more flexible whilst incorporating the option of using your new prescription. Your pseudo code should be very helpful for that, so thanks!

[2020-05-05 02:49] SimonStevenson commented on #251
@avigna Response to second post:
I think it will be difficult at the moment to have something which relies on anything other than basic stellar properties (mass, HRD diagram position) since that's all we really have. Even if we compute a grid of stellar models with zetas, they still won't account for binary interactions, so I don't think this is really feasible at the moment. However I don't think

[2020-05-05 06:39] SimonStevenson commented on #251
Here is some pseudo code for the new structure of the mass transfer function:

We enter mass transfer if one or more stars fill their Roche Lobe

Firstly, we need to determine if the mass transfer is stable

// Wrapper function to determine stability
STABILITY DetermineMassTransferStability(){

	// Create a variable to hold result, default is STABLE
	STABILITY stability = STABILITY::STABLE;

	swit

[2020-05-05 07:02] SimonStevenson commented on #251
Looks like what I refer to as STABILITY above already exists as MASS_TRANSFER

[code]

[2020-05-05 07:19] SimonStevenson commented on #251
I don't see where these are used though ...

[2020-05-05 07:38] jeffriley commented on #251
They're not as far as I can tell.  They were in constants.h in the legacy code (and only there I think), and I probably copied them over before I realised they weren't actually used.  I probably left them there because I thought they might be useful at some stage (but more probably through a reluctance to accept I had wasted some time copying something that wasn't useful...).

[2020-05-05 07:56] SimonStevenson commented on #251
Thanks Jeff! I think they will be useful! I'd appreciate your thoughts on the rest of this issue too when you have the time :)

[2020-05-06 01:42] reinhold-willcox opened #254 "Remove ID from output files"
**Is your feature request related to a problem? Please describe.**
The ID column in the output files seems to be redundant and/or misleading. It uniquely identifies binaries only on a given core, so IDs are repeated when using multi-core compas. The Seeds already provide the functionality of uniquely identifying systems (as well as providing random seeds).

**Describe the solution you'd like**
My

[2020-05-06 01:57] reinhold-willcox opened #255 "Update meaning of SN_STATE"
**Is your feature request related to a problem? Please describe.**
Currently, the SN_STATE parameter (in the code and output) is initialized to 0 (for no SNs), set to 1 after star1 supernovas, set to 2 after star2 supernovas, or set to 3 if both are simultaneous. In the output, there is no way to tell which system went first by looking at a single line of output (one would need to look at the time

[2020-05-06 02:06] reinhold-willcox commented on #255
@jeffriley tagging you to double check that this won't screw up any other dependencies in the code

[2020-05-06 03:18] jeffriley commented on #254
Good idea to remove ID from output file.  The ID is a debugging tool (Seed does not offer sufficient granularity to differentiate between objects).  The ID can always be added via the Output_definitions file if debugging.  ID should not be removed from the code.

Unassigned myself - anybody can remove ID from the default logfile specifications in constants.h

[2020-05-06 03:23] jeffriley commented on #255
There are a few place is the code that SN_STATE is checked and some action taken based on the value of SN_STATE - you just need to account for the changes in those places.

[2020-05-08 01:50] SimonStevenson opened #259 "Allow user to easily vary assumed mass transfer efficiency"
**Is your feature request related to a problem? Please describe.**

  --mass-transfer-accretion-efficiency-prescription arg (=THERMAL)
                                                                Mass Transfer Accretion Efficiency prescription (options:
                                                                THERMAL, FIXED, CENTRIFUGAL), default = ISOTROPIC)

(note a small bug, it says

[2020-05-08 04:34] jeffriley opened #260 "When using a grid file, ZAMS values not set when equilibrating masses and circularising a binary at birth"
**Describe the bug**
When either star of a binary undergoes RLOF at birth and the allow-rlof-at-birth program option is true we equilibrate the masses of the stars and and circularise the binary, then we recalculate other attributes of the stars (radius, luminosity etc.)based on the new masses.  When the initial parameters of the binaries are supplied by the user via a grid file we do not reset th

[2020-05-13 22:44] jeffriley commented on #251
Simon's pseudo-code looks like a good plan to me - we can refine if necessary as we see the actual implementation.

[2020-05-18 09:23] reinhold-willcox opened #261 "misnamed m_OrbitalVelocity"
**Describe the bug**
Some of the variables and functions with names which include *OrbitalVelocity* actually refer to OrbitalAngularVelocity. These include: m_OrbitalVelocity,m_OrbitalVelocityPrev, m_OrbitalVelocityPrime, OrbitalVelocity(). However, m_OrbitalVelocityPreSN and OrbitalVelocityPreSN() are set and used independently, and are implemented correctly.

**Label the issue**
`urgency_low`

[2020-05-20 22:22] ilyamandel commented on #248
Fixed and closing.

[2020-05-20 22:22] #248 closed

[2020-05-21 03:16] SimonStevenson commented on #154
@reinhold-willcox was asking about this, so I should try to finish this off

[2020-06-02 08:32] avigna opened #264 "Mass transfer: irregular stripping and evolution"
**Describe the bug**
During a mass transfer episode, the total mass of the system drops during one timestep and then increases on the next timestep. This seems to do with the donor giving away the envelope mass in the first timestep, without affecting the accretor or the orbit. Then, in the next timestep, it seems the accretor and orbit are solved as if part of the mass transfer episode. I only te

[2020-06-02 08:35] avigna commented on #264
Apparently I can't straightforwardly add python files here. I will therefore paste the code. Apologies.

[code]

[2020-06-02 08:48] avigna opened #265 "Add variable of maximum separation during life as a bound binary"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
I want to add two variables that keep track of the maximum separation and maximum size of L2 of a binary through it's history. Add it to printed quantities (not sure which file).

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-06-02 09:58] jeffriley opened #266 "KROUPA IMF returns incorrect value for mass"
**Describe the bug**
KROUPA IMF returns incorrect value for mass when initial_mass_min < 0.08 (first break) and initial_mass_max > 0.5 (second break).  Test of 10,000,000 stars created yields total mass too low by a factor of 10.

This does not affect the default in pythonSubmitDefault.py (initial_mass_min = 5.0 and initial_mass_max = 150.0).

**Label the issue**
urgency_low - This issue is not ur

[2020-06-02 15:25] avigna opened #267 "Common-envelope event: consistent calculation of final separation"
**Describe the bug**
In the ```BaseBinaryStar::ResolveCommonEnvelopeEvent``` function, the lambda structure parameter is calculated using the radius of the stars, but the final separation is calculated using the Roche lobe of the stars. This is wrong and particularly harmful when the radius is not simillar to the Roche-lobe radius.

**Label the issue**
`urgency_high`     - This is a very urgent is

[2020-06-03 08:21] reinhold-willcox commented on #264
@avigna Github is weird about adding certain file formats. If you rename the file to pythonSubmit.py.txt, it should be able to be uploaded.

[2020-06-03 09:54] cneijssel commented on #264
I didnt run a system but was reading code to understand what is happening were

If I understand correctly the masses of the stars are updated during mass transfer in
File : BaseBinaryStar.cpp
Function: BaseBinaryStar::InitialiseMassTransfer()

In there there is the code block:

`if ((m_Star1->UpdateAttributes(mass - m_Star1->Mass(), mass - m_Star1->Mass0(), true) != stellarType1) ||       // set n

[2020-06-04 02:59] reinhold-willcox commented on #264
@avigna Could you share your plotting script?

I checked Coen's suggestion that the binary total mass might not be updated in sync with the component masses, but in constants.h, in the BSE_DETAILED_OUTPUT_REC section, it looks like the total binary mass is not directly outputted. Are you summing the two component masses in your plot to get the total mass?

[2020-06-04 07:14] avigna commented on #264
My script is in MATLAB, do you still want it?
Yes, I do just add the masses to get the total mass.

[2020-06-04 10:38] reinhold-willcox commented on #264
Nah that's ok, I was just looking to check how you calculated total mass.

So I think I've figured out where the problem lies, but it's a bit of a maze. I'll post below once I've done a few more checks.

[2020-06-04 11:11] reinhold-willcox commented on #264
The issue is in both BaseBinaryStar::ResolveMassChanges() and BaseBinaryStar::CalculateMassTransfer. More explicitly, in the EvaluateBinary loop, the relevant calls are (1) to CheckMassTransfer(p_Dt), which in turn calls CalculateMassTransfer (if only one star is RLOFing), and then (2) to ResolveMassChanges().

I'll focus on ResolveMassChanges first. Here, the star masses are updated according to

[2020-06-04 11:18] reinhold-willcox commented on #264
This is better, because now the mass changes happen at the same time, but there's still the issue that the total mass is dropping and rising back up. This is because in CalculateMassTransfer, below `case ENVELOPE::CONVECTIVE`, we have the lines
[code]
So what's happening now is the PrintDetailedOutput(m_Id) is getting called twice in the same timestep. Here's a plot with these lines commented out:

[2020-06-10 07:11] avigna opened #269 "Common-envelope event: Legacy bug in eccentric RLOF leading to a CEE"
**Describe the bug**
This is a Legacy code that need to be checked and verified in COMPAS. Eccentric binaries which enter a common-envelope event might not be circularised (e.g. if `circularise_binary_during_mass_transfer = False`). If they are not, the energy formalis is solved using the semi-major axis instead of the periastron.

**Label the issue**
`urgency_moderate` - This is a moderately urge

[2020-06-11 12:28] avigna commented on #261
This should be closed once the NSKicks pull request is approved, right?

[2020-06-12 05:54] reinhold-willcox commented on #261
I haven't actually added this into the PR, I can do that now.

[2020-06-12 09:03] reinhold-willcox commented on #261
Created a new branch in `origin` with a PR into `reinhold-fork:ns_kicks`, but because ns_kicks is in a different repo, I can't link the issue. It's mentioned though (see above)

[2020-06-15 04:11] ilyamandel commented on #264
Great investigation, Reinhold -- good to see it's just a printing issue!

[2020-06-15 08:13] avigna commented on #264
@reinhold-willcox what about you make a PR and I take care of checking it? Likely at the end of this week, but that seems the best way for me to sit and carefully check what you suggest/did. Visually it looks okay, if there is an intrinsic bug or a bigged problem we can then revisit.

[2020-06-15 09:26] ilyamandel commented on #264
@avigna -- there is a PR, and I already checked it.  See the list of open PRs. :)

[2020-06-19 20:19] ilyamandel opened #271 "Resolve supernovae sequentially"
When two supernovae happen simultaneously, the instantaneous mass loss is unrealistically too large.  In practice, we do not expect the evolution of two stellar companions to be so similar that supernovae ever happen within an orbital period of each other.

We should instead always resolve two supernovae sequentially, adjusting the orbital parameters in between and picking a random location along

[2020-06-19 20:23] ilyamandel opened #272 "PPISN mass loss in pulsations"
We currently treat pulsational pair instability supernovae as losing all mass in one pulsation.  This increases eccentricity artificially relative to the expected behaviour of multiple pulsations.

Having multiple pulsations (effectively, multiple supernovae, solving for the orbital parameter changes after each one and picking a random point along the orbit for the next pulsation) would yield to a

[2020-06-19 20:31] ilyamandel opened #273 "Replace double core CE with two sequential single-core CEs"
Currently, we always assume that if both stars are evolved when CE commences, a double core CE  should unbind both envelopes; in reality, if stars are in very different evolutionary states, one may have a tighter-bound envelope that may remain bound throughout the CE event (i.e., the secondary may essentially be a point particle for the purpose of the CE resolution).

I propose that we always trea

[2020-06-21 07:59] reinhold-willcox commented on #271
@ilyamandel I'm wondering about the best way to approach this. A potentially simple way to do this is to evaluate the SNe in the same timestep but update the orbital parameters in between the two and randomly sample in the anomaly. But more generally, the problem arises when two stars have exactly equal mass, which is also unrealistic.

Is it worth it to add in a check for precisely equal mass sta

[2020-06-21 23:07] jeffriley commented on #271
We equilibrate the masses of the constituent stars (and circularise the orbit of the binary) in the following circumstances:

(a) At birth, if OPTIONS->AllowRLOFAtBirth() is TRUE and either of the constituent stars is overflowing its Roche lobe.

If after equilibrating and circularising either of the stars is overflowing its Roche lobe:

If OPTIONS->AllowTouchingAtBirth() is FALSE we declare a mer

[2020-06-24 07:43] reinhold-willcox commented on #271
@jeffriley thanks for clarifying. I'm on board, happy to hear arguments from others though.

[2020-06-25 05:48] jeffriley opened #275 "Previous stellar type sometimes not set when stellar type is changed"
**Describe the bug**

The stellar type of a star is usually only modified in the Star::EvolveOneTimestep() function - as it should be.  If the stellar type is changed in Star::EvolveOneTimestep() the stellar variable m_StellarType is changed to the new stellar type - and importantly the the stellar variable m_StellarType_Prev has already been set to the current stellar type (at the start of the ti

[2020-06-25 05:55] jeffriley commented on #275
[pythonSubmit_STPrevIssue.py.txt](https://github.com/TeamCOMPAS/COMPAS/files/4829307/pythonSubmit_STPrevIssue.py.txt)

(might have to remove .txt suffix first... git wouldn't let me upload a .py file)

[2020-06-25 07:53] ilyamandel opened #277 "Inconsistent He core mass values"
The He core mass value appears to be greater than the overall core mass or even the total mass in some cases.

I was checking the BSE_Supernovae.csv file.  First, the things which do make sense:
- the total pre SN mass, Mass_Total@CO_SN,  is always greater than or equal to the core pre SN mass, Mass_Core@CO_SN
- the core pre SN mass, Mass_Core@CO_SN, is always greater than or equal to the CO core

[2020-06-25 09:39] ilyamandel commented on #271
@reinhold-willcox , @jeffriley -- this is a very nice suggestion.  I rather like keeping the masses equal as a simple indicator that they went through mass sharing.  So I would vote for just resolving the two SNe sequentially in this case (say, always start with mass1).  This also matches my general intuition that we should avoid doing too many things during one time step.

[2020-06-25 10:44] demink opened #278 "Change default units for output effective temperature to Kelvin (and not solar temperature )"
My suggestion is to change the default unit for outputting  effective temperatures  in Kelvin: Teff (K) or possibly log10(Teff/K) following standard conventions in stellar astrophysics.   It currently is given in units of `Tsol`.  This is highly unconventional and will likely introduce confusion.

**Example**: `Teff_1` and `Teff_2` that are written to `COMPAS_Output/Detailed_Output/BSE_Detailed_Ou

[2020-06-25 10:44] jeffriley commented on #275
Fixed in v02.11.04

[2020-06-25 10:45] #275 closed

[2020-06-25 10:45] jeffriley commented on #266
Fixed in v02.11.04

[2020-06-25 10:45] #266 closed

[2020-06-25 10:45] jeffriley commented on #260
Fixed in v02.11.04

[2020-06-25 10:45] #260 closed

[2020-06-26 02:45] reinhold-willcox commented on #277
To add, Jeff and I looked into this and (P)PISN are also dependent on the HeCore mass.

[2020-06-26 07:27] jeffriley opened #279 "Erroneous code change in PR#276 for Issue #264"
**Describe the bug**
The following two lines in BaseBinaryStar::ResolveMassChanges() were erroneously changed in PR#268 for Issue #264

STELLAR_TYPE stellarType1 = m_Star1->StellarTypePrev();                                                 // star 1 stellar type before updating attributes
STELLAR_TYPE stellarType2 = m_Star2->StellarTypePrev();                                                 // sta

[2020-06-26 08:08] ilyamandel opened #280 "Stars undergoing RLOF at ZAMS after masses are equalised are removed from run even if AllowRLOFatZAMS set"
What the title says; immediate fix to be implemented.
Only affects random sampling, not runs from grid file.

[2020-06-29 01:21] ilyamandel commented on #280
Fixed in PR #281 , closing.

[2020-06-29 01:21] #280 closed

[2020-06-29 01:32] ilyamandel opened #283 "Reduce number of internal variables"
Reducing the number of internal variables will help with internal self-consistency issues that we sometimes suffer from.  For example, do we need m_CoreMass separate from m_COCoreMass and m_HeCoreMass?  Can we ask a star instead whether its core is the CO core or the He core?  I propose going through all internal variables and checking which ones can be trivially derived from others; in that case,

[2020-06-29 05:11] jeffriley commented on #279
After talking to Reinhold I'm closing this - we need to address this as part of a bigger issue

[2020-06-29 05:11] #279 closed

[2020-07-01 08:00] reinhold-willcox opened #285 "HeWD and COWD end states"
**Describe the bug**
COWDs do not have an IsSupernova function. One should be added for when M>Mch, which results in a MR.

HeWDs also do not have an IsSupernova, though it is not as clear how it should be defined. But they also don't have a ShouldEvolveOnPhase() (I think it inherits from BaseStar.cpp and defaults to true). So HeWDs I believe will just keep accreting and/or cooling until timesteps

[2020-07-02 01:13] #285 closed

[2020-07-02 01:13] reinhold-willcox commented on #285
Nevermind, I think I don't quite understand virtual functions.

[2020-07-04 11:05] ilyamandel opened #288 "We still do not output a self-consistent state in the detailed output file"
We do not always output a self-consistent state on a given line of the detailed output file.  For example, look at lines 960--965 of the detailed output file produced with the attached submit file.   Radius_1/RL has a value above one for a couple of steps when a stripped naked He star of barely a solar radius supposedly overflows its Roche lobe in a binary with a separation of a couple thousand so

[2020-07-05 06:24] ilyamandel opened #289 "USSNe (and some ECSNe) have a He shell at the moment of explosion"
Ultra-stripped supernovae (type 16) leading to NS formation should be stripped down to the CO core by the time the SN happens.  However, the He shell has a median mass of >1.3 solar masses according to the BSE_Supernovae output file (Mass_He_Core@CO_SN-Mass_CO_Core@CO_SN, the latter is equal to Mass_Core@CO_SN, as expected).

ECSNe (type 2) generally do not have a He shell, as expected, but a smal

[2020-07-05 15:12] avigna commented on #289
1) What does "type 16" means or comes from? New stellar type?
2) How do you determine if the star you report has been ultra-stripped?

[2020-07-05 22:08] jeffriley commented on #289
In this context, "type 16" is the SN event type - look for "enum class
SN_EVENT" and the preceding explanation in constants.h

On Mon, 6 Jul 2020 at 01:12, Alejandro Vigna-Gomez <notifications@github.com>
wrote:

[2020-07-06 06:24] reinhold-willcox opened #290 "Timesteps"
**Describe the bug**
The way we calculate timesteps is fairly convoluted and could be streamlined. In particular, many of the functions have similar names and they should be renamed to clarify what each one specifically does. We also currently do not use Ilya's smart step-size reduction, which is in a separate (but related) issue.

Below are all the relevant functions which are called for binary s

[2020-07-06 08:08] jeffriley commented on #290
Yes, timestep calculation is a bit convoluted.  Best if, as you suggest, we brainstorm at the pow-wow.

(From  memory) I think all the mass loss rate calculations return mDot in Msol/yr, but dT is in Myr.   I don't know why they are in different units of time, but I think I didn't change either of them because I wasn't sure at the time whether that would have side effects elsewhere in the code.

Y

[2020-07-06 13:46] reinhold-willcox commented on #290
^Thanks for clarifying all these.

This was a continuation of my thoughts from the previous sentence, which you answered in the block above.

In this function, dt is calculated and is the thing that is returned. Since we're working with a copy star, all the other functions that change the attributes of the copy (but leave dt unaffected) don't actually change anything. I think this is maybe because

[2020-07-06 23:05] jeffriley commented on #290
Oh, yeah, sorry.  I thought what you were talking about was inside the loop.  Inside the loop we do need to change the attributes, even of the copy - because we need to know if we overstepped.  But yes, if we knew that we didn't want the changes outside the loop applied we wouldn't need to do them - but as the code stands at the moment we don't know that.  The only reason not to execute those call

[2020-07-06 23:41] jeffriley commented on #290
You're talking about Star::EvolveOneTimestep(), right?  Yeah, it's the main function that gets called to advance the evolution of the star being evolved by a single timestep - it's called for all stars, not just copies.

[2020-07-07 10:34] reinhold-willcox commented on #290
But we don't actually do anything with the copy star, right? We calculate the timescales and mass loss, but in function [6], the copy is deleted once the dt has been retrieved.

[2020-07-07 10:45] jeffriley commented on #290
There are other places we evolve a copy star. (sorry for brevity - I'm
out,  so can't look at the code, so can't point out where)

On Tue, 7 Jul 2020 20:35 Reinhold Willcox, <notifications@github.com> wrote:

[2020-07-07 12:16] jeffriley commented on #290
Look at:

BaseStar::CalculateZetaNuclear()
BaseStar::CalculateZetaThermal()
BaseBinaryStar::CalculateAdaptiveRocheLobeOverFlow()
BaseBinaryStar::CalculateMassTransferFastPhaseCaseA()
BaseBinaryStar::CalculateMassTransfer()  (may not actually evolve here)

[2020-07-12 08:50] reinhold-willcox commented on #290
**Summary of current plan**

My understanding of timesteps is that we have the following constraints.

From Hurley, *for SSE only*:

- dt_k - a fixed fraction of either 1) the total time a star will spend in a given phase or 2) the remaining time on that phase (i.e the size of the timesteps will drop exponentially)

 - dt_e - the time remaining to the end of the current phase
 - dt_N - the remaini

[2020-07-16 06:27] SimonStevenson opened #291 "Implement Hall & Tout 2014 core radii"
**Is your feature request related to a problem? Please describe.**
Hall & Tout 2014 (https://arxiv.org/abs/1409.0254) show that the core radii in BSE (and thus in COMPAS) are inaccurate. Using the same stellar evolution code, they provide updated prescriptions for core radii in several evolutionary phases. They show that these can be important for the outcome of common envelope evolution.

**Descr

[2020-07-23 06:31] reinhold-willcox opened #293 "Logs.txt Wall Time formatting"
**Describe the bug**
In the output log_N.txt files, the last line is `Wall time = XX:XX:XX (hh:mm:ss)`. If either the minutes or seconds is < 10, then it is not printed with a leading 0. For example,

`Wall time = 0:2:3`, for 2min,3sec. It should be `Wall time = 0:02:03`

**Label the issue**

`urgency_low`      - This issue is not urgent

`severity_minor`    - This is a minor bug with minimal impa

[2020-07-23 13:10] avigna opened #295 "Binaries experiencing post-unbound interactions"
**Describe the bug**
When activating the `evolve_unbound_systems = False` flag, I noticed that some systems entering the CEE function had negative separations. My guess is that a check for RLOF in the form `is R_star>R_RL' keeps happening and will be true if semi-major axis < 0. Regardless, there were unbound systems engaging getting all over the CEE funtion.

**Label the issue**
`urgency_moderate

[2020-07-23 13:44] ilyamandel commented on #278
Fixed while I was in the middle of doing something else, will include in next PR.

[2020-07-24 02:12] ilyamandel commented on #278
Fixed in PR #297 .  Closing issue.  Thank you for raising it, @demink !

[2020-07-24 02:12] #278 closed

[2020-07-26 02:19] ilyamandel opened #300 "Adiabatic Zeta calculation should be based on the true core mass, not the He core mass"
The functions CalculateZadiabaticSPH(const double p_CoreMass) and CalculateZadiabaticHurley2002(const double p_CoreMass) expect a core mass on input.  When calling them to determine the star’s zeta (and hence stability) via GiantBranch::CalculateZeta() pre-PR #299 (or via BaseStar::CalculateZadiabatic() after PR #299 ), we always pass in the He core mass, not the core mass — meaning that, say, for

[2020-07-26 08:21] ilyamandel commented on #295
Fixed in PR #301 , closing.

[2020-07-26 08:21] #295 closed, assigned to reinhold-willcox

[2020-07-27 16:58] LiekeVanSon opened #304 "CE accreted onto BHs when using metallicities < 10^-4"
**Describe the bug**
When running COMPAS with default settings but very low metallicities (below 10^-4) some BHs are seen to accrete the complete envelope of the companion during a CE event, even though  common-envelope-mass-accretion-prescription = 'ZERO',  and eddington-accretion-factor = 1.
This results in merging BBHs with primary BH masses up to 80 Msun.

**Label the issue**
urgency_low, seve

[2020-07-30 06:48] #264 closed

[2020-07-30 06:56] avigna commented on #269
This was present in COMPAS and has now been fixed in as part of  https://github.com/TeamCOMPAS/COMPAS/pull/303 .

[2020-07-30 06:56] #269 closed

[2020-07-30 07:00] avigna commented on #70
I guess we could add a `contact_during_mass_transfer` flag and set it to true if it occurs.

[2020-07-30 07:01] #94 closed

[2020-07-30 07:05] avigna commented on #189
Agreed! My suggestion is for each star to have a `stripped` and `ultra-stripped` flag. And then in the case of an USSN, we can check for the `ultra-stripped` flag.

[2020-07-30 11:47] ilyamandel opened #306 "Unphysical hard binaries are created"
COMPAS finally succeeded in breaking through the speed of light barrier!  It can create binaries with orbital velocities of >10^{10} km/s, and separations of <1 m.  Of course, such binaries are unphysical.  An example is seed 606249 from the Mandel+ stochastic BPS solar metallicity run.

Preliminary testing indicates that such binaries arise when we enforce the stability of case BB mass transfer.

[2020-07-30 15:46] avigna commented on #267
This was sorted out as part of https://github.com/TeamCOMPAS/COMPAS/pull/303.

[2020-07-30 21:55] ilyamandel commented on #70
The trouble with option 1 is that a star may be stripped of its envelope during a MT episode.  We don't necessarily expect the entire initial star to fit in, just the final star, which would suggest using option 4 from @SimonStevenson 's list.  However, that radius is typically not available during MT itself, as the stars haven't yet been adjusted in the code, i.e., the check must happen later.

A

[2020-08-05 11:17] avigna commented on #267
This is already done as has been fixed during the rewriting of the code.

[code]

Both code refactoring and issue #303 sorted out this. No need to do anything else.

[2020-08-05 11:19] avigna commented on #267
This actually might explain why we had an immediate drop in DNS rates in the refactored version with respect to Legacy.

[2020-08-06 01:25] ilyamandel commented on #267
@avigna -- I see
double k1            = m_Star1->IsOneOf(COMPACT_OBJECTS) ? 0.0 : (2.0 / (lambda1 * alphaCE)) * m_Star1->Mass() * m_MassEnv1 / rRLd1Rsol;
     double k2            = m_Star2->IsOneOf(COMPACT_OBJECTS) ? 0.0 : (2.0 / (lambda2 * alphaCE)) * m_Star2->Mass() * m_MassEnv2 / rRLd2;		     double k2            = m_Star2->IsOneOf(COMPACT_OBJECTS) ? 0.0 : (2.0 / (lambda2 * alphaCE)) * m_Star2

[2020-08-06 07:11] ilyamandel commented on #267
Fixed by @avigna in #307 .

[2020-08-06 07:11] #267 closed

[2020-08-06 07:28] ilyamandel commented on #172
I can confirm that NSs can and do accrete mass with the latest code version, so if there was a bug, it got fixed.  [I could not test with @debatric 's pythonSubmit because it is no longer compatible with the new code.]  E.g. the red line on the plot below represents the mass of an NS, which accretes at around 2 Gyr once its low-mass companion overflows its Roche lobe.  I am therefore closing this

[2020-08-06 07:28] #172 closed

[2020-08-06 07:42] ilyamandel commented on #304
Hi @LiekeVanSon ,

OK, this one is tricky.  First, I don't think accretion is happening during the CE itself, I think these systems have immediate post-CE RLOF (can you check if Immediate_RLOF>CE flag is 1 )?

Second, we sort of have a cheat for mass transfer efficiency, and you discovered it.  We ask for the rate at which mass can be donated and the rate at which mass can be accepted, and the rat

[2020-08-06 08:04] ilyamandel opened #308 "Do not allow COMPAS to be run in regimes where we know COMPAS produces nonsense results"
We know that COMPAS, at least with the current SSE stellar evolution implementation, produces nonsense results at very low Z (where SSE equations have division by zero, etc.) and at high masses.  To prevent the user from getting nonsense results, we should simply disallow (i.e., not evolve) inputs that are known to produce nonsense results.  See, e.g., #304 .

[2020-08-06 08:04] ilyamandel commented on #304
Closing this one, see #308 instead.

[2020-08-06 08:04] #304 closed, assigned to nobody

[2020-08-06 08:10] LiekeVanSon commented on #304
Hi Ilya,

Thanks for checking!
The Immediate_RLOF>CE =1 should have been filtered out in my sample.

Good to keep in mind that this is how COMPAS treats mass transfer!

I agree that promting an error when Z<10^-4 is used seems like the best solution.

Cheers Lieke
________________________________
From: Ilya Mandel <notifications@github.com>
Sent: Thursday, August 6, 2020 9:43:12 AM
To: TeamCOMPAS/

[2020-08-06 08:15] themikelau opened #309 "Birth stars touching at periapsis not treated as merger"
In the BaseBinaryStar constructor in BaseBinaryStar.cpp, the "merger" condition (bool) is computed as
[code]
For an binary that is eccentric at birth, this would allow for periapsis contact. Instead, we should have something like
[code]
This bug would not have and will not affect any runs that assume only circular binaries are born, but would possibly affect runs made assuming some other eccentric

[2020-08-06 08:31] avigna commented on #229
This indeed seems to be a bug/inconsistency. There was a `dampingFactor = 2` which I seem not to have included in COMPAS. This was since Legacy and propagated to refactored. This likely means that the Muller+2016 kick results from Vigna-Gomez+2018 have an increased kick by a factor of 2 (with likely more disruptions).  Working on updating this to reflect what is on Appendix B of Vigna-Gomez+2018.

[2020-08-07 12:08] jeffriley commented on #211
Test run of 1,000,008 binaries using pythonSubmitDefault and COMPAS v02.13.01

2 runs: 1 at  Z = 0.0142, one at Z = 0.00142, h5 files and tarballs with raw (.csv) logfiles available at:

https://drive.google.com/drive/folders/1Yl68wr8YF7cSdrAdtdAhPfI3NTLnYX8J?usp=sharing

Run_details for one of the batches attached - ignore random-seed and number-of-binaries - this was run in multiple batches.  No

[2020-08-08 07:26] ilyamandel opened #311 "Fryer fallback-reduced kicks are not really Fryer fallback"
As far as I can tell, our fallback-reduced kicks do not quite match Fryer.  Fryer says in section 4.5:
“Additionally, compact objects formed with small amounts of fall back (Mfb<Mfb,small) receive full kicks (this includes some low mass BHs).”
In his case, Mfb,small is set to 0.2 solar masses; that means that typical NSs formed from progenitors with a CO core mass <2.5 M_\odot get the full kicks.

[2020-08-08 07:33] ilyamandel commented on #154
Any updates on this, @SimonStevenson , @reinhold-willcox ?

[2020-08-08 07:34] ilyamandel commented on #167
Any updates, @debatric ?

[2020-08-08 07:45] ilyamandel commented on #171
@debatric -- there is insufficient information to reproduce the bug.  As @SimonStevenson asked, it's impossible to tell whether you are referring to a code variable (if so, which variable is not being updated in what class?), or whether it is printed output (if so, which column / variable in which file)?   Please clarify this so we can either resolve or close if this is no longer an issue.

[2020-08-08 07:49] ilyamandel commented on #178
I think it's more up-to-date now, so closing this in the absence of specific issues.

[2020-08-08 07:49] #178 closed

[2020-08-08 07:54] ilyamandel commented on #226
This issue has been fixed with the latest changes to adaptive mass transfer, step sizes, etc., so closing it.

[2020-08-08 07:54] #226 closed

[2020-08-08 07:56] ilyamandel commented on #227
Closing the issue, since it's too non-specific and partially addressed with the latest code changes (though, of course, further optimisation is possible).

[2020-08-08 07:56] #227 closed

[2020-08-08 08:03] ilyamandel commented on #259
@SimonStevenson -- I fixed the bug in the help output, to appear in latest commit, will look at your other point in a moment.

[2020-08-08 08:28] ilyamandel commented on #259
The existence of CENTRIFUGAL was a lie -- it was not properly implemented and is now removed.

[2020-08-08 09:34] ilyamandel commented on #259
Actually, fixed MT was mostly implemented -- the input you want to set is  mass_transfer_fa = 0.5 -- it just wasn't quite correctly implemented. :)

[2020-08-08 10:08] debatric commented on #171
@ilyamandel after having a look at the old files that made me find the bug in the first place. I notice the 8th column of BSE_Pulsar_Evolution.csv file, 'MT_History' is the m_MassTransferTrackerHistory variable. Ordinarily after the formation of the first NS, my dominant channel would have stable MT and then CE, hence  m_MassTransferTrackerHistory being the values 2 and 4, denoting the steps. The

[2020-08-08 10:17] ilyamandel commented on #259
OK, should be fully implemented in PR #312 , closing now.

[2020-08-08 10:17] #259 closed

[2020-08-08 10:28] debatric commented on #167
I have updated everything except allowing evolution after DCO formation. Should I do the old way of introducing a new switch to turn on or off by the user if they wish to continue evolution after DCO forms ? We used 'evolve_after_2nd_SN' tag in the python submit file for legacy. Right now, this may be only needed for pulsar-related projects.

[2020-08-08 11:11] debatric commented on #171
This has been corrected when I check on the new version. I am hence closing it.

[2020-08-08 11:11] #171 closed

[2020-08-09 02:16] ilyamandel commented on #300
Since I've not heard any objections, I will implement this change in the next PR.  It should not make much practical difference, since we generally run with stable case BB MT, anyway, i.e., the value of Zeta for HeHG stars is irrelevant.

[2020-08-09 02:30] ilyamandel commented on #300
Fixed in PR #313 ; no impact for our default model with stable case BB, as expected.

[2020-08-09 02:30] #300 closed, assigned to ilyamandel

[2020-08-09 04:29] ilyamandel opened #314 "Units of orbital velocity in output file"
The column Orb_Velocity<SN in the BSE_Supernovae.csv file is labeled as having units of km/s, but in fact appears to contain the velocity in m/s.  If so, it should be recomputed (divided by 1000) before printing to contain the correct quantity.

[2020-08-09 05:08] ilyamandel commented on #277
This issue is fixed through PR #313 , closing.

[2020-08-09 05:08] #277 closed

[2020-08-09 05:10] ilyamandel commented on #189
Fixed in PR #313 , closing.

[2020-08-09 05:10] #189 closed

[2020-08-09 08:26] ilyamandel opened #315 "ResolveSupernova() can leave higher remnant masses than initial pre-SN masses for SSE"
At the end of GiantBranch::ResolveSupernova(), m_Mass can be larger than m_SupernovaDetails.totalMassAtCOFormation, despite the latest code fixes.  This leads to nonsensical negative ejecta masses being passed along.  This only seems to be an issue for SSE, not BSE.

[2020-08-09 08:28] ilyamandel commented on #315
(Note to self: confirmed this is not an issue for BSE, so need to understand why/where SSE and BSE paths diverge.)

[2020-08-09 10:06] jeffriley commented on #315
Do you have a pythonSubmit file and seed to duplicate?

[2020-08-09 10:13] ilyamandel commented on #315
Add the following at line 1733 of GiantBranch.cpp and run with the attached pythonSubmit file.

        if(m_Mass>m_SupernovaDetails.totalMassAtCOFormation){
            std::cout<<"SNERROR: "<< m_Mass<<" "<<m_SupernovaDetails.totalMassAtCOFormation<<std::endl;
        }

[pythonSubmitMandelMuller.py.txt](https://github.com/TeamCOMPAS/COMPAS/files/5047141/pythonSubmitMandelMuller.py.txt)

[2020-08-09 10:15] ilyamandel commented on #315
[I suspect there's just one extra step of evolution happening -- the remnant mass grows between the start and end of ResolveSupernova; if so, it may be easy enough to fix, but I want to actually use this as an excuse to better align SSE and BSE rather than putting a patch on SSE.]

[2020-08-09 12:16] ilyamandel commented on #289
Fixed for USSN by PR #313 .  ECSNe may happen in stars with He envelopes, so not necessarily a problem.  (Should return to ECSNe elsewhere, but not in this issue).  Closing.

[2020-08-09 12:16] #289 closed

[2020-08-09 12:24] ilyamandel commented on #183
@reinhold-willcox , @FloorBroekgaarden , @jeffriley , @lokiysh -- this is a great discussion.  One of the identified problems (...<2ndSN) has been moved to a separate issue.  I do not see any of the remaining features described here as a bug.  There may be room for a future enhancement as Jeff identified in the last post (allowing the same variable to mean different things in different output file

[2020-08-09 12:33] ilyamandel commented on #251
Sorry, I didn't notice this issue earlier, so inadvertently did some similar work to @SimonStevenson 's fork.  I added the FIXED_TEMPERATURE prescription to DetermineEnvelopeType() in version 02.12.05.  I still need to test the results carefully (got distracted by other code changes since) and add the Ge+ interpolated zeta calculations.  So keeping this issue open until this is checked.

[2020-08-10 07:09] jeffriley commented on #315
@ilyamandel I have not done anything with this yet, but @reinhold-willcox is making changes to SN handling - his nskicks branch makes some fairly significant changes to the BSE SN code flow (I don't remember is it touches the SSE code flow) - so you and he might want to discuss before you embark on your cleanup.

[2020-08-10 07:13] reinhold-willcox commented on #315
My PR doesn't touch the Giantbranch::ResolveSupernova function, just the BaseBinaryStar::ResolveSupernova.

That said, if Ilya is correct that some mass quantity is changing mid-timestep, then the changes I'm proposing to the structure of a full timestep would fix that. I haven't coded these up though, I'm still in the early stages of that.

[2020-08-13 05:07] reinhold-willcox opened #317 "Boost bracket_and_solve_root issue: unable to bracket root"
**Describe the bug**
Very rarely, the following error occurs.

[code]

**Label the issue**

`urgency_moderate` - This is a moderately urgent issue

`severity_moderate` - This is a moderately severe bug

**To Reproduce**
Steps to reproduce the behavior:
On the dev branch, version v02.13.03, run the generic pythonSubmitDefault on the attached grid file.

[bad_grid.txt](https://github.com/TeamCOMPAS/

[2020-08-13 05:56] reinhold-willcox commented on #317
What I notice is that the dM at each iteration is going down. It starts at 0.00205... (our guess), and although factor = 2 and is_rising = 1, the dM drops by half each time (instead of doubling), so boost throws an error when we drop below the system minimum float (or something like that).

[2020-08-13 12:24] warrickball opened #318 "Consistent use of tabs and spaces"
I've finally gotten around to downloading COMPAS and running the demo. It all worked as described (Fedora 32) without modifying the Makefile at all because I think `boost` and `gsl` are installed into default system-wide include paths anyway.

I couldn't help but have a quick look at the source and, though I don't really know C++, I started getting confused by indentation, which is variously done

[2020-08-13 13:04] ilyamandel commented on #318
Hi @warrickball ,

It's great to hear from you!  Hurray!  Glad that everything worked for you and ran out of the box!

I suspect I may be at least partly responsible for the spaces vs. tabs issue (as in, I know I've been inconsistent).   @jeffriley -- what do you prefer?

[2020-08-13 14:40] ilyamandel commented on #317
The solution is simple (catching an exception thrown by the boost root finder).  This, indeed, is very rare.

However, the ultimate reason for the issue is more complex, and has to do with our failing to properly set the core mass of newly minted HG and HeHG stars.  Fixing this has a potentially more significant impact.

Both issues will be addressed by PR #319 .

[2020-08-13 14:43] ilyamandel opened #320 "Exception handling"
Currently, errors and warnings are reported in text outputs, but evolution continues, potentially with unpredictable results.  There is even a risk that evolution could go into an infinite loop.  Throwing and catching COMPAS exceptions, ultimately leading to a termination of evolution, could be a safer mechanism for error handling.

[2020-08-14 04:15] jeffriley commented on #318
I prefer the way I did it when I refactored :-)  I agree whatever we choose we should be consistent, but that's hard to achieve with many developers all from different backgrounds.  I did put some style guidelines in the documentation.  Here are some of my preferences that I may or may not have put in the documentation:

- tabs for indentation (but could live with spaces) - as long as whether tabs

[2020-08-14 07:20] warrickball commented on #318
But the reader gets to decide how big a tab is while they read the code. After a quick glance, I'd say the current tabs are intended to be 4 characters but I use a different default because I work on code that forbids tabs, so I like to be able to see them quickly. In other words, I could make the code look OK to me by changing the tab-width to 4 characters. Maybe that closes the issue?

That said

[2020-08-14 08:22] jeffriley commented on #318
I believe they are - that's my preference.

That shouldn't be like that.  feel free to change anything you see like that

The trouble is choosing one everyone likes and will stick to.

You could always either find or write a code prettifier...

[2020-08-14 08:35] warrickball commented on #318
Ah, I've just looked at the *Indentation* section in the documentation and I now see that this is a known issue and that the docs do say that indentation is 4 spaces, which can reasonably be intepreted as "set tabs to 4 spaces". I'll have a look for the non-indenting spaces and maybe open a PR.

[2020-08-14 08:35] #318 closed, assigned to nobody

[2020-08-14 13:19] ilyamandel commented on #317
Solved by PR #319 , closing.

[2020-08-14 13:19] #317 closed, assigned to ilyamandel, jeffriley, reinhold-willcox

[2020-08-16 04:35] ilyamandel commented on #315
Fixed in PR #322 , closing.

[2020-08-16 04:35] #315 closed, assigned to ilyamandel

[2020-08-16 04:38] ilyamandel commented on #290
@reinhold-willcox -- just to let you know, I've already done away with some of the functions discussed above.  We can still do better, and I agree with the general suggestion of moving to adaptive time-stepping, or at least allowing for variable time stepping to check for convergence.

[2020-08-16 04:40] ilyamandel commented on #283
Some of this has been done already (e.g., m_Env has been removed).  Removing this issue as insufficiently specific.

[2020-08-16 04:40] #283 closed

[2020-08-16 04:43] ilyamandel commented on #265
@avigna -- if you are going to do this, please make tracking such a variable optional (with default of not tracking) -- we do not want to track extra internal states unnecessarily.

[2020-08-16 05:17] ilyamandel commented on #234
This is still an issue even after the latest PR, but I know that internally, the He mass does not exceed the total mass.  So, it's an issue in printing.  To be fixed next week. :)

[2020-08-17 03:58] ilyamandel commented on #234
Issue has been fixed by the latest PRs (I just messed up checking yesterday :) ).  Closing.

[2020-08-17 03:58] #234 closed

[2020-08-17 04:09] ilyamandel commented on #288
Being more familiar with the code now, I suspect this happens because we use stored values of variables rather than re-calculating them.  Most values except the basics like mass should just be re-computed on the fly rather than stored.  I'll try that out next.

[2020-08-18 11:17] jeffriley commented on #32
@ilyamandel Did you do anything to affect this issue when you fixed USSN in new COMPAS?

[2020-08-18 11:26] ilyamandel commented on #32
Not yet, but I have a plan for how to do this.  Will have to wait until I'm done with commenting on your paper, though, @jeffriley . :-)

[2020-08-19 11:04] ilyamandel opened #325 "Git workflow instructions refer to master, not production"
https://github.com/TeamCOMPAS/COMPAS/blob/dev/docs/dev-git-workflow.md refers to master, which has now been replaced by production.  Should be updated.

[2020-08-19 22:48] ilyamandel commented on #154
Status ping?

[2020-08-20 09:38] ilyamandel commented on #229
This has been fixed by @avigna in  #310 , closing.

[2020-08-20 09:38] #229 closed

[2020-08-20 10:31] ilyamandel commented on #65
Implemented in PR #326 , closing.

[2020-08-20 10:31] #65 closed

[2020-08-20 21:35] ilyamandel commented on #24
I've relabelled this issue into convergence checking. :)

[2020-08-21 05:30] reinhold-willcox commented on #211
@jeffriley we should set up a CI scheme to run 1mil binaries every time we update dev, and create the appropriate link. Not sure how to do that, but it saves you having to run it yourself each time.

[2020-08-21 05:35] reinhold-willcox commented on #154
@ilyamandel Sorry - just now getting to a backlog of git notifications.

I haven't looked at this in a while, but I can if desired. Should we assign priority labels?

[2020-08-21 05:37] reinhold-willcox commented on #325
There are other issues with the git instructions being outdated, I'll fix all those up in a future PR.

[2020-08-21 05:44] reinhold-willcox commented on #288
@ilyamandel
Can you clarify what you mean by stored vs recalculated? Do you mean when getter functions are written as `getParam() { m_Param; }` vs `getParam() { CalculateParamValue(); }` ?

My understanding (@jeffriley should confirm) is that repeatedly calling Calculate() functions to values which have already been calculated can add up, computationally, and that it was better to return `m_Param`

[2020-08-21 06:12] jeffriley commented on #154
I thought that's what the urgency and severity labels were for.  The most severe most urgent should be the highest priority shouldn't it? Urgency should be the first sort key, and severity the next.  Are they not granular enough?

[2020-08-21 06:17] reinhold-willcox commented on #154
Yes, I wrote that before remembering / assigning them!

[2020-08-21 06:17] jeffriley commented on #211
The problem we have at the moment is that we don't have a backend system to run 1M binaries on each update to dev.  I'm not sure whether our compile and docker build is done on a github server or whether Tim does it on his server for us - he was talking about the latter.

We might be able to provision an AWS instance through CI and do it that way - better (imo) to have our own server somewhere.  I

[2020-08-21 08:04] ilyamandel commented on #288
Yes, I mean getParam() { CalculateParamValue(); }

Most of the recalculations are very cheap.   In the few cases when they aren't, we can try to be more careful in checking that the value is still up-to-date at the time of printing.  But we can get bigger cost savings elsewhere, I am more worried about correctness for now.

[2020-08-21 08:13] ilyamandel commented on #254
@reinhold-willcox addressed this in PR #328 , closing.

[2020-08-21 08:13] #254 closed

[2020-08-21 08:13] ilyamandel commented on #261
@reinhold-willcox addressed this in PR #328  , closing.

[2020-08-21 08:13] #261 closed

[2020-08-21 10:32] ilyamandel commented on #32
Resolved in PR #329 , closing this issue.

[2020-08-21 10:32] #32 closed, assigned to nobody

[2020-08-22 04:24] reinhold-willcox commented on #288
I think this is fine for the short term, but might get in the way with consistency later on.

To clarify: throughout a given timestep, the binary shouldn't necessarily be self-consistent. Certain values will update before others, so the only time we can really guarantee that they all match up is at the end of the timestep. If we try to re-calculate some values mid-timestep, we run the risk that th

[2020-08-22 07:12] ilyamandel commented on #288
Quite the opposite -- this ensures that things are consistent at the moment of output.   See #331 for an example of what I have in mind.

BTW, so I don't forget, I am linking your useful comment on #282  here .

[2020-08-22 07:39] ilyamandel commented on #288
Let me use another example.  In the default detailed output, we have columns
    STAR_1_PROPERTY::OMEGA_BREAK,
    STAR_2_PROPERTY::OMEGA_BREAK,

Now, these used
double              BaseStar::OmegaBreak() const          { return m_OmegaBreak; }

How up to date was this quantity?  Well, given that we *never* set m_OmegaBreak anywhere in the code, you might imagine that it wouldn't print out anythin

[2020-08-23 02:28] ilyamandel commented on #288
@reinhold-willcox -- let me respond to your comments on  #282 here , since that is now closed.  You were concerned about a couple of things:

1. There is a sudden jump in the CO core mass on transition to a HeHG.
This is consistent with Hurley SSE: there is no CO core during He core burning (and no He core during H core burning), so they appear, and may have quite large initial values, on stellar

[2020-08-24 02:35] reinhold-willcox opened #334 "IsUnbound() calculation could mask a bug"
**Is your feature request related to a problem? Please describe.**
Current, IsUnbound is calculated using:
[code]
These should already be consistent, as in if e>1, a must be < 0.

**Describe the solution you'd like**
We should only use one of these, and possibly also add a check that if they are not consistent when called, we should throw an error.

I am happy to do this, but wanted to get other's

[2020-08-24 02:52] reinhold-willcox opened #335 "m_OrbitalVelocity* inconsistencies"
**Is your feature request related to a problem? Please describe.**

m_OrbitalVelocity and all of its extensions (Prev, PreSN, PostSN) are somewhat inconsistent. The SN-related values are assigned to a BinaryConstituentStar and the base and Prev values to a BaseBinaryStar. Some may also be superfluous.

**Describe the solution you'd like**
As the orbital velocity is a binary quantity (and not a qua

[2020-08-24 22:11] jeffriley opened #337 "Remove variable m_SecondaryTooSmallForDCO from BaseBinaryStar class"
**Describe the bug**
@avigna removed the 'only-double-compact-objects' program option in and associated code in v02.08.00.  The BaseBinaryStar class variable m_SecondaryTooSmallForDCO is not used now that the option no longer exists, and should be removed.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduc

[2020-08-24 22:17] jeffriley opened #338 "Remove PopulationDataPrinting program option"
**Describe the bug**
The PopulationDataPrinting program option seems to be superfluous - does anybody actually use it?  I don't see a good reason to keep it - it may have served a purpose once but I think it has been superseded by newer functionality.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**
C

[2020-08-25 10:53] ilyamandel commented on #236
@reinhold-willcox -- can this one be closed now following your latest PR?

[2020-08-27 06:37] ilyamandel opened #339 "Improved documentation for output records"
At the moment, without looking into the code, it is not clear when different output files are generated.  As a result, it's not clear what meaning the output variables have (e.g., are masses output before or after mass loss or supernovae, etc.).  This should be addressed in improved documentation.  Doing so will address issue #183  , so I am closing that issue.

[2020-08-27 06:39] ilyamandel commented on #183
Following extended discussion, the optimal solution is to improve documentation.  Opening issue #339 , and closing this one.

[2020-08-27 06:39] #183 closed

[2020-08-27 06:46] themikelau opened #340 "Add installation instructions for macOS Catalina and Zsh"
Add a comment about setting environment variables with zsh.

[2020-08-27 07:00] jeffriley commented on #211
Test run of 3,000,000 binaries using COMPAS v02.11.01a (v02.11.01 plus fix for issue #260).

https://drive.google.com/file/d/1Sv5UhPxdQvOIMhbWvpLFp6zXu0ZigqPE/view?usp=sharing

CHE was not enabled for this test.

Attached is the Run_Details file which shows the parameter setting used
[Run_Details.txt](https://github.com/TeamCOMPAS/COMPAS/files/5134588/Run_Details.txt)

A grid file was used that sp

[2020-08-27 07:12] jeffriley commented on #211
Test run of 3,000,000 binaries using COMPAS v02.11.01a (v02.11.01 plus fix for issue #260).

https://drive.google.com/file/d/1gqEpV8B_JSQ30K1_aNb4B23csdgQEpfc/view?usp=sharing

CHE PESSIMISTIC was enabled for this test.

Attached is a sample Run_Details file which shows the parameter setting used (the run was done across a number of AWS instances and the outputs consolidated later, so ignore the n

[2020-08-27 07:18] ilyamandel commented on #338
I use this, and since it's easy to turn this off in the pythonSubmitFile, @jeffriley agreed to allow me to continue using it -- so no need to remove the code, closing this issue. :)

[2020-08-27 07:18] #338 closed, assigned to nobody

[2020-08-27 08:02] avigna commented on #314
From the code
`        case BINARY_PROPERTY::ORBITAL_VELOCITY_PRE_SUPERNOVA:                       value = OrbitalVelocityPreSN();                                             break;`
and from getter
`    double              OrbitalVelocityPreSN() const                { return m_OrbitalVelocityPreSN; }`
so the variable of interest is
`m_OrbitalVelocityPreSN`.

In previous commit 45d3d88dd0ec339f355

[2020-08-28 07:22] jeffriley opened #342 "Change text appended to column headers in output files: improve clarity"
**Is your feature request related to a problem? Please describe.**

Each variable written to an output file has an associate header string.  If the variable can be associate with a single star then it might have "_1", "_2", "_SN", or "_CP" appended - to indicate that the variable refers to the primary star, secondary star, the supernova star, or the companion (to the supernova).

Sometimes that ca

[2020-08-29 04:39] ilyamandel commented on #70
As mentioned above, we do not keep track of the detailed stellar evolution during mass transfer.  Therefore, we can only require that stars do not overfill their Roche lobes immediately after a mass transfer episode.  However, even that is allowed: e.g., we do allow for stars to overfill Roche lobes after a common-envelope event, and we do allow stars to be long-term over-contact in the context of

[2020-08-29 04:39] #70 closed

[2020-08-29 04:41] ilyamandel commented on #306
I've implemented a test for stars touching (a proxy for L2 overflow and hence merger) after stable mass transfer, which resolves this issue, in PR #343 .  Closing.

[2020-08-29 04:41] #306 closed, assigned to ilyamandel

[2020-08-29 05:13] ilyamandel opened #344 "Check for L2 overflow"
Currently, we check whether stars are touching (e.g., left touching by an MT episode), and use this as a proxy for merger.  This check resolves to a check for whether the sum of the stellar radii exceeds the semi-major axis:

BaseBinaryStar.h:    bool                HasStarsTouching() const                    { return (utils::Compare(m_SemiMajorAxis, 0.0) > 0) && (m_SemiMajorAxis <= RSOL_TO_AU * (

[2020-08-29 05:24] ilyamandel opened #345 "Function name clarification"
We have several function names in the code that are repeated across different classes (without an inheritance relationship) and do different things.  An example is BaseStar::ResolveSupernova() and BaseBinaryStar::ResolveSupernova().  The former resolves the supernova for a single star: changes the mass, stellar type, assigns a natal kick, etc.  The latter updates the binary’s orbital properties in

[2020-08-29 06:17] ilyamandel commented on #255
Reopening temporarily since we rolled back PR #336 .

[2020-08-29 06:17] ilyamandel commented on #236
Reopening temporarily since we rolled back PR #336 .

[2020-08-29 22:45] ilyamandel commented on #309
Nice catch, @themikelau, but two points  :

1. Touching is a temporary proxy for L2 overflow (see my comments in issue #344 ).  We should eventually substitute the calculation of L2 overflow for testing for "touching", including at the start.

2. We allow for initially eccentric binaries in contact to circularise through mass transfer if the appropriate flags are set, which may (depending on setti

[2020-08-29 22:45] #309 closed, assigned to ilyamandel, avigna

[2020-08-29 22:47] ilyamandel commented on #311
@avigna , @SimonStevenson -- would be great to get your thoughts on my question above.

[2020-08-29 22:56] ilyamandel opened #346 "Current implementation of CHE may have unintended or undocumented consequences"
Some of the code for treating CHE stars may have unintended consequences, or intended but perhaps not fully documented consequences.  Two examples:
- the stellar rotation angular velocity is set to orbital angular velocity for any binary after CE or MT if CHE is enabled; this could have unintended consequences when treating tides;
- CHE binaries always circularise with a conservation of angular mo

[2020-08-29 23:38] jeffriley commented on #345
My thoughts.  Grab a coffee 😊

On the specific function mentioned here (BaseBinaryStar::ResolveSupernova()), I think there should be a function BaseBinaryStar::ResolveSupernova(), as well as BaseStar::ResolveSupernova().

What I was trying to do with BaseBinaryStar::ResolveSupernova() was have that function do everything that needs to be done, for the binary, in the event one of the stars undergoe

[2020-08-30 00:12] ilyamandel opened #347 "CalculateMassTransferOrbit may use the incorrect accretion efficiency fraction"
CalculateMassTransfer() correctly computes the accretion efficiency fraction, based in part on the prescription for MassTransferThermallyLimitedVariation().  However, CalculateMassTransferOrbit() recomputes the accretion efficiency fraction without taking this into account, leading to incorrect results for MT_THERMALLY_LIMITED_VARIATION::RADIUS_TO_ROCHELOBE.

Solution: pass the correctly computed

[2020-08-30 00:36] ilyamandel commented on #347
Addressed in PR #348, closing.

[2020-08-30 00:36] #347 closed, assigned to ilyamandel

[2020-08-30 04:31] ilyamandel commented on #345
I generally agree with most of what Jeff wrote above.  My objection is certainly not with the OOP paradigm.  I simply wish to clarify function names.  Here, I did not find them sufficiently clear.  I would not have this problem if the individual stars' ResolveSupernova() functions were called from BaseBinaryStar::ResolveSupernova() -- but they are not.  So the process of resolving stellar supernov

[2020-08-30 09:29] ilyamandel commented on #212
Now that we are bringing RLOF printing back (thanks, @themikelau ! ), there’s an important question about how we should deal with mass transfer from envelope-less donors (e.g., MS stars) that can happen over many timesteps.  Here are a couple of thoughts, but I am eager to hear other ideas:

1. The simplest option is to record an entry in the RLOF file whenever there is a mass transfer happening d

[2020-08-30 10:25] ilyamandel commented on #212
P.S. I decided to go with option 1 for now, in the interests of time, and because the number of output lines is not excessive (at most around 50 lines per case A MT, and an average of 5 lines per binary in the RLOF file, with the current time step cadence).

[2020-08-30 10:37] jeffriley commented on #345
But resolving stellar supernovae is up to the BaseStar class, which it does.  Then the binary star has to deal with it. Maybe the problem here is (my) poor terminology stemming from my limited understanding of the process.

My naive understanding is that one of the constituent stars explodes, and it deals with that (in BaseStar and its derived classes), then the binary has to deal with it.  The bi

[2020-08-30 11:18] ilyamandel commented on #212
Resolved with PR #349 , closing this issue.

[2020-08-30 11:18] #212 closed

[2020-08-30 11:20] ilyamandel commented on #345
On the contrary, I think I should stop distracting you and let you get on with more important things. ;-)

[2020-08-31 06:56] jeffriley opened #351 "Remove RLOF_ONTO_NS and RECYCLED_NS from SN_EVENT enum"
**Is your feature request related to a problem? Please describe.**
The SN_EVENT enum is an enumerated type that provides a limited set of type names for events related to supernovae.  The events RLOF_ONTO_NS and RECYCLED_NS crept into the SN_EVENT enum during refactoring of the code, but should not be grouped with supernovae events.

**Describe the solution you'd like**
The RLOF_ONTO_NS and RECYCL

[2020-08-31 19:50] avigna commented on #311
From what you describe, it seems that COMPAS doesn't exactly follows Fryer. Not sure if it was actually intended or not when coded, but I am happy with the way it works (i.e. kick always using the fallback factor).

If you want to be precise/thorough, maybe worth fixing and adding a feature where it is neglected; then allow the user to specify.

In practice, I prefer the way it is currently workin

[2020-09-01 17:39] TomWagg opened #352 "Update coalescence time calculation"
**Is your feature request related to a problem? Please describe.**
Not a problem, just an improvement. Peters (1964) equations can be wrong by factors of ~30-40%, new equation by Zwick et al. 2020 accounts for this.

**Describe the solution you'd like**
Change CalculateTimeToCoalescence to use new Zwick et al. 2020 equation 41 for coalescence time. This will both avoid numerical integration (added

[2020-09-01 20:58] ilyamandel commented on #352
Very nice, @TomWagg !   If I understand correctly (I only quickly glanced at Zwick+), their first correction should only impact eccentric binaries, increasing their merger timescales.  The second correction will be irrelevant for typical stellar-mass binary mergers through isolated binary evolution.  I'd like to check the paper more closely before including the code; will aim to do so ASAP, but pr

[2020-09-02 02:39] jeffriley opened #353 "Add record type to BSE detailed output file"
**Is your feature request related to a problem? Please describe.**

Records written to the BSE detailed output file are, or should be, written to the file as close as possible to the end of the timestep so that the data contained in the record represents the binary in a self-consistent state.  This precludes writing intra-timestep records to the file than might contain interesting data (temporaril

[2020-09-02 02:44] jeffriley opened #354 "Combine HYDROGEN_RICH and HYDROGEN_POOR output variables into a single variable"
**Is your feature request related to a problem? Please describe.**

We currently have separate variables, and so separate columns in the output file, for the flags HYDROGEN_RICH and HYDROGEN_POOR.  One is the boolean complement of the other - we only need one flag, and so one column.

**Describe the solution you'd like**

The legacy code included both rich and poor flags.  I left it like that when

[2020-09-02 10:26] reinhold-willcox commented on #236
@ilyamandel I think this problem was solved by the move from two supernova calls to one (which changed the evolution of some systems because it changed when the SN was called).

So I'll leave this out of the nskicks PR, but I think this counts as a valid bug that will need to be changed in the future, with the expectation that some systems will evolve differently.

[2020-09-02 10:34] reinhold-willcox commented on #353
I don't think we should be including outputs with the warning that they might be inconsistent. If they are (potentially) inconsistent, we probably should not be printing them. That just causes confusion.

I advocate only printing at the end of a timestep, when we can be sure that everything is consistent again.

[2020-09-02 10:42] jeffriley commented on #353
But you don't have to print the intra-timestep records if you don't want them - and if you want them you probably know they are not consistent.  The benefit is that it allows users flexibility - they can print intra-timestep values of variables to see what they are.

As long as it is disabled by default, and users have to turn it on (so presumably know that by doing that the values they get for th

[2020-09-05 02:44] ilyamandel commented on #352
@TomWagg -- I looked into this.  I am skeptical about the Zwick result, so am closing this issue until I get a clarification from Zwick.  I've forwarded my query to you, but for the public record, I'm also copying it here:

===

Dear Lorenz,

I was interested by your recent paper, https://ui.adsabs.harvard.edu/abs/2020MNRAS.495.2321Z/abstract , which provides a corrected calculation of the gravita

[2020-09-05 02:44] #352 closed, assigned to ilyamandel

[2020-09-05 10:14] #340 closed, assigned to themikelau

[2020-09-06 00:27] #354 closed, assigned to nobody

[2020-09-08 00:04] jeffriley commented on #253
@SimonStevenson @reinhold-willcox Have either of you done anything with this?  I'm doing some work on the logging code and I could implement the SSE supernova output as part of that.  Let me know if you want me to do it, and if you want to provide a list of attributes to include in the file.

[2020-09-08 01:15] SimonStevenson commented on #253
No sorry Jeff I haven't looked at this. If it would fit naturally with the restructuring you are doing, then that would be great.

I guess we want all of the parameters from the normal supernova file that make sense for a single star. I think that is:
ID     	    SEED    	Drawn_Kick_Velocity_SN	Applied_Kick_Velocity_SN	Fallback_Fraction_SN	SN_Kick_Theta_SN	SN_Kick_Phi_SN	SN_Type_SN	Mass_Total@CO_S

[2020-09-08 02:24] reinhold-willcox commented on #253
Haven't looked at this, thanks for taking it over Jeff!

[2020-09-09 05:07] jeffriley commented on #253
When I offered to do this I was comfortable in the knowledge it would take me a bout 30 minutes.  The logging code was written so t hat adding new log files entails specifying what columns are required (just a list of attributes), and writing a couple of 1-line wrapper functions that call the logging functions.  Then it's just a mtter of putting the function calls in the right place in the code, a

[2020-09-09 05:29] SimonStevenson commented on #253
haha oh no I think we've all been there. Sorry that this was such a pain, and thanks for doing this!

[2020-09-09 07:29] reinhold-willcox commented on #253
oof, sorry to hear it Jeff.

That brings up an interesting point though about the number of evolves and reverts the star is going through though...

[2020-09-09 07:44] jeffriley commented on #253
Indeed - that probably means we should look at implementing a better, adaptive, timestep mechanism

[2020-09-09 09:29] jeffriley commented on #253
Implemented in v02.15.00

[2020-09-09 09:29] #253 closed

[2020-09-09 09:37] jeffriley opened #361 "Implement a '--detailedOutput' program option for SSE_Parameters files"
**Is your feature request related to a problem? Please describe.**

The SSE_Parameters file is the SSE equivalent of the BSE_Detailed_Output file.  Prior to the implementation of the SSE Supernova file in v02.15.00, the SSE_Parameters files (1 for each star evolved) were the only artefacts of an SSE run, and it didn't make sense then to have the ability to disable/enable the output of the SSE_Para

[2020-09-09 09:46] jeffriley opened #362 "Make column headers consistent for MZAMS and RZAMS"
**Is your feature request related to a problem? Please describe.**

The column header string for the stellar property MZAMS is 'Mass@ZAMS'.  Originally the header string for the stellar property RZAMS was 'Radius@ZAMS', but at some stage it was changed to 'R@ZAMS'.

**Describe the solution you'd like**

I propose we make the header strings for these quantities consistent.  My preference would be '

[2020-09-09 09:55] jeffriley opened #363 "Make the column header strings for stellar properties LAMBDA_* consistent"
**Is your feature request related to a problem? Please describe.**

The stellar properties LAMBDA_* have the following column header strings:

    LAMBDA_DEWI              "Dewi"
    LAMBDA_FIXED             "Lambda_Fixed"
    LAMBDA_KRUCKOW           "Kruckow"
    LAMBDA_KRUCKOW_BOTTOM    "Kruckow_Bottom"
    LAMBDA_KRUCKOW_MIDDLE    "Kruckow_Middle"
    LAMBDA_KRUCKOW_TOP       "Kruckow_Top"

[2020-09-09 23:08] jeffriley commented on #20
@cneijssel Any update on this?  Is this something we need to address, or do we just need to understand it?

[2020-09-09 23:13] jeffriley commented on #51
@FloorBroekgaarden @themikelau just re-implemented RLOF printing.  Should we revisit this issue - is merging the RLOF and CE files still something we might want to do?

[2020-09-09 23:15] jeffriley commented on #146
@SimonStevenson  We've implemented CI - we build a docker image whenever dev is updated.  Do we want to add more tests?

[2020-09-09 23:21] jeffriley commented on #67
@ilyamandel @FloorBroekgaarden @themikelau @cneijssel @serenavinciguerra89

Issue https://github.com/TeamCOMPAS/COMPAS/issues/212 was recently closed when @themikelau re-implemented RLOF printing.

We still have issue https://github.com/TeamCOMPAS/COMPAS/issues/51 open, and this issue.

What's the plan?

[2020-09-09 23:23] jeffriley commented on #252
@SimonStevenson I've pushed the LaTex documentation to dev - ok if we close this?  (I just realised that the 'X' should be upper case - I guess my memory is not so good.  Maybe one day we should rename the directory in the repo...)

[2020-09-10 00:13] SimonStevenson commented on #252
Sure thanks for doing this. Closed.

[2020-09-10 00:13] #252 closed

[2020-09-10 00:15] SimonStevenson commented on #146
I don't think we have any additional automated tests at the moment, so I'm happy to close this. We should continue to think of extra automated tests we could run.

[2020-09-10 00:15] #146 closed

[2020-09-10 00:21] ilyamandel commented on #51
At the moment, we have all of the necessary information available, and it's not clear to me that there is much benefit to combining it into one file.  If there's some info that's desired in the RLOF file which is not currently available, it can be requested at runtime through the logging specification.  I am closing this issue.

[2020-09-10 00:21] #51 closed

[2020-09-10 00:22] ilyamandel commented on #20
I can look at this during today's code hack time.

[2020-09-10 00:23] ilyamandel commented on #67
This was an issue that was added when we were preparing for public release.  I agree that it duplicates #212 , which has now been closed, so I am also closing this one.

[2020-09-10 00:23] #67 closed

[2020-09-10 02:23] reinhold-willcox commented on #362
I concur, and also prefer Mass@ZAMS and Radius@ZAMS.

[2020-09-10 02:28] reinhold-willcox commented on #146
Agreed on additional tests, but this is something we should discuss on a call, there will probably be a lot of nuance and caveats to hash through.

[2020-09-10 09:34] jeffriley commented on #361
Actually, rather than over-think and over-complicate it, I'll just overload the current 'detailedOutput' option to do both - whichever mode is being run (SSE or BSE), the 'detailedOutput' option will mean enable the detailed output.

[2020-09-10 09:38] ilyamandel commented on #361
Sounds like the right solution, @jeffriley !

[2020-09-10 22:44] SimonStevenson commented on #361
Agreed

[2020-09-10 22:51] SimonStevenson opened #367 "Understand changes in DNS distribution for fiducial model"
**Describe the bug**
I have run a a population of a million binaries with COMPAS using default settings for things like kicks (so Fryer + high kicks for CCSN + low kicks for ECSN/USSN), and found only a handful of fast-merging DNSs, and they are of the very high eccentricity variety. I found that the distribution of eccentricities of DNSs from this new COMPAS run is skewed to high eccentricities;

[2020-09-11 00:51] ilyamandel commented on #20
As far as I can tell, we have correctly implemented Hurley's eq. (23) in MainSequence::CalculateGamma().

I am therefore closing this issue.  If there are specific instances of unreasonable behaviour that we encounter, we should raise a separate issue.

[2020-09-11 00:51] #20 closed

[2020-09-11 00:51] ilyamandel commented on #367
Sorry, ran out of time yesterday, but self-assigning.

[2020-09-11 01:26] ilyamandel commented on #367
A short run of 10,000 binaries indicates that the total mass equals the CO core mass at the time of the SN 209 times.  These are clearly ultra-stripped, but the SN type is recorded as 1 (CCSN) in all of these cases.  I'll sort out why it is incorrectly recorded once I am done with homeschooling / other meetings.

[2020-09-11 06:14] ilyamandel commented on #367
Update:
Ultra-stripped stars that are massive enough to become compact objects become ONeWDs after ultra-stripping.  However, ONeWDs always go through ECSNe, not USSNe.
Solution:
These stars should go through SNe right after ultra-stripping -- they are not WDs and shouldn't be called that.

[2020-09-11 08:10] ilyamandel commented on #367
Fixed by #369 .  Out of 10,000 binaries, I have 3677 regular CCSNe, 414 ECSNe and 302 USSNe.  Closing.

[2020-09-11 23:51] SimonStevenson commented on #367
Here are the same plots as above with #369 (COMPAS v02.15.02)

I do now see USSNe (type 16). However the low eccentricity, short orbital period DNSs are still missing.

![newCOMPAS_Porb_e_day](https://user-images.githubusercontent.com/6952112/92981357-d44cb200-f4dc-11ea-8458-774ae7d02c52.png)
![newCOMPAS_SN_type](https://user-images.githubusercontent.com/6952112/92981363-d747a280-f4dc-11ea-9a13-d9

[2020-09-12 00:30] ilyamandel commented on #367
Thank you, @SimonStevenson .  I will definitely take a look -- but if you have an example of a binary that you think should produce a short-period, low-eccentricity system, please let me know, that would definitely help.

Note that we've had differences in the yield of BNS binaries with new vs. legacy COMPAS from the get-go; I am not sure whether we ever compared their P-e distributions, so this m

[2020-09-12 00:48] ilyamandel commented on #367
P.S. @SimonStevenson -- can you please share the pythonSubmit file that you used (or otherwise list the settings)?

[2020-09-12 00:55] SimonStevenson commented on #367
I'll look into what happens to the tight binaries.

My pythonSubmit is attached (I had to change the extension to .txt to upload). For the physics settings, I just used the defaults, but I changed the separation, mass and mass ratio distributions to try to boost the efficiency a little. I can check whether relaxing them solves the issue.
[pythonSubmitDefault.txt](https://github.com/TeamCOMPAS/COMP

[2020-09-12 01:12] ilyamandel commented on #367
OK, I found a binary which is not behaving the way I think it should -- so at least now I have something to debug.  I suspect it might be a case of not properly accounting for the orbital evolution due to a SN and due to mass transfer when the two are happening in the same time step, but need to confirm further.

[2020-09-12 01:38] ilyamandel commented on #367
I think the problem is that I once again got caught out by the difference between calculating how stellar and orbital quantities should be adjusted vs. actually adjusting them in the current code setup.

I am now calling ResolveSupernova on the ultra-stripped star from its ResolveEnvelopeLoss() function, which is called from BaseBinaryStar::CalculateMassTransfer() after the orbital adjustment is c

[2020-09-12 01:52] jeffriley commented on #367
A question not really related to the actual problem here, but the problem description.  We recently (v02.13.07) removed the Options::SetToFiducialValues() function.  What do we consider to be our "fiducial model", and how do we keep it stable (i.e. should we now have a "fiducial" pythonSubmit file somewhere that doesn't get changed unless we add a new option/prescription that requires an addition

[2020-09-12 02:50] ilyamandel commented on #367
@jeffriley : Isn't that the pythonSubmitDefault?  [As an aside, we may want to discuss what the default values should be -- e.g., I'd opt for allowing CHE as a default.].

[2020-09-12 03:00] ilyamandel commented on #367
Update: it turns out that this helped diagnose a larger bug.  In BaseBinaryStar::ResolveSupernova, we were using PrevMass values for both the star and the companion to adjust the orbit on supernova.  Those values were set at the start of the tilmestep.  If something else happened to change the mass significantly (e.g., mass transfer), we could end up in a situation where the binary mistakenly thou

[2020-09-12 03:16] ilyamandel commented on #271
Should be addressed by PR #373.

[2020-09-12 03:16] ilyamandel commented on #367
Should be addressed by PR #373 , to be confirmed.

[2020-09-12 03:34] jeffriley commented on #367
Is pythonSubmitDefault stable?  If it is, then sure, it could be our fiducial model.

[2020-09-12 05:52] SimonStevenson commented on #367
I have a test running, should have results in a few hours.

[2020-09-12 08:54] SimonStevenson commented on #367
![newCOMPAS_Porb_e_day](https://user-images.githubusercontent.com/6952112/92991753-59f64f00-f529-11ea-925f-0d5184050e61.png)
Here's the Porb-e distribution with #373

[2020-09-12 09:00] ilyamandel commented on #367
That looks sensible to me... What's the yield of BNS per solar mass of star formation (number of BNS merging within 14 Gyr, via the pessimistic CE channel, and without immediate post-CE RLOF)?  I wonder if this helped solve the long-known issue that new COMPAS was under-producing BNS relative to legacy...

In any case, @SimonStevenson , should we close this issue (unless there's a specific problem

[2020-09-12 09:08] SimonStevenson commented on #367
Yes happy to close and thanks for all your work chasing this down! I'll figure out the formation efficiency and post it in a bit. Relatively, this yielded about twice as many DNSs as the first plot in this thread.

[2020-09-12 10:01] #367 closed, assigned to ilyamandel, SimonStevenson

[2020-09-12 10:04] ilyamandel commented on #367
On the contrary, thank you, @SimonStevenson -- this helped catch a bug that had nothing to do with ultra-stripped supernova handling.

[2020-09-12 10:04] #271 closed

[2020-09-12 22:50] jeffriley commented on #342
Unless there are any objections, I will implement this change some time this week.

[2020-09-12 23:16] ilyamandel commented on #342
No objections from me.

[2020-09-13 22:52] ilyamandel commented on #154
Closing this issue since @reinhold-willcox resolved it with #359 .

[2020-09-13 22:52] #154 closed

[2020-09-13 22:55] ilyamandel commented on #18
Closing this issue following #359 .  However, as I understand it, adaptive sampling is still not fully ready for non-expert users.  I suggest that the experts (@FloorBroekgaarden , @lokiysh , @reinhold-willcox ) set up a new Enhancement issue if that is the case.

[2020-09-13 22:55] #18 closed

[2020-09-13 22:57] ilyamandel commented on #314
@reinhold-willcox -- this is implemented in the changes you are waiting on me to check, right?

[2020-09-14 00:56] reinhold-willcox commented on #314
Sort of. It's implemented in the broader nskicks changes, but I'm submitting those incrementally now, so  it's on me to submit the next increment, not on you to check the previous PR.

[2020-09-14 07:08] reinhold-willcox opened #375 "Error in Hurley remnant mass calculation"
**Describe the bug**
I think there are errors in how we calculate the remnant masses (and types) using the Hurley prescription.

According to Hurley 2000, Eq. 92,
`M_NS = 1.17 + 0.09*M_core`
and M_core > 7.0 should lead directly to a BH (with a minimum mass of 1.8 M_sun).

Using the Hurley remnant mass prescription, I find many NS remnants formed with mCO > 7, which should be BHs. I also find that

[2020-09-14 07:56] avigna commented on #314
Okay, let me know if I need to check this again in any PR.

[2020-09-14 10:02] ilyamandel commented on #375
GiantBranch::ResolveCoreCollapseSN():

        case REMNANT_MASS_PRESCRIPTION::HURLEY2000:                                                         // Hurley 2000
            m_Mass                              = NS::CalculateRemnantMass_Static(m_CoreMass);

where
NS::CalculateRemnantMass_Static(const double p_CoreMass)    { return 1.17 + (0.09 * p_CoreMass); }

so this uses the total core mass, no

[2020-09-14 10:16] ilyamandel commented on #375
Should be fixed in issue in #376.

[2020-09-14 23:04] reinhold-willcox commented on #375
thanks @ilyamandel

[2020-09-14 23:06] #375 closed, assigned to nobody

[2020-09-15 06:18] #325 closed, assigned to reinhold-willcox, themikelau

[2020-09-22 17:58] TomWagg opened #378 "Analytic solution for rate normalisation from COMPAS mass cuts"
**Is your feature request related to a problem? Please describe.**
No, I just think there is a slightly simpler way of doing this.

**Describe the solution you'd like**
In [totalMassPerZ.py](https://github.com/TeamCOMPAS/COMPAS/blob/production/postProcessing/Folders/CosmicIntegration/PythonScripts/totalMassEvolvedPerZ.py), COMPAS finds the fraction of mass in COMPAS vs mass in total population in

[2020-09-23 04:27] reinhold-willcox commented on #378
@TomWagg naive question: is there a reason you have (1+0.5) split up in the denominator of your equation? Should that just be 1.5, or is the 0.5 supposed to multiply with something like in the numerator?

[2020-09-23 15:02] TomWagg commented on #378
@reinhold-willcox Sorry yes that should really just be 1.5. The reason I was splitting it up like that was to try to emphasise that I am summing the primary and secondary masses in case someone wasn't sure where the 1.5 came from.

[2020-09-24 06:08] ilyamandel commented on #378
@TomWagg -- only comment is that it might be useful to leave the old Monte Carlo in as an option, just in case someone chooses to sample from some weird distribution that doesn't easily lend itself to analytical integration.  But, of course, that's easy enough to re-include, so I am happy either way.

[2020-09-29 00:32] demink opened #379 "Layout issue in Readme.md (when viewing with MacDown.app)"
**Describe the bug**
Missing newline in Readme.md gives unintended layout in markdown, at least in a standard Markdownviewer for Mac.  Easy fix by placing a new line after "Furthermore,".

**Label the issue**
Very low urgency. Zero impact.
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**
1. View Readme.md in MacDown.app v

[2020-09-29 01:02] reinhold-willcox commented on #379
@demink You are not listed as an available PR reviewer - would you like to be added?

[2020-09-29 01:33] TomWagg opened #381 "Minor typos in alphaR and betaR for main sequence radius evolution"
**Describe the bug**
Some minor typos in the calculations of alphaR and betaR for calculating the main sequence radius changes.

**Label the issue**
`urgency_low`, `severity_minor`

**To Reproduce**
Two small typos:
1. File [MainSequence.cpp](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/MainSequence.cpp), [line 295](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/MainSequence.

[2020-09-29 03:09] TomWagg opened #382 "Typo in B constant for deltaR parameter for main sequence radius evolution"
**Describe the bug**
Missing -1 in calculation of B constant

**Label the issue**
`urgency_low`,`severity_moderate`

**To Reproduce**
Problem is with [BaseStar.cpp:547](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/BaseStar.cpp#L547). The constant B should be calculated as deltaR(M=2.0) but this is deltaR(M=2.0) + 1, there is a missing -1 at the end of the line. (See Hurley+2000 Eq.17)

[2020-09-30 16:43] TomWagg opened #383 "Typo in coefficient for final MS radius of stars with masses between 1.4 and 1.5 Msun"
**Describe the bug**
Typo in a coefficient for calculating the radius at the end of the main sequence. Affects stars with masses between 1.4 and 1.5 Msun.

**Label the issue**
`urgency_low`, `severity_minor`

**To Reproduce**
See file [MainSequence.cpp:line 407](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/MainSequence.cpp#L407). For the calculation of `y[1]`, the `a[2]` is used at the

[2020-10-02 20:02] TomWagg opened #384 "Mistake in calculation of the helium burning timescale for stars with M < M_HeF"
**Describe the bug**
alpha4 is missing some factors which leads to an incorrect calculation of the helium burning timescale.

**Label the issue**
`urgency_low`,`severity_minor`

**To Reproduce**
The timescale is calculated in [CHeB.cpp: line 932](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/CHeB.cpp#L932). It uses alpha4.
Alpha4 is calculated in [BaseStar.cpp:line 787](https://github.c

[2020-10-02 20:32] TomWagg opened #385 "Mistake in radius evolution on AGB for stars with masses M_HeF - 0.2 < M < M_HeF"
**Describe the bug**
Mistake in radius evolution on AGB for stars with masses M_HeF - 0.2 < M < M_HeF. Stars end up too cold (and so too large) during the AGB phase.

**Label the issue**
`urgency_low`, `severity_minor`

**To Reproduce**
See file [EAGB.cpp:line 491](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/EAGB.cpp#L481). For stars with masses in M_HeF - 0.2 < M < M_HeF, the values

[2020-10-03 02:05] ilyamandel opened #386 "Pre-draw random variable specifying mass choice for Mandel&Muller prescription"
In addition to the option for pre-drawing the random variable specifying the kick choice (the CDF value), the Mandel&Muller prescription also stochastically picks the mass, so requires another pre-drawn random variable for efficient AIS sampling.

[2020-10-03 05:34] ilyamandel opened #387 "Change to having a single SwitchLog command line argument and single switch log file for the run"
Avoid failures if BSEswitchLog is set to true while evolving single stars, or vice versa, by having a single SwitchLog command line argument that applies to both single and binary evolution.

Also, the SwitchLog should be a single file for the run. :)

[2020-10-03 05:45] ilyamandel commented on #379
Resolved by @reinhold-willcox with PR #380 , closing.

[2020-10-03 05:45] #379 closed, assigned to nobody

[2020-10-03 05:47] ilyamandel commented on #314
Fixed by @reinhold-willcox in PR #377 , closing.

[2020-10-03 05:47] #314 closed, assigned to avigna, reinhold-willcox, themikelau

[2020-10-03 05:49] ilyamandel commented on #213
Assigning to @Thillai96 -- but we agreed this is best handled through a grid file, outside the C++ code.

[2020-10-03 06:18] ilyamandel commented on #384
@TomWagg :

_Side Note: Not sure how things are usually done, but it is okay that m_alpha4 isn't defined at all in the function for calculating the timescale?_

m_Alpha4 is a class variable in the BaseStar class (see BaseStar.h) from which CHeB inherits.

[2020-10-03 06:56] ilyamandel commented on #381
Should be fixed by #389, closing.

[2020-10-03 06:56] #381 closed, assigned to ilyamandel

[2020-10-03 06:56] ilyamandel commented on #382
Should be fixed by #389, closing.

[2020-10-03 06:56] #382 closed, assigned to ilyamandel

[2020-10-03 06:56] ilyamandel commented on #383
Should be fixed by #389, closing.

[2020-10-03 06:56] #383 closed, assigned to ilyamandel

[2020-10-03 06:57] ilyamandel commented on #384
Should be fixed by #389, closing.

[2020-10-03 06:57] #384 closed, assigned to nobody

[2020-10-03 06:57] ilyamandel commented on #385
Should be fixed by #389, closing.

[2020-10-03 06:57] #385 closed, assigned to ilyamandel

[2020-10-04 06:28] ilyamandel opened #391 "Include step size multiplier relative to default"
An optional step size multiplier relative to default would be very useful for testing convergence (if none is provided, should be assumed to be 1.0).

[2020-10-05 12:14] reinhold-willcox opened #393 "Separation to SemiMajorAxis"
**Is your feature request related to a problem? Please describe.**
Proposed enhancement: there are a number of places where we refer to separation when we mean semi-major axis. Most notably in the output headers, but also in some places in the code.

I think this is needlessly misleading, but I'd like to hear what others think before making the changes. It may take some careful trawling through th

[2020-10-05 12:21] reinhold-willcox commented on #393
Output of some of the places where this could be misleading

[code]

[2020-10-06 10:12] ilyamandel commented on #391
Resolved in PR #392 , closing.

[2020-10-06 10:12] #391 closed, assigned to ilyamandel

[2020-10-07 22:41] SimonStevenson opened #394 "COMPAS hangs while evolving a ~0.79 solar mass single star at solar metallicity"
**Describe the bug**
COMPAS hangs while evolving a ~0.79 solar mass single star at solar metallicity using default settings.

**Label the issue**
Please label the 'severity' and 'urgency' of this issue. You can choose:
`urgency_low`      - This issue is not urgent
`severity_moderate` - This is a moderately severe bug

**To Reproduce**
Run COMPAS to evolve low mass single stars in the mass range 0.

[2020-10-08 00:28] jeffriley commented on #394
The problem is that low mass stars live for a very long time...  In this case they are all evolving for > 14Gyr - the detailed output files show that the age grows, then wraps back to 0 - at which time (!) bad things happen.  Some stars eventually switch stellar types if they are evolved for long enough (several time the age of the universe), but others just keep on evolving...

[2020-10-08 08:38] ilyamandel commented on #394
Resolved through PRs #395 , #396 , and #397 .  Someone who understands what's expected for low-mass stars better than I do may still want to check the radial evolution during the "CHeB" phase -- it seems somewhat surprising to me -- but that's a separate issue, if any.

[2020-10-08 08:38] #394 closed, assigned to SimonStevenson

[2020-10-10 05:45] ilyamandel opened #398 "Decouple Hurley SSE from COMPAS"
COMPAS is generally based on plug-and-play recipes, but Hurley SSE recipes are currently deeply embedded in the COMPAS code, making it challenging to include other alternatives (e.g., METISSE).  We must decouple Hurley's SSE from single-stellar evolution in general in preparation for the inclusion of alternative models.

[2020-10-11 07:16] jeffriley commented on #393
I have no preference (other than to keep the length of the header string as short as possible while still giving it meaning), but just for my own edification, aren't "semi major axis" and "mean separation" synonyms?  I always just assumed "separation" was shorthand for "mean separation".

[2020-10-11 09:43] ilyamandel opened #399 "Add CO core mass back to default Supernova printing"
SUPERNOVA_PROPERTY::CO_CORE_MASS_AT_COMPACT_OBJECT_FORMATION went missing from the default Supernova printing in constants.h, should be added back in

[2020-10-11 09:46] ilyamandel opened #400 "Clarify reference metallicity for SSE models and winds"
ZSOL in constants.h refers to the Hurley models, and should really be called ZREFERENCEHURLEY or some such, not ZSOL, to avoid confusion.  For winds, we should go back to the individual papers — e.g., the WR scaling according to Vink & De Kotter (2005) is a relative scaling with metallicity, so the exact value of ZSOL doesn’t matter.  Of course, it does matter for the prefactor — which, in Vink+ 2

[2020-10-12 02:58] reinhold-willcox commented on #393
It becomes ambiguous in an eccentric system when "separation" takes on a new meaning.

[2020-10-13 01:06] reinhold-willcox opened #401 "Add SEED to grid files"
SEED should be added as an (optional) entry to the list of input parameters in a grid file. The seed of a system is the best way to identify it when chasing down bugs or trying to reproduce a given system. However, since the seed is not included in a grid file, finding the correct grid line to associate to a specific seed involves a rather tedious dig through various output files to match line num

[2020-10-16 07:12] ilyamandel commented on #236
Turns out there were a lot more systems that we weren't printing in the SN output file than just the ones unbound by the first SN. :)

[2020-10-16 07:53] SimonStevenson opened #403 "Allow user to disable detailed output for SSE mode"
**Is your feature request related to a problem? Please describe.**
At the moment, when running with single-star=True you will always get detailed output. The code should respond to the --detailedOutput flag i.e. if this is not provided (or set to False in the python submit) then detailed output files should not be generated. This would allow the user to e.g. generate a population of single superno

[2020-10-16 08:09] ilyamandel commented on #236
Fixed with PR #404.

[2020-10-16 08:09] #236 closed

[2020-10-17 00:00] jeffriley commented on #400
ZSOL defined in constants.h is also the default metallicity used for SSE and BSE - used if the user does not specify metallicity via a program option or grid file.

[2020-10-17 08:30] jeffriley commented on #403
Duplicate of issue #361

I am happy to resolve #361 - I know I haven't got to it yet, but I plan to...

[2020-10-17 10:47] SimonStevenson commented on #403
Ah woops sorry I forgot about the other issue, I should have looked first. Just hit this again and wanted to make sure it was on the to do list. Happy to close this issue and just use 361

[2020-10-17 11:05] ilyamandel commented on #403
Closing this one, keeping #361 .

[2020-10-17 11:05] #403 closed, assigned to SimonStevenson

[2020-10-18 02:18] reinhold-willcox commented on #236
@ilyamandel which other systems did you notice?

[2020-10-18 06:03] ilyamandel commented on #236
I think there were some issues with printing systems that went through the second EvaluateSupernovae() call.  That's no longer an issue because printing is now handled in the same way for both EvaluateSupernovae() calls.

[2020-10-21 05:45] #393 closed, assigned to nobody

[2020-10-21 05:46] #399 closed, assigned to ilyamandel

[2020-10-21 05:55] ilyamandel commented on #12
This issue has been around for exactly one year. :)  What is the status, @lokiysh, @FloorBroekgaarden?

[2020-10-21 05:55] #335 closed, assigned to reinhold-willcox

[2020-10-21 05:57] reinhold-willcox commented on #244
Closing, because part (a) is unique to me (and I have a local branch that solves it), and (b) is known and referenced in other issues.

[2020-10-21 05:57] #244 closed

[2020-10-21 05:58] reinhold-willcox commented on #290
Closing because some of this is out of date. We should take another look at Timesteps though, there's definitely still room for improvement.

[2020-10-21 05:58] #290 closed

[2020-10-21 06:00] reinhold-willcox commented on #255
Closing. The same information can be garnered by considering the companion stellar type, so this parameter would be redundant.

[2020-10-21 06:00] #255 closed

[2020-10-21 08:19] ilyamandel commented on #399
Fixed in #404

[2020-10-21 23:37] SimonStevenson commented on #311
Yeah so I don't know if this was intended or not (I'd guess not given that the Mfb,small parameter doesn't exist in COMPAS). I suggest we add this parameter. We can decide if we want to set the default/fiducial value to 0 (to match previous COMPAS results) or to 0.2 (to match Fryer+ 2012), I can see arguments for both.

[2020-10-22 20:42] ilyamandel commented on #311
Well, if everyone is happy using the slightly modified version of Fryer, let's just explain the modification in the methods paper and be done with it -- why add code that nobody will use?

[2020-10-22 20:48] ilyamandel commented on #167
Why not just continue the evolution past DCO formation whenever --evolve-pulsars is on, @debatric ?

[2020-10-22 20:52] ilyamandel commented on #24
I included a tilmestep multiplier in #392 .  @jeffriley , once you have your new server, would you mind trying a run of SSE and BSE with the usual timestep and with a halved timestep to check whether the population-level behaviour is impacted?  If it's not, we can close this issue.

[2020-10-22 20:53] ilyamandel commented on #386
Also, add key parameters (e.g., kick velocities) as command-line inputs.

[2020-10-22 20:56] ilyamandel commented on #68
@FloorBroekgaarden -- since there have been no comments on this issue for a very long time, and no evidence of problems, I am closing it.

[2020-10-22 20:56] #68 closed

[2020-10-22 20:59] ilyamandel commented on #71
If I understand correctly, this is already handled with @lokiysh 's code.  That said, I suggest that we keep the basic sampler in COMPAS for now so it can continue to be run without that external tool.  So I do not think there's anything to be done on this issue.

@lokiysh , @FloorBroekgaarden , @SimonStevenson , @reinhold-willcox -- please comment in the next week if I am mistaken, otherwise, I w

[2020-10-22 21:02] ilyamandel commented on #293
Fixed in PR #405 , closing.

[2020-10-22 21:02] #293 closed, assigned to jeffriley, reinhold-willcox

[2020-10-22 22:24] SimonStevenson commented on #167
Sounds sensible :)

[2020-10-22 22:34] ilyamandel commented on #346
Implementing tides properly -- #210 -- would address this.

[2020-10-22 22:36] ilyamandel commented on #167
@SimonStevenson -- so, if either binary in a DCO is an NS, and --evolve-pulsars is on, we should just continue the evolution until we hit one of the other termination conditions (time steps or total time), correct?

[2020-10-22 22:52] SimonStevenson commented on #167
Yes (or until the binary merges due to gravitational wave emission)

[2020-10-22 22:54] ilyamandel commented on #167
But that's not something we actually do at the moment (change the orbit in response to GW emission).  Though I agree that we should. :)

[2020-10-22 23:16] SimonStevenson commented on #167
Right, in Debatri's code we just used the merger time (which we do calculate) as a stopping condition.

[2020-10-23 08:39] ilyamandel commented on #167
OK, doing that in the next commit.

[2020-10-23 09:32] ilyamandel commented on #167
Implemented in #407, closing.

[2020-10-23 09:32] #167 closed

[2020-10-23 09:32] ilyamandel commented on #337
Included in #407 , closing.

[2020-10-23 09:32] #337 closed, assigned to jeffriley

[2020-10-25 00:48] ilyamandel commented on #71
Closing based on the above and Stephen's comments.  If there are specific bugs/features, please add them as new issues.

[2020-10-25 00:48] #71 closed

[2020-10-25 00:49] ilyamandel commented on #12
Closing this issue -- as I understand, AIS sampling should work through external scripts.  If there are specific bugs/features, please add them as new issues.

[2020-10-25 00:49] #12 closed

[2020-10-25 15:45] TomWagg opened #408 "Timestep being labelled incorrect stellar type (only seems relevant for M < M_HeF)"
**Describe the bug**
The last timestep of FGB is being labelled as CHeB. This causes no problems in general (and it may actually be occuring for all stars) but for stars with M < M_HeF, the radius and luminosity are discontinuous, so this leads to incorrect values in the maximum radial extent plot for instance. See below a plot illustrating this. @jeffriley suggested that the printing of detailed

[2020-10-26 19:00] jeffriley opened #409 "Remove SN_Theta and SN_Phi from SSE Supernova file"
**Describe the bug**

The SSE Supernova file was implemented as a result of Issue #253.  SN_Theta and SN_Phi were included in the SSE Supernova file, but are meaningless for SSE - they are never initialised or used in the SSE code.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**
Steps to reproduce th

[2020-10-26 22:38] ilyamandel opened #411 "Remove AIS from the COMPAS code"
Since adaptive importance sampling is now happening externally to the COMPAS C++ code, we should remove all AIS-specific code from the C++ code.  This should not impact performance, but will keep the code streamlined and easy to maintain.

[2020-10-27 02:47] reinhold-willcox opened #412 "Grids-Proposal Discussion"
**Discussion of the new branch `grids-proposal` that Jeff put together to expand grid functionality.**

[GridsProposal.pdf](https://github.com/TeamCOMPAS/COMPAS/files/5442633/GridsProposal.pdf)

[2020-10-27 02:57] reinhold-willcox commented on #412
My feedback:

- Overall, this a big improvement and very helpful for my project. Nice job!

- This has been mentioned before, but moving forward we need to establish COMPAS defaults, which are explicit and agreed upon. I think a lot of progress has been made on this front for the methods paper, but if we continue using pythonSubmit, the default values there should also be COMPAS defaults (so the u

[2020-10-27 03:13] jeffriley commented on #412
You can print the value of the option in the log file (whichever log file you want it in)

Sure - we just have to settle on how we want to denote it (i.e. what the user would type) and then write code to parse that and set the values appropriately - none of this comes to us from a library, so we have to write the code ourselves (but the upside of that is we're free to do it however we want).

You

[2020-10-27 03:31] reinhold-willcox commented on #412
That's a fair point, I'm happy with the current implementation then. At some point I'll work on setting up the pythonSubmit to do ranges as well.

I would actually argue the opposite - a single star is a system (e.g the Solar System, or the Dagobah system), but binary star is really shortened from binary star system.

[2020-10-27 04:23] jeffriley commented on #412
Hah!  I would argue that a single star is *in* a system - and that COMPAS doesn't evolve planets or moons!  However, I'm happy with 'number-of-systems' :-)

[2020-10-27 21:20] jeffriley commented on #412
From Slack:

My thoughts on this are that we should have very basic sampling in the COMPAS C++ code for the initial conditions, so that users can specify some of the initial conditions and have the ones they leave out sampled.  The problem Reinhold alludes to (I think) is that if a user used (e.g.) Stroopwafel to sample (say) the initial mass of the primary using a particular distribution (that is

[2020-10-29 06:48] reinhold-willcox opened #413 "Simultaneous Supernovae"
**Describe the bug**
We occasionally evolve two SNe in the same timestep. At the moment, these are evolved sequentially in the timestep, meaning the orbital changes are recalculated appropriately. But when this happens, the output shows strange things, e.g the companions in both SNe look like BHs. This happens any time the two stars have the same initial mass, and thus go through identical evoluti

[2020-10-29 06:54] reinhold-willcox opened #414 "Mass Transfer in the same Timestep as SNe"
**Describe the bug**
Sometimes Mass Transfer occurs in the same timestep as a supernova. This can lead to oddities in the output files, since many things have changed since the previous timestep. I would argue that only one major event should happen in any given timestep.

**Label the issue**
`urgency_moderate` - This is a moderately urgent issue
`severity_moderate` - This is a moderately severe b

[2020-10-30 05:33] jeffriley opened #416 "Baryon number for HeWD incorrect in COMPASUnorderedMap<STELLAR_TYPE, double> WD_Baryon_Number in constants.h"
**Describe the bug**

Baryon number for HeWD incorrect in COMPASUnorderedMap<STELLAR_TYPE, double> WD_Baryon_Number in constants.h.
Is 0.4, should be 4.0 (See Hurley et al., 2000, just after eq 90)

**Label the issue**
`urgency_moderate` - This is a moderately urgent issue
`severity_moderate` - This is a moderately severe bug

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Cl

[2020-10-30 06:05] themikelau opened #417 "(documentation) Semi-major axes in CE output should be documented with units of Rsol and not AU"
Semi-major axes in CE output should be documented with units of Rsol and not AU in the documentation

[2020-10-31 05:33] ilyamandel opened #418 "Lambda Nanjing values"
Although our Lambda Nanjing appears to be a faithful copy of StarTrack, there are unintended features in the StarTrack lambdas for some stellar types which lead to discontinuous lambda (and, if it weren't for bracketing, could lead to unphysical or even negative lambdas).  When this is the case (e.g., CHeB), we should follow the example of other stellar types (e.g., EAGB) and interpolate lambda in

[2020-10-31 09:35] avigna commented on #418
Thanks for these checks. I don't feel like this is an issue in itself, but more a general problem trascend Nanjing or StarTrack. In summary, it would be good to have a better and/or self consistent calculation of lambda. Here an example of Kruckow+2016 where you can see that lambda is a bit of a mess.

<img width="459" alt="Screenshot 2020-10-31 at 10 31 14" src="https://user-images.githubusercont

[2020-11-02 19:45] TomWagg opened #419 "Core mass after 2nd dredge-up calculated before core at BAGB"
**Describe the bug**
The core mass of a star after the second dredge up is calculated before the core mass at BAGB

**Label the issue**
`urgency_low`,`severity_minor`

**To Fix**
See [GiantBranch.cpp:271](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/GiantBranch.cpp#L271), I think lines 271 and 272 should be swapped.

Otherwise I think the final core mass could be slightly off depending

[2020-11-02 19:52] TomWagg opened #420 "Wrong mass used in calculating minimum raduis on CHeB"
**Describe the bug**
Affects stars with mass < MHeF, wrong mass is used. p_Mass is used in place of p_MHeF

**Label the issue**
`urgency_low`, `severity_minor`

**To Reproduce**
See [CHeB.cpp:688](https://github.com/TeamCOMPAS/COMPAS/blob/production/src/CHeB.cpp#L688), particularly `b[25] * p_Mass` should instead be `b[25] * p_MHeF` (see Hurley+2000, Eq. 55).

[2020-11-03 21:24] ilyamandel opened #425 "Update MT stability criteria for HeMS stars"
We should treat them as other MS donors.

[2020-11-05 01:05] ilyamandel commented on #412
Addressed by PR #423, closing.

[2020-11-05 01:05] #412 closed, assigned to nobody

[2020-11-05 01:18] ilyamandel commented on #311
OK, so it seems that there is no use case for now for changing the current behaviour, and we'll document it in the methods paper -- so I am closing this issue.

[2020-11-05 01:18] #311 closed, assigned to ilyamandel, SimonStevenson, avigna

[2020-11-05 01:38] ilyamandel commented on #387
Closing following the resolution in PR #428.

[2020-11-05 01:38] #387 closed, assigned to jeffriley

[2020-11-05 02:18] ilyamandel commented on #425
Fixed in PR #429, closing.

[2020-11-05 02:18] #425 closed, assigned to ilyamandel

[2020-11-05 02:22] ilyamandel commented on #408
@TomWagg suggests checking line 497 in src/Star.cpp ; since this is purely a printing issue, I am leaving this aside for now to focus on a couple of more urgent changes -- @jeffriley , if you get to this before I do, I won't mind. :-)

[2020-11-05 02:23] ilyamandel commented on #420
Fixed in PR #429, closing.

[2020-11-05 02:23] #420 closed, assigned to nobody

[2020-11-05 02:23] ilyamandel commented on #416
Fixed in PR #429, closing.

[2020-11-05 02:23] #416 closed, assigned to jeffriley

[2020-11-05 02:24] ilyamandel commented on #419
Fixed in PR #429, closing.

[2020-11-05 02:24] #419 closed, assigned to nobody

[2020-11-05 02:42] jeffriley commented on #401
Implemented in v02.16.00 ( PR #423 )

@reinhold-willcox Can this be closed now, or is there work to do in stroopwafel?

[2020-11-05 05:44] #401 closed, assigned to jeffriley, reinhold-willcox

[2020-11-05 17:57] TomWagg opened #430 "Nuclear timescale calculation makes assumptions about core mass"
**Describe the bug**
Whilst plotting the nuclear timescale with Selma we noticed that it seemed off by a factor of ~3-5 from what it should be for high mass stars. The timescale doesn't seem to be used in any meaningful way except printing so only problem would be when people are using this for other things. The equation used by COMPAS is assuming that core mass makes up a certain fraction of the

[2020-11-05 21:35] SimonStevenson commented on #430
I'm shocked that we even have this. I suggest simply removing it, since time-scales should be self consistently calculated from the stellar models (currently SSE)

[2020-11-05 22:29] TomWagg commented on #430
Okay gotcha, in that case would CalculateDynamicalTimescale also be up for the chop?

[2020-11-05 22:33] SimonStevenson commented on #430
We could certainly make your fix, just seems odd that we have this if we don't use it. I think we may actually use the dynamical timescale for something (we can check); if so we better not remove that

[2020-11-06 02:09] reinhold-willcox commented on #430
I think the dynamical timescale is just used as a lower bound. We also have a hardcoded minimum timescale, so I believe the larger of these two at any given timestep is taken as the lower bound.

[2020-11-06 02:51] ilyamandel commented on #430
This is meant to be a crude estimate, for potential use only when crude estimates are useful (e.g., when deciding on appropriate time step sizes).  We can remove it, but I don't see much harm.  I don't think we can make the fix @TomWagg  suggests, though: there's no core mass as such for MS stars.  A more relevant simple fix to be to change the energy efficiency for more evolved stars -- the heliu