[2020-11-06 03:17] ilyamandel opened #431 "Add Hurley LBV wind prescription"
The currently used Belczynski LBV wind prescription allows high-mass stars to go beyond the Eddington limit.  The original Hurley+ (2000) model should avoid this.

[2020-11-07 10:22] jeffriley commented on #361
This was implemented in v02.16.00

[2020-11-07 10:22] #361 closed, assigned to jeffriley

[2020-11-07 22:36] jeffriley commented on #408
I'll take a look at this a bit later.  I do believe the line I mentioned to Tom is out of place (see the comment in the code), but I want to make sure that's the actual (and only) issue here.  If the line is out of place it should affect all stellar types - maybe it does but just doesn't make a difference in most cases.

[2020-11-08 06:42] ilyamandel commented on #308
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:42] #308 closed, assigned to jeffriley

[2020-11-08 06:43] ilyamandel commented on #342
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:43] #342 closed, assigned to jeffriley

[2020-11-08 06:43] ilyamandel commented on #351
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:43] #351 closed, assigned to jeffriley

[2020-11-08 06:43] ilyamandel commented on #362
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:43] #362 closed, assigned to jeffriley

[2020-11-08 06:44] ilyamandel commented on #363
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:44] #363 closed, assigned to jeffriley

[2020-11-08 06:44] ilyamandel commented on #409
Thank you for the fix, @jeffriley !  Closing.

[2020-11-08 06:44] #409 closed, assigned to jeffriley

[2020-11-09 09:21] jeffriley commented on #24
BSE results with default pythonSubmit, varying timestep multiplier only:

![image](https://user-images.githubusercontent.com/26860470/98522612-0609ab80-22c9-11eb-8d8b-06ee9a963a24.png)

Numbers are for systems that merge in a Hubble time - raw counts.

BSE .h5 files uploading.

SSE runs started - will add results later.

[2020-11-09 11:00] ilyamandel commented on #24
Thank you, @jeffriley !  Very interesting -- this suggests we may not be quite converged with our default multiplier of 1.  I think we may need to trace a few of the individual binaries that have different outcomes to see which evolutionary phase is responsible for the differences: I am optimistic that we may be taking overly large steps in one particular phase, and could therefore shorten those s

[2020-11-09 21:19] jeffriley commented on #24
BSE data is on Google Drive here:

https://drive.google.com/drive/folders/1yP91BzImcpqBkM3AfHcl4IAEEaBHpVH8?usp=sharing

Files for each timestep variaton.  All files include switchlog.

[2020-11-10 02:57] reinhold-willcox opened #439 "COMPAS hangs on some systems."
**Describe the bug**
On some specific initial conditions, COMPAS will completely hang. Cause is unknown, but it seems to occur for massive binaries with short separations, so I would guess that these are systems in contact at ZAMS. When it happens, COMPAS does not continue evolving binaries.

**Label the issue**
`urgency_high`     - This is a very urgent issue and should be resolved as soon as pos

[2020-11-10 04:02] jeffriley commented on #439
The problem is that the supplied initial conditions cause RLOF at birth, but allow-rlof-at-birth option default is fals - so the BaseBinaryStar constructor loops sampling new initial conditions, and since the use supplied all the initial conditions nothing is sampled so the error condition persists and we loop forever.  Will push a fix.

[2020-11-11 09:50] jeffriley opened #443 "Unimplemented eccentricity distributions"
**Is your feature request related to a problem? Please describe.**

The following eccentricity distributions are listed in the utils::SampleEccentricityDistribution() function:

    ECCENTRICITY_DISTRIBUTION::FIXED:              // FIXED - all systems have same initial eccentricity - not implemented
    ECCENTRICITY_DISTRIBUTION::IMPORTANCE  // IMPORTANCE - not implemented

Both return the default

[2020-11-11 10:04] jeffriley commented on #411
If there is no finesse required here (i.e. all AIS-related code to be removed rather than a surgical removal of just some that requires knowledge of what should be removed), I'm happy to do that the next time I push modified code.

[2020-11-12 02:06] demink opened #444 "Mistake in the prefactor for the tidal synchronization for the dynamical (radiative) tide"
**Describe the bug**
There is a typo in the prefactor for the timescale for tidal synchronization for the dynamical (radiative) tide.  The prefactor should be 5 * 2 ^ (5/3) but it is implemented as 52^ (5/3).

[
![image](https://user-images.githubusercontent.com/12985691/98886234-a397e300-2461-11eb-9b69-c9c58ede8eef.png)
](url)

**Context**
Quite understandable where this typo came from. We can bl

[2020-11-12 20:20] jeffriley commented on #439
Fixed in v02.17.00

[2020-11-12 20:20] #439 closed, assigned to jeffriley

[2020-11-13 04:11] jeffriley commented on #443
Fixed in v02.17.03

[2020-11-13 04:11] #443 closed, assigned to nobody

[2020-11-13 04:11] jeffriley commented on #417
Fixed in v02.17.03

[2020-11-13 04:11] #417 closed, assigned to nobody

[2020-11-13 04:12] jeffriley commented on #411
Done in v02.17.03

[2020-11-13 04:12] #411 closed, assigned to lokiysh, FloorBroekgaarden, floriskummer, stellarphysicsandpopulations

[2020-11-16 10:06] avigna opened #453 "Make neutrino mass loss during BH formation an user specified option"
Currently, during BH formation we lose 10% of mass in neutrinos (following Fryer+2012). This is an excesive amount that should be reduced for high mass stars.

We should add an user specified maximum/fixed fraction or mass loss that can be lost in neutrinos.

[2020-11-16 22:30] TomWagg commented on #57
@FloorBroekgaarden do you still want this implemented? It would be good practice for me with learning how to do pull requests and whatnot :)

[2020-11-16 23:14] #444 closed, assigned to TomWagg

[2020-11-16 23:51] reinhold-willcox opened #455 "Inconsistent parameter headers"
**Describe the bug**
A recent fix to the parameter headers changed the _1, _2, _SN, and _CP identifier suffixes to (1), etc. However, this was not applied consistently to all parameters.

In the CEs output, I see the following parameters:

['BE_Fixed(1)', 'BE_Fixed(2)', 'BE_Kruckow(1)', 'BE_Kruckow(2)', 'BE_Loveridge(1)', 'BE_Loveridge(2)', 'BE_Loveridge_Winds(1)', 'BE_Loveridge_Winds(2)', 'BE_Nan

[2020-11-17 00:11] jeffriley commented on #455
I've fixed this already - just haven't pushed the fix yet (I thought I had, but no...).  I'll push the fix soon (one of the macros wasn't updated from the "_" to "()" notation)

[2020-11-17 22:37] reinhold-willcox opened #457 "postProcessing error"
**Describe the bug**
Sometimes when I run the postProcessing.py file, I get the following error:
[code]

It has only shown up for me on ozstar, but I can't figure out how to consistently replicate it. The error seems to suggest that data does not have the shape to handle the [:, iParam] index, but this file works fine most of the time, which means data is usually the correct shape. Has anyone else

[2020-11-19 20:44] demink opened #463 "Make the variable names in the mass loss routine, dms and dml, less headache-inducing."
The variable names in the mass loss routine dms and dml are headache-inducing.   dml changes meaning from line to line.  Would be great if we clean this and give more understandable names.

Here is an example, but this occurs in several places.
![image](https://user-images.githubusercontent.com/12985691/99721789-b328b480-2a7d-11eb-96e5-f444f9811ef8.png)

**Additional context**
This will be very he

[2020-11-19 23:03] #455 closed, assigned to jeffriley

[2020-11-20 09:57] jeffriley commented on #431
Implemented in v02.17.07

[2020-11-20 09:57] #431 closed, assigned to ilyamandel, TomWagg

[2020-11-20 09:58] jeffriley commented on #353
Revisit this another time

[2020-11-20 09:58] #353 closed, assigned to nobody

[2020-11-21 19:54] TomWagg opened #465 "WR-like winds being used for massive giant stars"
**Describe the bug**
WR-like winds are being applied to massive giant stars, this is both non-physical and leads to 2-10x more mass loss than there should be. The reason is that the old formulation of WR-like winds are being used which didn't have a metallicity dependence.

**Label the issue**
`urgency_low`, `severity_minor`

**Expected behavior**
Stars in this range should really have NJ mass los

[2020-11-21 19:57] TomWagg opened #466 "Add variable for tracking dominant mass loss rate being used"
**Is your feature request related to a problem? Please describe.**
I'd like to implement in COMPAS a feature that stores the dominant mass loss rate at each timestep (similar to stellar type at each type). This is useful for seeing which winds are used at different phases.

**Describe the solution you'd like**
I've implemented this on a branch on my fork but wanted to check whether this is somethi

[2020-11-23 19:54] TomWagg opened #470 "Something may be off with SSE timesteps"
**Describe the bug**
If I create an HRD with exactly the same input for SSE stars but change the timestep to 10x lower then the result for massive stars changes dramatically. This seems to imply to me that the default timestep is not small enough perhaps?

However, I also note that when running these grids I get a lot of warnings saying `WARNING: Timestep below minimum - timestep taken!` and after

[2020-11-24 23:14] reinhold-willcox commented on #290
@TomWagg

[2020-12-02 21:22] jeffriley opened #475 "Anomaly: primary mass can be < specified minimum"
**Describe the bug**

Bug or feature that should be documented?

In the BaseBinaryStar constructor, if we are sampling the masses of the component stars, we do the following:

1. Sample the primary mass, m1, using the specified min and max values (say, e.g., 5.0 and 150.0)
2. Sample the mass ratio, q (or use supplied)
3. Calculate secondary mass, m2 = m1 * q
4. Check for rlof/touching - equilibrat

[2020-12-02 23:46] ilyamandel commented on #475
@jeffriley -- I think it is best to keep the current behaviour for sampling purposes.  The downside is that we waste a tiny fraction of time evolving systems that won't be of interest.  The upside is that it's far easier to calculate normalisations.  So I don't think we need to do anything (except, perhaps, add a comment in the documentation).

[2020-12-03 02:00] jeffriley commented on #475
Ok, thanks.  I'll update the documentation next time I push a change.

[2020-12-03 02:00] #475 closed, assigned to nobody

[2020-12-03 06:02] jeffriley opened #476 "pythonSubmitDemo not updated with default pythonSubmit"
**Describe the bug**

pythonSubmitDemo  (in docs/demo folder) not updated to reflect changes to default pythonSubmit file (new options etc.)

**Label the issue**

`urgency_moderate` - This is a moderately urgent issue
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**
Steps to reproduce the behavior:

Use pythonSubmitDemo woth COMPAS v02.17.10 or later - value of mass_

[2020-12-08 01:51] reinhold-willcox commented on #413
I know this issue hasn't gained much traction, but here is another example of a system which is nonsense because of the way we do simultaneous SNe. (Uses COMPAS v02.17.11, seed 206, no other options - i.e not using pythonSubmit).

Here is the detailed output plot:

![doubleUSSN](https://user-images.githubusercontent.com/33348824/101427497-1c039e00-3953-11eb-86dc-34673eff0da9.png)

Where clearly th

[2020-12-09 22:21] #463 closed, assigned to TomWagg

[2020-12-09 22:21] #465 closed, assigned to serenavinciguerra89, TomWagg

[2020-12-09 22:21] #466 closed, assigned to TomWagg

[2020-12-13 05:41] jeffriley opened #481 "CHeB timestep calculation anomaly"
**Describe the bug**
Not a bug (yet), just a question.

While writing a section for the methods paper I noticed that the timestep (dtk) calculated for CHeB stars is one tenth of the value suggested by Hurley et al. 2000.  Why is this so?

We seem to follow the timestep calculations from Hurley et al. 2000 for all stellar types except CHeB (see Hurley et al. 2000 section 8).  For CheB, dtk is one t

[2020-12-14 05:38] ilyamandel opened #482 "Correctly implement or remove critical mass ratios"
The discussion in #480  suggests that mass transfer based on critical mass ratios is not currently fully or correctly implemented.  If so, it should either be corrected or removed.

[2020-12-14 18:05] TomWagg opened #483 "Mass transfer case labelling wrong (most notably, Case C mass transfer being labelled as Case B)"
**Describe the bug**
_tldr: I think HG::DetermineMassTransferCase is overwriting GiantBranch::DetermineMassTransferCase such that case C mass transfer is always labelled as case B. But there seem to be more issues with the labelling other than this..._

@LiekeVanSon presented some work to us today and pointed out that COMPAS seems to be mislabelling mass transfer cases. Here are some lovely plots

[2020-12-15 08:19] avigna opened #485 "Include Triple Letter in the COMPAS publication list"
The Triple Letter (https://arxiv.org/abs/2010.13669) submitted to Apj Letter and currently under review, uses the data from Riley+2020 to highlight, arguably for the first time, the role of compact stars in massive systems, particularly binary black hole mergers.

Under the premisse that the results and data from Riley+2020 were paramount for this Letter, I consider it should be included in the CO

[2020-12-15 21:54] SimonStevenson commented on #485
Are you asking for this to be added to https://compas.science/science.html#papers ? I think the relevant issue tracker is https://github.com/TeamCOMPAS/TeamCOMPAS.github.io/issues

[2020-12-15 22:08] jeffriley commented on #211
Test run: v02.17.13, 100,000 binaries with metallicity sampled over range [0.0001, 0.03]

https://drive.google.com/file/d/1_0SCNbLUVnNvWEtSBvCaLkWiDxh6wsoW/view?usp=sharing

[Run_Details.txt](https://github.com/TeamCOMPAS/COMPAS/files/5698964/Run_Details.txt)

[2020-12-15 23:13] #476 closed, assigned to jeffriley

[2020-12-16 10:19] avigna commented on #485
Gotcha! I think you are right Simon. I will close this and copy the exact same thing to the link you posted.

[2020-12-16 10:19] #485 closed, assigned to ilyamandel, reinhold-willcox

[2020-12-18 00:25] #483 closed, assigned to reinhold-willcox

[2021-01-07 16:17] LiekeVanSon opened #502 "(Giant) Core He Burning stars have WR winds at low Z"
**Describe the bug**
At Z = 0.001, for fiducial pythonSubmit, stars with MZAMS [15-30] have WR winds as their dominant Mass loss rate when they pass the VINK_MASS_LOSS_MINIMUM_TEMP  on their way to becoming red giants (and still have an envelope).

This only seems to occur for low metallicities (at least, it doesn't happen for Z = Zsun or Z = 0.01)

**Label the issue**
`urgency_moderate` - This is

[2021-01-08 15:33] TomWagg commented on #502
I created a similar issue (#465)  a couple of weeks ago (Great minds think alike I've heard @LiekeVanSon) ;)

This problem here is that COMPAS uses a **metallicity independent** WR prescription for stars below 12500K whilst using the VINK mass loss option (COMPAS _does_ have a metallicity dependent prescription for stars above 12500K so you see normal things in the helium stars).

See the discussi

[2021-01-08 17:06] LiekeVanSon commented on #502
Thanks @TomWagg :D! Sorry I should've checked closed issues before creating a new one.
Interested in hearing the new plans for wind prescriptions...!

However, I would still argue for a quick fix of this particular problem, either by making the WR winds metallicity dependent as Tom suggests, or by excluding WR winds from the "HURLEY" prescription if the "VINK" scheme is used.
@ilyamandel I think h

[2021-01-11 04:35] SimonStevenson opened #506 "Correctly evolve disrupted binaries"
**Describe the bug**
I am looking at evolving wide binaries (which are disrupted by the first supernova) in the context of pulsars.

In binaries in which both components form neutron stars, I am finding that the evolution ceases immediately after the formation of the second supernova. I would like it to continue, to follow the pulsar evolution of the second neutron star.

The binary stops with  ev

[2021-01-11 05:03] SimonStevenson commented on #506
Added PR #507 which resolves this issue

[2021-01-11 05:43] SimonStevenson commented on #506
PR merged

[2021-01-11 05:43] #506 closed, assigned to SimonStevenson

[2021-01-11 05:46] SimonStevenson commented on #453
There are already options for this:

--neutrino-mass-loss-BH-formation
  Assumption about neutrino mass loss during BH formation (options: [FIXED_FRACTION, FIXED_MASS], default = FIXED_FRACTION)
--neutrino-mass-loss-BH-formation-value
  Value corresponding to neutrino mass loss assumption (default = 0.100000)

I think we should change the default to be a loss of 0.1 solar masses (FIXED_MASS) for B

[2021-01-11 19:52] avigna commented on #453
I don't think those options are currently working. I tested two months ago via src when I posted this and they were not working. I retested now via command line and still don't seem to work. Maybe I can update with more details later this week, but feel free to give it a go.

[2021-01-12 01:17] reinhold-willcox opened #508 "Some options not showing up in COMPAS --help"
**Describe the bug**
There are some options which COMPAS will happily read in, but which do not show up in the output of `COMPAS --help`. I noticed `--pisn-lower-limit` and `--pisn-upper-limit`, by comparing the compas help to the python submit options. There may be others though. I'm not sure if COMPAS treats these parameters as expected, or if it quietly ignores them.

**Label the issue**
`urgen

[2021-01-12 01:25] reinhold-willcox commented on #508
Also, `--ppi-lower-limit --ppi-upper-limit`

[2021-01-12 03:55] SimonStevenson commented on #508
For me these options appear at the top of the help

`spstevenson$ ./COMPAS --help

COMPAS v02.18.01
Compact Object Mergers: Population Astrophysics and Statistics
by Team COMPAS (http://compas.science/index.html)
A binary star simulator

Options:
--PISN-lower-limit
  Minimum core mass for PISN (default = 60.000000)
--PISN-upper-limit
  Maximum core mass for PISN (default = 135.000000)
--PPI-lower-

[2021-01-12 05:41] jeffriley commented on #508
@SimonStevenson is right.  Well, I see what he sees (see below) - if @reinhold-willcox doesn't then there is a problem.  I print the options in the order that Boost gives them to me - see Options::PrintOptionHelp().  It looks like the Boost map is in ASCII order, so the uppercase alphabet comes before the lowercase alphabet, and some of our options have uppercase strings in them (the ones that are

[2021-01-12 05:55] reinhold-willcox commented on #508
Ah, that's on me. PythonSubmit uses the lower case version, while COMPAS --help uses uppercase. I think COMPAS can take both, so there's not really an issue. But it might be good to set all option flags to lowercase in the future.

[2021-01-12 05:55] #508 closed, assigned to jeffriley

[2021-01-14 03:58] SimonStevenson opened #511 "Implement ability to begin evolution of star after ZAMS"
**Is your feature request related to a problem? Please describe.**
At the moment, we are only able to start the evolution of stars/binaries at the zero-age main sequence (ZAMS). This is fine for most cases. However, in some cases it is useful to be able to begin the evolution at some later point in the evolution. This might be useful for evolving systems similar to observed systems such as x-ray b

[2021-01-15 04:48] SimonStevenson opened #512 "Implement stable mass transfer rates onto WDs - important for AIC"
**Is your feature request related to a problem? Please describe.**
Many aspects of white dwarf evolution are currently unimplemented in COMPAS, such as novae.

I am currently interested in the formation of pulsars through accretion induced collapse (AIC).

I suggest that we implement a model of AIC.

This should also remove the possibility of forming WDs more massive than the Chandrasekhar mass.

[2021-01-19 00:18] SimonStevenson commented on #512
Message on slack from Ilya:

Interesting: it seems that we may have unintentionally implemented accretion induced collapse in COMPAS!  :wink:
I noticed that, in a long run, there was a supernova happening 13 Gyr after star formation, so I looked at it more closely.  It seems that the progenitor is a ONe WD, which has a mass of 1.31 solar masses, but then accretes some mass from a Roche lobe overfl

[2021-01-19 04:31] SimonStevenson opened #513 "Collapse neutron star to black hole after accreting above maximum neutron star mass"
**Is your feature request related to a problem? Please describe.**
We should ensure that neutron stars which accrete mass and become more massive than the user-specified maximum neutron star mass collapse into black holes.

**Describe the solution you'd like**
Check if neutron star mass is greater than maximum neutron star mass (OPTIONS->MaximumNeutronStarMass()); if so, collapse star to a black h

[2021-01-19 06:18] SimonStevenson commented on #513
I've had a go at implementing this, but ShouldEvolveOnPhase doesn't seem to be being called for NSs ...

[2021-01-19 06:32] SimonStevenson commented on #513
Implemented in PR #514

[2021-01-19 22:58] #513 closed, assigned to SimonStevenson

[2021-01-19 23:03] SimonStevenson commented on #512
Indeed AIC is already implemented. One thing that is not currently implemented is the range of stable burning rates see e.g. Nomoto 1982 . Issue title updated accordingly. See attached figure

![stableMdotNomoto](https://user-images.githubusercontent.com/6952112/105104529-87ba5880-5b06-11eb-9598-47afc368bac7.png)

[2021-01-20 00:01] SimonStevenson commented on #453
These are implemented in CalculateNeutrinoMassLoss_Static in BH.cpp. At the moment this function only seems to be called in GiantBranch.cpp when evaluating PPISN (in ResolvePulsationalPairInstabilitySN).

I think this should be used in GiantBranch::CalculateGravitationalRemnantMass which currently has

  `root = 0.9 * p_BaryonicRemnantMass;

[2021-01-20 06:35] SimonStevenson commented on #511
Here is an example of me begining the evolution of a 5 solar mass MS star ~50 Myrs after the ZAMS (orange) compared to starting from ZAMS (blue). So far so good ...

![resumeMS](https://user-images.githubusercontent.com/6952112/105136518-e2bf7000-5b45-11eb-8068-3b919b6fce68.png)

[2021-01-20 15:41] avigna commented on #453
Fantastic Simon! This seems to be doing the right thing. I will review it before the end of the week so we can add it to COMPAS. I suggest we wait until that is done until we close this issue, but if you think these is enough to close it I'm also fine with it.

[2021-01-21 02:54] SimonStevenson commented on #511
Some thoughts: at the moment, I have implemented this such that you provide the age of the star (in Myrs) as an additional input parameter. This is how SSE does it, and is useful because this is the form that will be needed for implementing merger products, where their new age is determined by the properties of the merging stars. This is also what you might naturally provide if you are interested

[2021-01-21 05:46] reinhold-willcox commented on #512
This also assumes standard ECSN remnant mass and kick, which may not match models for AIC (I haven't looked closely at those). This is an interesting project though, let me know if you would like help implementing this @SimonStevenson.

[2021-01-21 06:21] ilyamandel commented on #512
@SimonStevenson, @reinhold-willcox -- I agree with the proposal to relabel these as a different SN type (AIC instead of ECSN), providing the flexibility for alternative remnant prescriptions and better tracking.  I also agree with modifying mass transfer onto WDs to differentiate between regimes leading to novae, stable MT, or Type IA -- but I think the latter is, technically, a separate (though r

[2021-01-21 06:25] ilyamandel commented on #511
I like the idea of providing tau.  How do you handle the winds that might have affected your ZAMS star?

Also, will this work in all stellar phases?  MS stars might be relatively straightforward, but IIRC, for some stellar types, the Hurley prescriptions compute certain quantities at the beginning of the phase, so this will require extra care...

Also, while doing this, might be a good idea to kee

[2021-01-21 06:34] ilyamandel commented on #502
Sorry for the silence, @LiekeVanSon and @TomWagg !

I believe that, at the moment, we are allowing for WR winds for small-envelope (but not completely stripped) stars in agreement with Hurley+, 2000 (see section 7.1, relevant screenshot attached).

It's clear that we need a coherent plan for handling winds that accounts for all of the updates since Hurley+.  Alas, I haven't had a chance to catch u

[2021-01-22 14:24] LiekeVanSon commented on #502
Hey Ilya, no problem, no hurry with this!

I understand that Hurley is using WR winds for low envelope masses, but the thing that troubles me here is that the Hurley-WR winds become dominant for a short period of time _while there is still a significant envelope present_ (see pink line in 30 Msun plot above).
Moreover while the envelope decreases, (so while we're getting closer to something WR-lik

[2021-01-23 10:50] themikelau commented on #418
Just a reminder to myself to clean up several instances of this sort of thing along the way, e.g., in CHeB.cpp,
[code]
From what I can tell, `maxBG = { 1000.0, 8.0 }` is actually not used. It seems to an artifact created by copying over from StarTrack.

[2021-01-28 06:22] reinhold-willcox opened #517 "2nd Supernova not printing"
**Describe the bug**
The 2nd SN is not printing if the first one is disruptive. This is a new change following PR #507 (sorry Simon to throw you under the bus!).

The issue can be fixed by reverting the line in BaseBinaryStar.cpp in that commit, from:

[code]

to

[code]

However, that just opens up Simon's issue again, so this may require more thought. Also, I see I was tagged in the other PR, bu

[2021-01-28 06:40] ilyamandel commented on #517
@reinhold-willcox -- I ran your code and can't reproduce the problem, I am getting two supernovae in the output file.

[2021-01-28 19:51] jeffriley commented on #517
I can confirm Ilya's result - I executed the command specified above for both CSV file output and hdf5 file output (just in case) and got 2 entries in the SN file both times.  I used v02.18.04.

@reinhold-willcox are you running a clean version of COMPAS (i.e. no custom changes)?  If you are, can you check your build - maybe 'make clean' and do a clean build, and try again?  If you continue to see

[2021-01-28 23:05] reinhold-willcox commented on #517
I'm not seeing the behavior anymore, so I will close this issue unless/until it pops up again...

[2021-01-28 23:32] #517 closed, assigned to ilyamandel, SimonStevenson

[2021-01-28 23:45] reinhold-willcox opened #519 "Grid file arguments not read correctly"
**Describe the bug**

COMPAS behavior is not consistent when running command line arguments vs gridfile arguments. Note that this is the actual cause of issue #517 (which is now closed). I believe the issue is that the gridfile reader is not correctly recognizing the "--evolve-unbound-systems" flag, but command line compas has no problem with this.

**Label the issue**
`urgency_moderate` - This is

[2021-01-29 00:56] jeffriley commented on #519
My bad.  Option '--evolve-unbound-systems' is only ever read from the commandline.  I have no idea what I was thinking when I did that - either I thought nobody would mix evolving unbound and not evolving unbound in the same run, or it was just an oversight.  Either way, I'll push a fix that will treat '--evolve-unbound-systems' like any other option that can be specified in a grid file.

[2021-01-29 03:53] #519 closed, assigned to jeffriley

[2021-02-01 02:41] #453 closed, assigned to SimonStevenson, avigna

[2021-02-04 05:21] reinhold-willcox commented on #457
COMPAS now outputs H5 files directly, closing this issue.

[2021-02-04 05:21] #457 closed, assigned to nobody

[2021-02-17 12:04] reinhold-willcox opened #523 "Demo plotting file not updated to take h5 output"
**Is your feature request related to a problem? Please describe.**
Title says it all - the plotting file in docs/demo/ which is used to generate the plot in the COMPAS paper, reads in the old csv output format, but we now output hdf5 by default.

**Describe the solution you'd like**
The file should be updated to reflect this.

**Describe alternatives you've considered**
If a user wants to use the

[2021-02-17 23:24] reinhold-willcox opened #524 "Initialize He ZAMS stars"
As Jeff and I recently discovered, it is straightforward to initialise He stars at ZAMS in COMPAS. Currently this is achieved through a hack - it would be preferable to do this in a more robust way, with a flag for users who wish to do this in a systematic way.

[2021-02-18 00:40] reinhold-willcox opened #525 "Improve the MT donor history parameter"
The MT donor history parameter currently records all MT events from a given star as vector of stellar types. As a string, it might look something like "2-7-8" to represent 3 different MT episodes where the donor was consecutively a type 2, 7, and 8 star. This is useful, but it breaks down for CE events and does not give any information about the companion.

It would be useful to expand this parame

[2021-02-18 04:00] reinhold-willcox commented on #525
Notes for myself:

Use a mtHist vector of mtEvent structs, made up of the two stellar types and an identifier for the MT direction.

Keep the parameter an attribute of both stars, so that it can be used straightforwardly in the schneider (and other) prescriptions. Then I just need to update the history updater and string converter.

[2021-02-25 13:30] reinhold-willcox opened #530 "Command line option ignored when a grid is used"
**Describe the bug**
The issue described here is very specific to a single command line option, but may be a more general trend (I haven't tested other flags).

I want to do a run with ESCN kicks set to 0, while also using a grid file. When both flags are set, the ECSN kicks are not set to 0. However, when the same grid arguments are included on the command line, the ECSN kicks are properly zero'd

[2021-02-25 19:58] jeffriley commented on #530
The issue here was case-sensitive vs case-insensitive matches (asking BOOST to do case-insensitive matches for option names doesn't propagate to all matches BOOST does...)
        - the options affected were all options that have mixed-case names:
            - case-BB-stability-prescription
            - kick-magnitude-sigma-CCSN-BH
            - kick-magnitude-sigma-CCSN-NS
            - kick-ma

[2021-02-25 20:53] #530 closed, assigned to nobody

[2021-03-03 03:52] reinhold-willcox opened #535 "Parameter --kick-magnitude not working"
**Describe the bug**
The input parameter `--kick-magnitude` appears to not be working, although both `--kick-magnitude-1` and `--kick-magnitude-2` work as advertised.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**

Run `COMPAS --kick-magnitude 666 -n 100`. In the output, none of the drawn kicks are

[2021-03-04 22:17] jeffriley commented on #535
This is more a documentation issue rather than functionality.

Option --kick-magnitude is for a single star (SSE mode) - it was not meant to set the kick magnitude for each of the stars in a binary (in BSE mode).  To do that (set both stars in BSE mode), the user needs to specify both --kick-magnitude-1 and --kick-magnitude-2 (This is how all similar options are coded - e.g. --initial-mass, --init

[2021-03-15 01:12] reinhold-willcox opened #536 "Duplicate values in SystemParams and Supernovae"
This is a very small change, but some of the data columns in the BSE_System_Parameters file are redundant.

Some of the kick parameters, specifically 'SN_Kick_Magnitude_Random_Number', 'SN_Kick_Mean_Anomaly', 'SN_Kick_Phi', and 'SN_Kick_Theta' are all present (and more applicable) in the BSE_Supernovae data file. The kick sigma values however are fine.

Also, 'Stellar_Type' is redundant with 'Stel

[2021-03-17 06:07] jeffriley commented on #536
Stellar_Type shouldn't be redundant with Stellar_Type@ZAMS - Stellar_Type is the stellar type of the star when the file entry is printed, so for BSE_System_Parameters  it will be the final stellar type. Stellar_Type@ZAMS is the initial stellar type.

I'd prefer both stay in BSE_System_Parameters - I don't always generate a BSE_Supernovae file (and what if the star I'm interested in doesn't have a

[2021-03-18 03:31] reinhold-willcox commented on #536
Touche, I hadn't realized the suffix-less one was the final stellar type. It makes sense to keep it then.

[2021-03-18 03:45] #523 closed, assigned to nobody

[2021-03-30 07:40] avigna opened #538 "Simplify and clean `CalculateTimeToCoalescence` function"
**Describe the bug**
The `CalculateTimeToCoalescence` currently handles exceptions individually; however, there is no need for this following Peters 1964. We need to remove the if statements and leave an unique integral. Moreover, we need to use an integrator to solve for that integral instead of an ad-hoc Rieman sum solver.

**Label the issue**
`urgency_low`
`severity_minor`

**Versioning (please

[2021-04-06 08:09] reinhold-willcox opened #539 "RLOF in same timestep as SN"
**Describe the bug**
When RLOF occurs in the same timestep as a SN, some of the parameters and physics become confusing and/or wrong.

Linked below is a very unequal mass system which undergoes CE, followed by an episode of RLOF, leading into an USSN. The RLOF and SN occur in the same timestep, although the RLOF should have resulted in a merger and no SN. Because the system is *very* close immedia

[2021-04-06 08:09] reinhold-willcox commented on #539
[grid.txt](https://github.com/TeamCOMPAS/COMPAS/files/6263090/grid.txt)
[comp_args.txt](https://github.com/TeamCOMPAS/COMPAS/files/6263091/comp_args.txt)

[2021-04-21 04:26] ilyamandel opened #543 "Documentation inconsistency"
At the moment, we have COMPAS_Doc.pdf, COMPAS_CHE.docx, COMPAS_CHE.pdf, and a latex directory which does not automatically produce PDF outputs. The instructions in getting_started.md point to COMPAS_Doc.pdf, which is out of date relative to the latex files.  A non-expert user may not know where to look.

I propose we delete COMPAS_Doc.pdf, COMPAS_CHE.docx, COMPAS_CHE.pdf (any information contained

[2021-04-21 04:30] ilyamandel commented on #339
@jeffriley , has this been addressed already (i.e., can this issue be closed)?

[2021-04-21 06:28] jeffriley commented on #543
I did (briefly) look into creating the pdf file from the LaTex source using github CI/CD last time we taked about this.  I'm confident it can be done.  I'll take some more time and see if I can get it working,

[2021-04-29 02:09] reinhold-willcox opened #548 "Detailed output not printing when multiple gridlines specify a random seed"
**Describe the bug**
This is a pretty specific corner case, but I think I've reduced this to a MWE.

Detailed output is not working correctly, precisely when a gridfile is used which has the --random-seed parameter specified *more than once*.

If detailed output is turned off, or if the gridfile specifies --random-seed on only one line (or none), the output seems to work fine. However, if there is

[2021-04-29 04:17] jeffriley commented on #548
Good catch Reinhold!  In fact, this has been a problem since the new grid files were implemented, and (a variation of) it does happen for other logfile types (a less benign variation).

e.g. running a test with the following grid file:

--eccentricity 0.11 --random-seed 12345
--eccentricity 0.12 --random-seed 23456
--eccentricity 0.13 --random-seed 34567

and commandline:

./compas --grid grid.txt

[2021-04-29 04:49] reinhold-willcox commented on #548
Thanks Jeff, glad it's an easy fix!

[2021-04-30 03:29] reinhold-willcox commented on #535
Closing this issue. The problem was in my misunderstanding the functionality of the parameter, the code is working fine.

[2021-04-30 03:29] #535 closed, assigned to nobody

[2021-04-30 07:15] jeffriley commented on #548
Introduced in v02.16.00
Fixed in v02.19.01 (PR #550 )

[2021-05-03 03:35] #548 closed, assigned to jeffriley

[2021-05-10 00:58] ilyamandel commented on #543
So what about the short-term solution of just removing COMPAS_Doc.pdf, COMPAS_CHE.docx, COMPAS_CHE.pdf and updating the getting_started.md documentation to point to the latex documentation, telling the user to compile it?
Alternatively, we can check in a compiled version and remember that a new .pdf needs to be checked in whenever the latex files change (just like we remember that a new changelog.

[2021-05-10 11:02] ilyamandel opened #556 "Documentation minor issues"
I can't search the PDF compiled from latex documentation for entries with an underscore -- the PDF file seems to think it's a space.

There is something funny in the DOMINANT MASS LOSS RATE definition:
"Note that this property has the same header string as
. It is expected that one or the other is printed in any file, but not both. If both are printed then the file will
contain two columns with th

[2021-05-10 11:11] jeffriley commented on #556
Bottom of page 18 on my copy of the PDF (Section titled "Standard Log File Format)  (Search for 'CP')

I'll take a look at the description of "DOMINANT MASS LOSS RATE"

[2021-05-11 01:55] ilyamandel opened #558 "Post-processing testing"
Since many of us do not usually run jupyter notebooks but may from time to time inadvertently impact them with other code changes, it would be great to have a simple test script that would:
1. Compile COMPAS
2. Do a small run of COMPAS
3. Run post-processing via Jupyter notebooks
4. Create a log of any issues encountered

This wouldn't check for correctness, merely execution failures.  A future op

[2021-05-11 01:57] ilyamandel opened #559 "Jupyter notebook to use latest FastCosmicIntegration"
The relevant Jupyter notebook should be switched to use the now standard FastCosmicIntegration code; once that is done, we can then phase out the no longer maintained (?) older cosmic integration code.

[2021-05-11 02:04] themikelau commented on #559
Just labelled this as moderately urgent, as we wish to use this notebook to create the chirp mass distribution plot in the COMPAS methods paper.

[2021-05-11 02:27] ilyamandel commented on #556
Thanks for the quick fix, @jeffriley , and for the pointer to the definition if (CP) and (SN).  What about

?

[2021-05-11 02:28] #543 closed, assigned to jeffriley, reinhold-willcox

[2021-05-11 02:28] reinhold-willcox opened #560 "Continuous integration"
**Is your feature request related to a problem? Please describe.**

Related to Issue #558, we should incorporate continuous integration (CI) tests into Github, as a simple way to automatically test / compile parts of the repo that may have been inadvertently affected by other changes.

The CI should include:
- tests on the post-processing pipeline, including the jupyter notebooks.
- compilation of

[2021-05-11 02:31] reinhold-willcox commented on #560
Also related to the discussion in #543

[2021-05-11 02:41] jeffriley commented on #556
Well, it says (SN) indicates that the property is a property of the supernova - presumably that can only be after the SN event.  We could be more explicit I suppose.

[2021-05-11 10:40] ilyamandel commented on #556
Yes, I'd like it to say explicitly that Mass (SN) is the mass of the remnant after the SN (just like TOTAL MASS AT COMPACT OBJECT FORMATION says explicitly that this is the mass at the beginning of (should be "just prior to"?) the SN event).

[2021-05-11 10:41] ilyamandel commented on #556
P.S. I'll reopen this issue -- happy to do the above myself (unless someone gets to it first), just not right now.

[2021-05-11 11:24] jeffriley commented on #556
Hmmm.  The suffix "(SN)" is added at run-time to any stellar property that is printed for a star that has undergone a SN event.  So we don't just want to say "Mass(SN)" is the mass of the remnant (why would we call out mass specifically and not any other attribute?) - we should expand the description of the suffixes (that any column with a header with a "(SN)" suffix represents an attribute of the

[2021-05-17 02:18] FloorBroekgaarden commented on #559
Jeff also has the data ready (it seems) we will try to eventually upload this on  the COMPAS Zenodo to go with the data.

[2021-05-18 00:50] ilyamandel opened #562 "Default options in C++"
Migrate defaults from defaults/pythonSubmit.py to C++ code in order to have a single consistent model to refer to as "default".

[2021-05-18 08:16] avigna opened #564 "Change the tides default description in the pythonSubmit"
Currently, in the `pythonSubmit.py`:

Change to:

[2021-05-18 23:41] reinhold-willcox commented on #560
Adding to this: creation of a new git tag for every time we change the version number.

[2021-05-19 03:47] #559 closed, assigned to FloorBroekgaarden, jeffriley, reinhold-willcox, themikelau

[2021-05-24 14:45] FloorBroekgaarden opened #570 "change pre-factor in thermal (kelvin-helmholtz) timescale calculation"
**Is your feature request related to a problem? Please describe.**
The function `CalculateThermalTimescale` uses a pre-factor of GMsun^2 / Rsun Lsun = 30.0 Myr, but when you calculate this it should actually be 31.4 Myr (see attachment) so why not update this? I also updated the documentation

**Describe the solution you'd like**
I am changing the 30.0 to 31.4 Myr. Since both numbers have the same

[2021-05-24 23:48] ilyamandel commented on #570
@FloorBroekgaarden -- I am not convinced we need to make this change, since the kH timescale is approximate, anyway.  It will only make the results very slightly different from previous runs (i.e., makes regression testing slightly more challenging, but otherwise little impact). That said, I also don't mind if we do this -- no harm, either.

[2021-05-25 01:09] FloorBroekgaarden commented on #570
that is correct. This change is definitely strictly not needed (the factor 30 -> 31.4) but I did not see harm in changing it? @ilyamandel , hence why I thought to update it. "Code cleanup is for the added documentation"

[2021-05-27 08:03] ilyamandel opened #572 "FastCosmicIntegration documentation"
@jeffriley  pointed out two things about FastCosmicIntegration which I am afraid aren’t sufficiently clearly stated in the documentation (mea culpa) but explain some differences with the old cosmic integration that Jeff encountered:

1. FastCosmicIntegration, as currently written, expects metallicities to be distributed uniformly in the log, whether binned or stochastically sampled metallicities a

[2021-05-27 17:01] TomWagg opened #573 "If grid file is in a folder that has spaces in the name it breaks"
**Describe the bug**
If the name of the folder has spaces in the name (for example if someone was in a rush and wrote "helium stars" as the name of the directory instead of "helium_star") then you get an error that says

[code]

which seems very difficult for people to find.

(Disclaimer: I realise it is crazy to be putting spaces in directory names, but I figured since the error message seems to

[2021-05-27 20:40] jeffriley commented on #573
COMPAS code can't fix this - the shell commandline parser uses space as a delimiter, so passes the "broken" parameter to COMPAS - COMPAS has no way of knowing it should "reassemble" the parameter.  The workaround is to put the directory name inside quotes (should work - I haven't tried it, but the commandline parser should pass anything in quotes directly through to COMPAS)

[2021-05-27 20:54] jeffriley commented on #573
p.s. The reason for the seemingly strange error message is that because the commandline parse breaks the parameter, it passes "pre" through to COMPAS as the value for the "--grid" option, and then passes "Processing" through as the next option name - the error message comes from the Boost parser, and is trying to indicate that the supplied option name "Processing" is not an exact match for any opt

[2021-05-28 00:42] ilyamandel commented on #573
I suppose a solution to the unclear error message could be to check whether the path or filename, as given in the pythonSubmit file, can be found -- before calling ./COMPAS with the long command line.  This would enable raising a more informative error.

[2021-05-30 21:28] jeffriley commented on #573
The bottom line is that this is not a defect - it's just the way the shell parser works, and the way the Boost parser responds.

Wrt the obscure error message (it's actually not so obscure once you know what's happening - an improvement would be to identify the parameter that causes Boost to respond this way), as @ilyamandel suggests, we could put code in the pythonSubmit file to try to catch the

[2021-05-31 00:18] ilyamandel commented on #556
Sorry, @jeffriley , I think I missed your comment.  I am happy with the clarification you propose -- should we go ahead with that?

[2021-05-31 00:23] jeffriley commented on #556
Sure.  Do you want to update the latex files, or me?  (I don't mind either way)

(edit) Oh - the issue is assigned to me, so I guess I should update the latex files :-)  I'll do it.

[2021-06-05 22:05] #573 closed, assigned to TomWagg

[2021-06-07 06:32] #564 closed, assigned to avigna

[2021-06-14 13:11] ilyamandel opened #580 "Change LBV default wind prescription to HURLEY_ADD"
In https://github.com/TeamCOMPAS/COMPAS/pull/458, @TomWagg implemented the HURLEY_ADD LBV wind prescription to avoid stars becoming super-Eddington.  We kept the default as BELCZYNSKI for testing / backward compatibility.  Assuming we are OK with keeping defaults for the methods paper, I am putting this down as a future PR *after* the methods paper to change the defaults to HURLEY_ADD.

[2021-06-14 13:39] TomWagg commented on #580
Hey @ilyamandel, didn't we do this already in #566?

[2021-06-14 14:05] ilyamandel commented on #580
Issue already resolved as pointed out by @TomWagg .  I was confused by the difference between preProcessing/pythonSubmit.py and examples/methods_paper_plots/detailed_evolution/pythonSubmitDemo.py, which I will fix in the next PR.  Closing.

[2021-06-14 14:05] #580 closed, assigned to ilyamandel, TomWagg

[2021-06-14 23:59] ilyamandel opened #582 "Document code defaults more clearly"
We have a few cases where pythonSubmit specifies multiple options in which one over-rides the other, e.g., for metallicity vs. metallicity distribution.  Meanwhile, there are a few places in Options.cpp where defaults appear only as defensive programming and will never be used, e.g., m_metallicity is always over-ridden either by a user-specified metallicity on the command line, or by the (default

[2021-06-15 00:00] ilyamandel commented on #562
Closing -- see PR #581 .

[2021-06-15 00:00] #562 closed, assigned to ilyamandel, jeffriley

[2021-06-21 05:50] SimonStevenson opened #585 "Inconsistent columns/headers in SSE_Supernova"
**Describe the bug**
When running COMPAS in SSE mode, I find a mismatch between the headers and the values listed in SSE_Supernova (command line to reproduce below).

The output header has 15 columns, but there are only 14 values.  This leads to some variables being matched to the wrong header. For example, I have Stellar_Type_Prev = 7.11 (stellar type should be an integer, I believe this is a cor

[2021-06-21 09:14] jeffriley commented on #585
I've identified the problem - I'll push a fix later tonight or tomorrow.

[2021-06-21 13:23] jeffriley commented on #585
Defect introduced in v02.18.00 - seems I may have been a little over-zealous with some code-cleanup...  Problem only affected SSE_Supernovae logfile.

Fixed in PR #587, COMPAS v02.20.21

[2021-06-22 01:03] #585 closed, assigned to SimonStevenson, jeffriley

[2021-06-22 23:54] jeffriley commented on #560
@reinhold-willcox Can we easily check whether the C++ compile and/or the LaTeX compile is actually necessary?  I just opened a PR for a small change to one of the post-processing python files - no C++ file or LaTeX file was modified, but the checks for the C++ and LaTeX builds were run.  The github runners aren't exactly the speediest systems and the COMPAS build takes a few minutes.  It's not a h

[2021-06-23 02:46] reinhold-willcox commented on #560
Yes, a git diff should be straightforward. ~I'll add an issue for it~ (edit: I'll just leave this issue open for now), but not 100% sure when I'll have time to add it in.

[2021-06-28 01:41] reinhold-willcox commented on #558
Adding to this issue, some very low-priority TODOs related to the post-processing scripts. I am happy to take them on at a later date.

- Versioning jupyter notebook files (.ipynb) is a pain because of all the excess metadata and the annoying format of the source code. Jupytext converts notebooks into python files, which are still readable as the original notebook, and are much easier to version.

[2021-06-28 01:44] reinhold-willcox commented on #560
TODO at a later date:

- If there were changes to the source code, setup a CI to rerun the test runs (maybe in a Docker container?)
- If the version is changed in changelog.txt, create a new git tag with the appropriate version name. Then if we want to checkout a specific version, it's just a `git checkout v20.02.XX`, instead of trying to dig through the history of logs.

[2021-07-04 02:08] ilyamandel opened #591 "Backwards check in FastCosmicIntegrator"
@jeffriley points out that this check in FastCosmicIntegrator appears to be backward.  @TomWagg , can you please check?

    # another warning on poor input
    if max(chirp_masses)*(1+max_redshift_detection) < Mc_max:
        warnings.warn("Maximum chirp mass used for detectability calculation is below maximum binary chirp mass * (1+maximum redshift for detectability calculation)", stacklevel=2)

[2021-07-07 04:58] reinhold-willcox opened #592 "Evolve merger products"
I would like to have the ability to evolve the product of a stellar merger. This should be an option that can be turned off (akin to EvolveUnboundBinaries). It may be difficult to define what the product should look like / how it fits into the Hurley definitions. (see Hurley+02)

**Describe alternatives you've considered**
A very naive alternative would be to just extract all stellar mergers in CO

[2021-07-07 06:28] reinhold-willcox commented on #592
Closing, issue already exists in #511

[2021-07-07 06:28] #592 closed, assigned to nobody

[2021-07-12 09:48] reinhold-willcox opened #593 "Strange behavior in BSE_RLOF and BSE_Common_Envelopes"
**Describe the bug**
In the BSE_RLOF output file, the parameter 'CEE' appears to not be working correctly. From the documentation, CEE is a  "Flag to indicate if the RLOF leads to a common-envelope event". This also agrees with what I would expect. However, it is sometimes incorrectly set to false when there is a CEE event, identified by an entry in the BSE_Common_Envelopes output. After further d

[2021-07-13 05:38] jeffriley commented on #593
@themikelau

[2021-07-14 00:35] reinhold-willcox commented on #593
[COMPAS_Output.h5.txt](https://github.com/TeamCOMPAS/COMPAS/files/6812688/COMPAS_Output.h5.txt)

@themikelau Github says it doesn't accept h5 file uploads, so I've added a txt extension, but you should be able to just rename it after downloading. Let me know if that doesn't work. There's just a single system in it, so it's pretty small.

[2021-07-20 05:40] reinhold-willcox commented on #593
@themikelau @jeffriley All good, I've sorted this out.

If the RLOF results in a merger, an entry is always made in the CE output. However, for CE entries resulting in mergers, sometimes the stellar parameters are unchanged in the CE file (hence my confusion above), but this is probably because a lot of these parameters won't have sensible values post merger.

Note that even though the RLOF result

[2021-07-20 05:40] #593 closed, assigned to themikelau

[2021-07-20 05:51] reinhold-willcox opened #594 "Minor fixes to the RLOF output"
In the BSE_RLOF output, the parameters for stellar type are named "Type(1)", "Type(1)_Prev", etc. They appear to function correctly, but in other outputs, this parameter is "Stellar_Type(SN)" etc. My understanding of these parameters is that if they represent the same thing, they derive from the same quantity and should be named using the same roots. This suggests to me that the BSE_RLOF parameter

[2021-07-20 08:12] jeffriley commented on #594
"Type(1)", "Type(1)_Prev", etc. are strings in the BINARY_PROPERTY_DETAIL map defined in constants.h.  The maps

ANY_STAR_PROPERTY_DETAIL
BINARY_PROPERTY_DETAIL
PROGRAM_OPTION_DETAIL

define the header string, units string, and field width, for the properties being printed (for single stars, binary stars, and program options, respectively).

Whoever writes code and adds variables exposed for selec

[2021-07-20 09:25] avigna opened #595 "Mass transfer donor/acceptance rate should be a property of the object star"
COMPAS v02.20.01 includes a non-ideal treatment of mass transfer, as the mass donor and acceptance rates are calculated manually and then passed as arguments to a function (see `CalculateMassTransfer()` function in `BaseBinaryStar.cpp`):
[code]
This behaviour is likely poor practice from COMPAS Legacy. We should adapt and allow each object to know it's mass donor and acceptance rate in order to ha

[2021-07-20 09:30] avigna commented on #24
Does the current, more careful, estimates of timesteps, which do not allow wind mass loss greater than 1% nor radial changes more than 10%, help with this issue? I.e., is this still relevant?

[2021-07-22 06:17] reinhold-willcox opened #596 "Implement ECSN fixes from my kicks paper"
**Is your feature request related to a problem? Please describe.**
We should implement the ECSN fixes proposed in my NS kicks paper (arxiv:2107.04251).

**Describe the solution you'd like**
In the paper, we propose that the ZAMS mass range for ECSN progenitors should be reduced to below 0.2Msol, but this is not that practical to implement directly in COMPAS because we don't trigger ECSNe based on

[2021-07-28 07:41] jeffriley opened #600 "pythonSubmit.py does not treat fully-qualified grid filenames and fully-qualified logfile-definitions filenames correctly"
**Describe the bug**
pythonSubmit.py does not treat fully-qualified grid filenames and fully-qualified logfile-definitions filenames correctly - it adds CWD even though the filename is already fully-qualified.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**
Specify 'grid = /dirname/gridfilename.txt'

[2021-07-28 08:01] jeffriley opened #601 "pythonSubmit.py doesn't allow users to specify "False" for boolean program options"
**Describe the bug**
The current pythonSubmit.py doesn't allow users to specify "False" for boolean program options if the options are set "True" by default in the C++ code.

Background:

Boolean program options were not handled correctly in the legacy code - they were processed thus:

    if (vm.count("quiet")) {
        options.quiet = true;
    }

So if the program option name was present on th

[2021-07-28 08:40] jeffriley commented on #601
Fixed in PR #602 v02.21.00

After this change, boolean options set to either "True" or "False" in pythonSubmit.py will be listed on the commandline constructed by pythonSubmit.py: options whose value in pythonSubmit.py is "True" will be listed with no argument (e.g. '--quiet'), whereas options whose value is "False" in pythonSubmit.py will be listed with the argument "False" (e.g. '--quiet False')

[2021-07-28 08:40] jeffriley commented on #600
Fixed in PR #602 v02.21.00

After this change, any grid file or logfile-definitions file that is specified as a fully-qualified filename (i.e. the string given as the value of the 'grid' variable or 'logfile_definitions' variable in pythonSubmit.py includes both a path and a base filename) will be passed as given to the commandline - no path will be added by pythonSubmit.py (either CWD or compas_i

[2021-07-29 01:56] reinhold-willcox commented on #594
Thanks Jeff. Sounds like the solution is complicated enough, and the issue minor enough, that we should just leave this as is. If you agree, let's close this issue.

[2021-07-29 03:00] jeffriley commented on #594
Agreed - let's close it

[2021-07-29 03:00] #594 closed, assigned to jeffriley

[2021-08-02 00:13] #601 closed, assigned to jeffriley

[2021-08-02 00:13] #600 closed, assigned to jeffriley

[2021-08-05 03:46] reinhold-willcox opened #604 "BSE_RLOF output skips a stellar type"
**Describe the bug**
In some (rare) cases, the `BSE_RLOF` output shows a donor star with previous stellar type 1 (MS) become stellar type 7 (HeMS). This generally should not happen, since MS stars do not yet have He cores. Upon closer inspection of the detailed output, the donor is in fact a HG star for a few timesteps before it becomes a HeMS star, but this is not correctly reflected in the `BSE_

[2021-08-05 04:10] jeffriley commented on #604
I don't know what the goal of the RLOF printing function is.  I'm happy to help resolve the problem, but I don't know what I'm looking for.  Can someone document here what the goal of the RLOF printing function is, and what the expected output is (and when it is expected)?

[2021-08-05 04:20] reinhold-willcox commented on #604
I'm not sure I completely understand your question, but from what I remember when Coen was writing the function originally, there was a question as to when to start and stop the recording. For Case A, because it's slow and occurs over many timesteps (often stopping and restarting), there was a desire to only record the state of the system just at the beginning and end of an ongoing MT event (and s

[2021-08-05 04:35] jeffriley commented on #604
When I refactored the COMPAS code, I rewrote Coen's RLOF printing code - but in doing that all I did was reproduce the functionality as it was.  So I know how it works, but I don't know how it is supposed to work - unless the code does exactly what it is supposed to do, in which case knowing how it works means I know how it is supposed to work.  I can't find where it is not working correctly unles

[2021-08-05 05:04] reinhold-willcox commented on #604
My preferred functionality is to print RLOF output only when RLOF starts and stops (as it currently does), and _also_ when the stellar type of either star changes (which it does not currently do). I'm not sure how to implement that, but I'll take a look.

[2021-08-05 05:07] jeffriley commented on #604
Ok, look at BaseBinaryStar::StashRLOFProperties() - it keeps a "previous" and "current" version of the RLOF properties, including the stellar type of both stars, so you should be able to determine if either (or both) of the stars changed stellar type.

[2021-08-07 02:55] ilyamandel opened #605 "Extreme HeWD masses"
COMPAS can apparently produce 1.96 solar mass HeWDs (originally pointed out by @solfreludio , I've now confirmed this).  Something is rotten in the state of COMPAS low-mass binary evolution... ;-)

[2021-08-07 21:09] nrsegovia commented on #605
For a simple run of 10000 systems there are HeWDs as massive as 2.5 solar mass. My guess is that those stars also continue accretion without changing class, as a HeWD forms when a star on the FGB or HG loses its envelope and has a core mass lower than `MHeF`. This limit is the one Ilya mentioned (Hurley et al. 2000 eq. 2, with the default values in COMPAS). Maybe #512 related?

**To reproduce**
[c

[2021-08-08 23:56] SimonStevenson commented on #605
Hi @solfreludio is it possible to plot the "detailed output" (--detailed-output) of one of the binaries that produces a massive HeWD? I think you are probably correct that this is due to accretion, but that would be good to see.

If so, it is not really surprising to see this, since we don't have any prescription for stable burning rates on WDs implemented (as discussed in #512). See also the sect

[2021-08-10 01:06] ashruiter commented on #605
Hi @SimonStevenson, thanks for the feedback! I think we will be able to come up with some prescription(s) to help these poor WDs out 😅 Nicolas @solfreludio is finding some weird things indeed. We'll get there! Really appreciate the quick response!

[2021-08-10 17:08] nrsegovia commented on #605
Hi @SimonStevenson, thanks for the insight. I have attached two figures I made, the first one corresponds to the complete evolution of the system over time and the second one is just a plot of the time near the primary evolving into a HeWD.

For reference, each panel contains:
* (1) : Evolutionary stages.
* (2) : Ratio Radius/Roche_Lobe, also includes information on common envelope and Roche lobe

[2021-08-10 21:57] jeffriley commented on #604
@reinhold-willcox @themikelau

What does "only when RLOF starts and stops" mean in this context?  Reinhold notes "(as it currently does)" - looking at the code, I see

BaseBinaryStar::PrintRLOFParameters() is called from BaseBinaryStar::Evolve() at every timestep (the same frequency as BaseBinaryStar::PrintDetailedOutput())

BaseBinaryStar::PrintRLOFParameters() performs two checks:

(a) it checks

[2021-08-10 23:31] jeffriley commented on #604
Oh, forgot to add

You might need to look at the switchlog functionality for that - it may even be that just using switchlog is enough for you (especially if you add columns to the switchlog file - talk to @ilyamandel - he uses the switchlog functionality)

[2021-08-11 04:56] reinhold-willcox commented on #604
Sorry, I was mistaken in some of my previous posts. What it currently does is to output RLOF details every time RLOF is occurring. Not at the start and stop points like I said above. That was a functionality I discussed with Coen ages ago, that I thought was implemented (and which I thought I was seeing in the output). Caveat: the idea was that Case A MT often occurs over many timesteps, so we cou

[2021-08-11 05:55] jeffriley commented on #604
That is true - I'd forgotten about that (actually I thought at one stage you took that code out - maybe I was dreaming).  I think we should change that (more below).

Do you mean stash them in the SSE code, and print from the BSE code?  That's problematic.  Or do you mean stashing the RLOF details after calling BaseBinaryStar::EvolveOneTimestep(), and printing them sometime later?

I think we coul

[2021-08-11 08:18] jeffriley commented on #604
Btw, just to be clear:

Stars only ever switch stellar type in what you refer to as the SSE component.  Only the BaseStar class and stellar types classes (CHeB, HeMS, HeHG.cpp etc.) operate directly on single stars - the binary star class does not operate on single stars (so a star will never switch type in the BaseBinaryStar class for example - the stellar object (either the primary or the second

[2021-08-22 05:01] #604 closed, assigned to jeffriley

[2021-08-30 22:26] ilyamandel opened #612 "Eddington mass accretion limit"
The current implementation of the Eddington mass accretion limit onto BHs corresponds to an accretion efficiency of about 0.5, which is about a factor of 5 higher than expected, reducing the mass limit by a factor of 5.  Probably doesn't have much impact in the end, but would be good to fix.

[2021-08-31 00:52] reinhold-willcox opened #613 "Bloated SystemParameters output"
**Is your feature request related to a problem? Please describe.**
The BSE_System_Parameters output seems a bit bloated in its current state, with many parameters that are probably better suited for other output files. Examples include anything relating to initial distribution hyperparameters (e.g `Metallicity_Dstrbtn`, `Metallicity_Dstrbtn_Max`, `Metallicity_Dstrbtn_Min`) or other constants acros

[2021-08-31 01:01] reinhold-willcox opened #614 "Documentation upgrade"
**Is your feature request related to a problem? Please describe.**
The documentation is a bit clunky in its current form, as a dry pdf document hidden away in an obscure git branch. It is difficult to navigate, especially for strings containing underscores (i.e most variable names). Many public codes use markdown-based websites which make navigating/reading/updating the documentation *much* easier

[2021-08-31 09:11] jeffriley commented on #613
@reinhold-willcox I think what you're seeing is a result of adding the option values to the system parameters file - that was done so that the different values of options on different grid file lines would be saved with the system parameters.  This was added in v02.19.00.  There is a new option: "--add-options-to-sysparms" which defaults to "GRID".  If you specify "NEVER", you'll find the bloat in

[2021-09-01 01:23] reinhold-willcox commented on #613
Closing this issue in light of Jeff's comments, and because I had originally asked for this functionality.....

[2021-09-01 01:23] #613 closed, assigned to nobody

[2021-09-01 01:27] reinhold-willcox opened #615 "random-seed incorrect implementation"
**Describe the bug**
The random seed that is input on the command line or in a grid file is mis-aligned with the one that is used for a given run for the SN kick random parameters, and the first grid file line always uses the default seed of 0 for the kick parameters. This makes it  difficult to reproduce single systems of interest. I've spoken to Jeff about this and he knows the solution, so I wo

[2021-09-10 23:53] reinhold-willcox opened #617 "units in the --help"
**Describe the bug**
In the COMPAS --help output, the description for --semi-major-axis does not say what units are used. I haven't checked the rest, but they should also be verified. This is an easy fix that I'm happy to handle, just reporting here to remind myself later.

**Label the issue**
`urgency_low`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impa

[2021-09-11 10:04] jeffriley commented on #615
The problem here is that the random seed is set in main() after the program options are parsed and processed.  Some program options have default values that are drawn from distributions, set from random numbers, or are calculated from other option values that may have been drawn or set from random numbers.  The fix is to calculate those default option values after the random seed is set for the sy

[2021-09-17 03:33] reinhold-willcox opened #621 "BSE_RLOF output SEED parameter name bug"
**Describe the bug**
Another really small, almost cosmetic bug (sorry for being so picky). In the BSE_RLOF output, the `SEED` parameter has recently been renamed to `SEED>MT`. Many of the other parameters have been renamed similarly to more clearly signify if they apply >MT or <MT, but the SEED parameter doesn't really fit into that mold, and should be renamed back to just `SEED`.

Jeff, I'm happy

[2021-09-17 04:43] jeffriley commented on #621
I think that's reasonable.  I suspect the '>MT' was meant to signify that the value comes from the post-MT RLOF props.  Even though we record the random seed in the pre-MT RLOF props, we don't expose it for printing (and even if we did it would be the same seed).

The only problem with changing the header to just "SEED", is that if someone decides they want to add the BINARY_PROPERTY::SEED to the

[2021-09-17 22:24] reinhold-willcox commented on #621
I just swapped out the MT specific parameter for BINARY_PROPERTY::SEED, and deleted the original. You are right, there are a few other parameters that seem to have been "pre or post Mass Transfer"-ized, without any real reason to do so - there was a star ID one as well - but I didn't change those in case there are other compelling reasons to keep them that I couldn't think of.

[2021-09-19 04:33] jeffriley commented on #621
@reinhold-willcox Reviewed - suggested some changes.  Further to those suggestions, and pertaining to the star ID property you mention above, the

OBJECT_ID id

variables in both the RLOFProperties and the BeBinaryProperties structs in typedefs.h were probably included for debugging (the object id is only ever used for debugging).  You can safely remove those - and the corresponding code that stas

[2021-09-23 08:06] ilyamandel opened #626 "README updates"
Update documentation links throughout to point to https://compas.science/docs, and update the blurb below to point to the methods paper:

Please also kindly include citations to the two following papers:
Stevenson S., Vigna-Gómez A., Mandel I., Barrett J. W., Neijssel C. J., Perkins D., de Mink S. E., 2017, Nature Communications, 8, 14906
Vigna-Gómez A., Neijssel C. J., Stevenson S., Barrett J. W.

[2021-09-24 00:56] ilyamandel commented on #626
Partially addressed by @FloorBroekgaarden in #627 .

[2021-09-24 02:57] themikelau commented on #626
Do we still wish to have separate links in the README to
* Getting started
* Specifications
* Post-processing
* Running COMPAS inside a Docker container
in readthedocs

Or a single "Documentation" link to https://compas.science/docs?

[2021-10-01 00:42] #615 closed, assigned to jeffriley

[2021-10-01 04:33] reinhold-willcox opened #630 "Plotting / diagrams"
General place for discussion on improvements to the Compas output plots, as we prepare for generalized van den heuval output plots.

As a first TODO: we should add metallicity to the output plots like the one we used in the methods paper.

[2021-10-01 04:35] reinhold-willcox opened #631 "Output parameter name / value consistency"
Some of the output parameter names could be improved, some for consistency with other parameter names, and some which are misleading to the point of being incorrect.

The following lists some of the improvements I've noticed, but it is not necessarily complete.
- We should decide on and stick to a convention for whether to put the the chronology indicator (e.g <MT, @CE) before or after the star in

[2021-10-01 11:00] ryosuke-hirai opened #632 "Documentation inconsistency"
In the "Getting Started" section of the documentation, there are several inconsistencies with what is provided.
1. In section 2.2, it says that a script called `single_sys_plotter.py` is provided. But what is provided is called `detailed_evol_plotter.py`
2. Same section, the default grid file provided in `examples/methods_paper_plots/detailed_evolution` does not reproduce the plot shown. Instead,

[2021-10-01 13:09] ilyamandel commented on #632
Items 1 and 2 addressed in #633 ; I accidentally omitted 3 -- but it's now staged in PR #628 , so closing this issue.

[2021-10-01 13:09] #632 closed, assigned to nobody

[2021-10-01 13:10] ilyamandel commented on #626
@themikelau -- a single link is probably sufficient; what do you think?

[2021-10-01 13:12] ilyamandel commented on #614
I think this is addressed with @jeffriley's readthedocs -- see compas.science/docs -- so closing this.

[2021-10-01 13:12] #614 closed, assigned to nobody

[2021-10-01 13:24] ilyamandel commented on #572
Included in #628 .

[2021-10-01 13:24] #572 closed, assigned to TomWagg

[2021-10-01 13:30] ilyamandel commented on #556
@jeffriley -- I am not sure this one is fully addressed [see https://compas-docs-readthedocs.readthedocs.io/en/latest/standard-logfile-format.html?highlight=(SN)#standard-log-file-format ] -- but just a tiny tweak to add "any column with a header with a "(SN)" suffix represents an attribute of the the remnant after the SN (and similar statement for the "(CP)" suffix)" as you propose above would do

[2021-10-01 13:33] ilyamandel commented on #538
Splitting up the integral into three cases is warranted because at e->0 and e->1, there are nominal singularities and the expression is prone to numerical errors.  I agree with either using a Riemann solver... or using my analytical fit.  Any objection to the latter, @avigna ?

[2021-10-01 13:34] ilyamandel commented on #524
This is already covered more generally in #511 , so closing this issue.

[2021-10-01 13:34] #524 closed, assigned to nobody

[2021-10-01 13:35] ilyamandel commented on #511
Note the comment on He ZAMS stars in the now closed #524 from @reinhold-willcox :

"As @jeffriley  and I recently discovered, it is straightforward to initialise He stars at ZAMS in COMPAS. Currently this is achieved through a hack - it would be preferable to do this in a more robust way, with a flag for users who wish to do this in a systematic way."

[2021-10-01 13:37] ilyamandel commented on #378
@TomWagg -- are you still planning to implement this?

[2021-10-01 13:38] ilyamandel commented on #169
I think the issues described here are sufficiently outdated that this is safe to close.

[2021-10-01 13:38] #169 closed

[2021-10-01 15:35] TomWagg commented on #378
As I recall I didn't do it because you mentioned in Slack that it assumed uniform q which was undesirable. But I've got the code for it in my own personal stuff so would be super easy to copy over if you think it would be useful :)

[2021-10-02 00:11] jeffriley commented on #556
@ilyamandel Fixed online (you may need to reload the page).  Let me know if this wasn't what you were thinking.

[2021-10-02 00:21] ilyamandel commented on #408
@jeffriley -- just a ping to both of us (we are clearly racing to not get there first :) ).

[2021-10-02 00:21] #626 closed, assigned to ilyamandel, FloorBroekgaarden, reinhold-willcox, themikelau

[2021-10-02 00:26] ilyamandel commented on #556
Thanks, @jeffriley !  One more doc update request (aside -- can I update the docs directly?):
at https://compas-docs-readthedocs.readthedocs.io/en/latest/example-compas-run-detailed-output.html,
python3 single_sys_plotter.py
should read
python3 detailed_evol_plotter.py

[2021-10-02 00:32] ilyamandel commented on #378
I think there's a broader issue that as people sample from new and exciting distributions via a grid file (whether in mass or mass ratio or metallicity), we need to think of better ways to record and process that for normalisation purposes.  But let's leave this aside for now -- I think what you proposed above is a good solution for our standard default.  Note, however, that I recommend using the

[2021-10-02 00:43] ilyamandel commented on #536
@reinhold-willcox -- is this still an issue?

[2021-10-02 01:02] ilyamandel commented on #596
Suggestion:
add a new option (something like noECSNinSingleStars); if that option is set, check if a star that goes into the ECSN branch has a hydrogen envelope, and if it does, it stays a WD, avoiding an ECSN.

[2021-10-02 01:14] ilyamandel commented on #605
@solfreludio , @ashruiter -- very sorry for the long silence on this.  I've been overwhelmed with homeschooling and various other obligations.  At least some of the obligations have been taken care of (alas, not all, and homeschooling is coming back on Monday), but I'm trying to get back to at least a bit of coding, and this issue is a top priority.

@solfreludio -- suggestion for the future: when

[2021-10-02 01:38] ilyamandel commented on #556
All good (and I now know how to edit the docs myself :) ) -- closing issue, thank you, @jeffriley !

[2021-10-02 01:38] #556 closed, assigned to jeffriley

[2021-10-02 02:49] nrsegovia commented on #605
@ilyamandel sorry for that, here are the details for the system in my plots:
[code]
This was done using `COMPAS v02.20.00`, I have not tried running the same system under the newest version.

[2021-10-03 21:44] ilyamandel commented on #605
Thank you, @solfreludio !  Something is definitely rotten in the state of <s>Denmark</s> COMPAS... Stay tuned (alas, until after 3 hours of homeschooling...).

Time (Myr),   Event,  M1 (M_o),   type1,  M2 (M_o),   type2,  a (R_o),    e
0     start: Z=0.0142      6.8959      1      2.0157      1      237.9121      0
51.076     star 1 1->2   6.8634      2      2.0157      1      238.7822      0
51.2

[2021-10-03 21:48] ilyamandel commented on #605
For what it's worth, I think what happens is that there is RLOF immediately after the common envelope [edit: confirmed, that is what happens], leading to stable MT, but that RLOF should be from 2 to 1 in this case -- so need to figure out why it's recorded as 1->2.  That's separate from the issue of dumping this much mass onto a WD...

[Edit (last before homeschooling) -- after the CE, radius_1 /

[2021-10-03 23:10] ilyamandel commented on #605
P.S. RLOF immediately after CE keeps on confusing people.  We don't think that's real and usually take it out in post-processing, and I suggest we just assume that such systems lead to merger by default.  I'll make a separate issue for that.

[2021-10-04 03:18] ilyamandel commented on #605
Update:
There are three separate issues. :-)
A. There is a mistake in the MassTransferTrackerHistory.  It doesn't affect the evolution, just a labelling mistake.  I'll upload a PR to fix that shortly.
B. This particular binary entered RLOF right after CE.  We normally discard such binaries in post-processing based on their immediateRLOFPostCEE flag.  To avoid confusion, I propose we change the def

[2021-10-04 03:53] ilyamandel opened #637 "Change default treatment of immediateRLOFPostCEE and optimisticCE"
At the moment, on immediateRLOFPostCEE (RLOF immediately after CE) and optimisticCE (CE from radiative-envelope donor), we just record the appropriate flags and continue with evolution as if the binary survived the CE.  However, this has two problems:

1. If we want to implement the treatment of mergers (see #209 ), this is no longer a flag issue, but an actual bifurcation in the binary's evolutio

[2021-10-04 04:11] #591 closed, assigned to TomWagg

[2021-10-04 05:00] ilyamandel commented on #605
OK, final update on this for today:
A. Fixed, see #636 .
B. I'll wait for a week to give people a chance to comment on this change (see #637 ), then implement it.  For now, I recommend ignoring all systems (like this one) with immediateRLOFPostCEE or optimisticCE flags on -- in our default models, we think they lead to mergers.
C. On reflection, I'd like to do accretion onto WDs properly, rather t

[2021-10-04 05:00] #605 closed, assigned to ilyamandel, SimonStevenson, ashruiter, jeffriley, reinhold-willcox, nrsegovia

[2021-10-04 05:04] ilyamandel opened #638 "WD accretion prescription"
We do not currently have a sensible prescription for accretion onto WDs.  We could, of course, implement the prescription from Hurley+, 2002, section 2.6.6, steady accretion onto degenerate objects -- see below -- but now that we have experts @ashruiter and @solfreludio on board, let's do this right!  What should we do, in order to avoid 2+ solar mass HeWDs as in #605 :

![image](https://user-imag

[2021-10-04 06:05] ilyamandel commented on #612
Resolved in #639 , closing.

[2021-10-04 06:05] #612 closed, assigned to ilyamandel, SimonStevenson

[2021-10-04 06:27] ilyamandel commented on #512
Open the latter issue as #638 .

[2021-10-04 06:28] ilyamandel commented on #638
(See related issue #512 )

[2021-10-04 06:29] ilyamandel commented on #339
I think this has been addressed in the documentation, so closing this issue.

[2021-10-04 06:29] #339 closed, assigned to jeffriley

[2021-10-04 21:04] reinhold-willcox commented on #536
No, I'll go ahead and close it.

[2021-10-04 21:05] reinhold-willcox commented on #536
Oh wait no, it is! Sorry I skimmed the last two comments too quickly.

[2021-10-04 21:06] reinhold-willcox commented on #536
@jeffriley Are you ok with removing the kick parameters from system_parameters, or is there a compelling reason to leave them both there and in the SN output?

[2021-10-04 21:12] jeffriley commented on #536
@reinhold-willcox I have no issue with removing them, with the caveat that (as we saw a couple of days ago), the mean anomaly is not in the SN file (the true anomaly is), so maybe we need to add it to the SN file (I think I'm remembering correctly)

[2021-10-04 21:23] reinhold-willcox commented on #536
I agree, and I'm happy to do both.

[2021-10-04 21:31] reinhold-willcox commented on #536
The above changes have just been pushed to PR #622, so I'll close this now.

[2021-10-04 21:31] #536 closed, assigned to nobody

[2021-10-05 07:43] ashruiter commented on #637
This seems completely reasonable!

[2021-10-05 07:47] ashruiter commented on #638
@ilyamandel and @solfreludio - A more modern/better prescription should also take mass transfer rate (not just mass accreted) into account. I don't think I have anything exceptional to suggest at the moment but let me dig around a bit and I'll get back to you soon!

[2021-10-11 07:16] ilyamandel commented on #570
Addressed by @jeffriley in #646 , closing.

[2021-10-11 07:16] #570 closed, assigned to FloorBroekgaarden

[2021-10-12 10:07] #538 closed, assigned to avigna

[2021-10-12 10:07] #595 closed, assigned to ilyamandel, avigna, jeffriley

[2021-10-12 10:09] avigna commented on #538
Good with the analytical fit!

[2021-10-12 22:19] reinhold-willcox opened #655 "MCBUR[12]"
The MCBUR1 and MCBUR2 parameters are ambiguous. It's not clear, from the code or from knowledge of the Hurley papers, why they are named this way. They correspond to the bounds on the AGB core mass between which the CO core is partially degenerate. It would be useful to come up with clearer names for these parameters.

Separately, only MCBUR1 is an input option, but MCBUR2 should be added as an op

[2021-10-12 22:48] #617 closed, assigned to reinhold-willcox

[2021-10-12 22:48] #621 closed, assigned to nobody

[2021-10-12 23:19] ilyamandel commented on #655
While MCBUR1 and MCBUR2 are not explicitly defined in Hurley et al., 2000 (though see, e.g., second paragraph of section 6), but they are defined in Fryer+, 2011 (see section 4).

We do have some comments on this -- e.g.,

Options.cpp:    m_mCBUR1                                                        = MCBUR1HURLEY;                                         // MHurley value, Fryer+ and Belczynski+

[2021-10-12 23:43] reinhold-willcox commented on #655
I'm happy with that

[2021-10-13 05:04] AstrophysicsAndPython opened #658 "Understanding the semiMajorAxis values in the output"
A DNS binary I evolved showed

m1 = 9.08924
m2 = 6.90856
a0 = 2.08792

However, when I read the BSE_Detailed_Output h5 file, the SemiMajorAxis key gives me a starting value of 448.969010759815. I want to know what is the conversion factor between these values, is it the same for all the values generated or am I missing something?

I am not using any fixed values, allowing the COMPAS to evolve from

[2021-10-13 05:29] reinhold-willcox commented on #658
Hi @noonuu, thanks for reaching out! The values are being recorded with different units as 2.08792 AU = 448.969010759815 Rsol. If you are using python's h5py, you can find the units for a given data file with:
[code]

[2021-10-13 06:06] AstrophysicsAndPython commented on #658
Thank you for your answer :-)

[2021-10-13 06:32] AstrophysicsAndPython opened #659 "Secondary NS mass repeating frequently."
For the configuration below

[code]

The random seeds `2135516081`, `2135519043`, `2135521747`, `2135435955`, and several others produce the same mass secondary NS after the evolution which is `1.2775835252086558 Msol`. A few of the progenitor star masses lie close to one another but at large separations, however, some large mass stars are also found to have the same end value for the secondary NS

[2021-10-13 10:47] reinhold-willcox commented on #659
Hi @noonuu, yes this is a feature of the Fryer2012 Delayed supernova prescription for remnant mass (See Fryer et al. 2012, section 4.3). In their prescription, all stars with CO cores < 2.5 Msol at the time of supernova have a final gravitational mass of 1.27758 as you've found, so this value is expected to be repeated.

[2021-10-13 12:16] #658 closed, assigned to nobody

[2021-10-13 12:20] ilyamandel commented on #659
Consider using MULLERMANDEL instead of FRYER2012 for the remnant mass prescription -- this is a stochastic remnant mass model and will generally yield a more smooth distribution (though you may still find a peak corresponding to ECSN remnant masses).

[2021-10-13 12:20] #659 closed, assigned to nobody

[2021-10-21 08:27] reinhold-willcox opened #660 "Stellar Merger classification"
**Describe the bug**
We do not currently have a consistent way to output the final parameters of a system that undergoes stellar merger, without using the detailed printing. This is generally desirable (I won't list all the use cases here) even without an internal prescription for how the post-merger remnant should look - this can be done in post-processing. I believe this should be possible with

[2021-10-21 09:04] reinhold-willcox commented on #660
[COMPAS_Output_reduced.h5.txt](https://github.com/TeamCOMPAS/COMPAS/files/7387603/COMPAS_Output_reduced.h5.txt)

This should work. Github is weird about file type extensions, but you should be able to just mv this back to a .h5.

[2021-10-30 02:29] HeloiseS opened #664 "TypeError when running pythonSubmitDemo.py"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

### :bug: Description
I tried to run the demo and got the error below
[code]

### :bug: Fixing
The bug occurs because I had not set the environment variable $COMPAS_ROOT_DIR and the demo file expects to find it.

**Requests and Comments**
-  You should say in the **tutorial** tha

[2021-10-30 03:20] HeloiseS opened #665 "/bin/sh: 1: Permission denied | pythonSubmitDemo.py"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

### :bug: Description and fix attempts
I don't seem to be able to run `pythonSubmitDemo.py` - I have now set my `$COMPAS_EXECUTABLE_PATH` (maybe i did it wrong?)

[code]
I have tried setting my environement variable to `/home/fste075/` and removed the `src/` on line 39 of but i t

[2021-10-30 06:16] HeloiseS commented on #665
### UPDATE

I found the problem haza! - my initial env variable was correct but **I missed another step** - the Build COMPAS step to be precise, which indeed is rather essential.

The demo runs great (haven't check outputs yet tho) - I have but one request based on this experience:
**Could you put the steps to install + demo instructions on 1 single page?** If the install recipe was a top-to-botto

[2021-10-31 22:36] jeffriley commented on #664
Thanks @HeloiseS.

I've added text to the tutorial page to ensure the environment variable is set.

I've update pythonSubmit.py to do some checks on the COMPAS executable (see PR #671).

[2021-10-31 22:40] jeffriley commented on #665
Thanks @HeloiseS.

We have different install instructions for different OSes, so putting the install instructions + demo on a single page would mean we either have install instructions for (say) Linux and MacOS on the same page, or we have different OS install pages and repeat the common content (e.g. the demo).  Not sure what's best there.  These online docs are fairly new, and we're still to go

[2021-10-31 23:01] ilyamandel commented on #664
Closing this issue.  Thanks again to @jeffriley for the fix and to @HeloiseS for raising it!

[2021-10-31 23:01] #664 closed, assigned to nobody

[2021-10-31 23:20] ilyamandel commented on #665
The instructions at https://compas-docs-readthedocs.readthedocs.io/en/latest/example-compas-run.html have been clarified, with "This tutorial assumes that you have already built the COMPAS executable as described in [Building COMPAS](https://compas-docs-readthedocs.readthedocs.io/en/latest/building-COMPAS.html)." added as a first sentence.

[2021-10-31 23:20] #665 closed, assigned to nobody

[2021-11-01 00:29] HeloiseS commented on #665
@jeffriley THANKS!

I know @ilyamandel  is a little reluctant but i literally have it tidied up already so i can just send you my version and you can take a look - it would take you no time at all :)

[2021-11-03 04:54] HeloiseS opened #680 "DOCKER - Logfile record specifications error & command typos in the example pythonSubmit files"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

## :bug:  description

### The typo
so I was testing running compas in a docker image (it all installed beautifully, very easy) and i got the following error [Abridged] `Commandline Options error: unrecognised option '--common-envelope-allow-radiative-envelope-surive'`

I used on

[2021-11-03 06:05] jeffriley commented on #680
Thanks Heloise!  The funny thing is I noticed the typo in the C++ code - and fixed it - but I didn't think to look in pythonSubmit.  My guess is the author of that new part of the code copy-and-pasted from the C++ code before I noticed the typo and fixed it.

We'll push a fix.

@ilyamandel fyi.  We also should get the documentation for the new option online.

[2021-11-03 06:56] HeloiseS commented on #680
Aces. What about the log file record error? What did I do wrong or miss out?

[2021-11-03 07:14] ilyamandel commented on #680
Hi @HeloiseS,
surive is entirely my fault -- I made a typo in the latest version that I committed on Monday.  Thanks, @jeffriley!
BTW, do you want to review the living code or a particular tag (we tagged v02.21.00, which is the reference version for the ApJS submission)?

[2021-11-03 08:35] jeffriley commented on #680
Sorry - forgot to get back t o that.  I'll take a look later tonight or tomorrow.

[2021-11-03 08:59] HeloiseS commented on #680
@ilyamandel that's interesting. How did you end up with 4 identical typos across 2 files? did you accidentally upload old versions? You don't really need to asnwer here, the reason I'm asking is that ideally one would want to avoid that sort of stuff from happening and if it does (because we're all human after all) to get caught before it gets on the release branch, which brings me to continuous i

[2021-11-03 09:07] jeffriley commented on #680
That would be partly my fault :-)  @ilya updated preProcessing/pythonSubmit.py, and presumably copy-pasted the incorrectly spelled option name from the C++ source.  Later I noticed thetypo in the C++ source and fixe it, but didn't realise it had been copy-pasted to preProcessing/pythonSubmit.py.  While making some mods to the pythonSubmit files in the examples directories, I thought I'd add the ne

[2021-11-03 09:22] jeffriley commented on #680
That's the problem.  When COMPAS is run in a docker image, it picks up the environment variables COMPAS_LOGS_OUTPUT_DIR_PATH and COMPAS_INPUT_DIR_PATH.

$COMPAS_LOGS_OUTPUT_DIR_PATH points to the directory to which the log files are written (so for COMPAS output files)
$COMPAS_INPUT_DIR_PATH points to the directory from which the grid file and logfile-definitions files are read (so for COMPAS inpu

[2021-11-03 21:55] HeloiseS commented on #680
I still get the same error so I have some follow up questions:

### Where is COMPAS_Output_Definitions.txt meant to go?

Where is that? I went into the pythonSumbit file (I remembered seeing it in there) and there is a nicely detailed comment (see below), that I thought meant I was supposed to have the COMPAS_Output_Definitions.txt in the current working directory, but I still got the same error.

[2021-11-03 22:59] ilyamandel commented on #680
PR #681 fixes the surive->survive typos and updates the documentation to include the new introduced CE options.  I leave the other questions for @jeffriley . :)

Aside: @jeffriley , do we still need the documentation in docs (rather than docs/online-docs)?  For example, https://github.com/TeamCOMPAS/COMPAS/blob/dev/docs/getting_started.md is out of date [see, e.g., reference to non-existing .pdf f

[2021-11-03 23:36] HeloiseS opened #682 "[DOCS] 1_Slicing_Data.ipynb | KeyError: "Unable to open object"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

### :bug:  description
I got a `KeyError: "Unable to open object (object 'DoubleCompactObjects' doesn't exist)"` on cell 5, evidently because the COMPAS_Ouptut file i generated with one of my test runs does not have double compact objects.

### Recommendation
This notebook has so

[2021-11-03 23:48] HeloiseS commented on #682
I looked a little further down the notebook and I don't think it'll run with outputs form COMPAS v2.25
I'm seeing `Data['SystemParameters']['Mass@ZAMS_1'][()]` and I my output data has the key `Mass@ZAMS(1)`.

When did the keys changes? It's worth thinking about having a warning somewhere in the guide in case someone learns with new compas and then downloads and tries to use data generated a while

[2021-11-04 01:18] jeffriley commented on #680
I'd be happy to remove them, otherwise, as you say, we'd have to keep them in sync with the online documentation - they were created by @reinhold-willcox and @themikelau I think, so they might have an opinion.

[2021-11-04 01:32] themikelau commented on #680
Happy to get rid of the documents in the `docs` directory as long as we have made sure we don't refer to them anywhere.

[2021-11-04 02:08] jeffriley commented on #680
There are two separate concepts here.

First, COMPAS needs to know where to look for its input files (grid file, logfile-definitions file), and it needs to know where to put its output (log) files.

The default for both of these is CWD.

COMPAS provides a program option (command-line argument) to specify the path to be used for output files: --ouput-path

    ./compas --mode BSE -n 1000 --output-p

[2021-11-04 02:10] jeffriley commented on #682
I'll defer here to @reinhold-willcox, @themikelau, @cneijssel etc. (I don't know who else...).  I don't do Jupyter notebooks.  It could very well be my meddling trying to get them into the online docs that caused the problems Heloise is seeing...

[2021-11-04 02:14] HeloiseS opened #683 "h5view.py -- Error accessing HDF5 file -- 'Resource temporarily unavailable'"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

### :bug: description
I was trying to run the `h5view.py` utility on a test output and i got the following error. It happened both when i called the script from a separate directory and when after I copied the script to my working directory.

[code]
**Versioning (please complete

[2021-11-04 02:36] jeffriley commented on #683
It could be that the file is currently open and being accessed by another process (even though you should be able to open it for read access, I think h5py complains about it).

Can you access it with h5dump (comes with hdf5 if you have that installed)?

[2021-11-04 02:42] HeloiseS commented on #683
oops yes - i had it open in jupyter, forgot about that.

Changed the title of the issue so if someone gets the same error not knowing what it means they can find this :)

[2021-11-04 02:42] #683 closed, assigned to nobody

[2021-11-04 06:13] jeffriley commented on #680
I hadn't noticed.  It's probably something docker does (I haven't checked), but certainly after the docker run is finished you can freely change the permission to whatever suits you

The time of the run in Run_Details?  That's the time on the system used to run COMPAS.  We set the timezone in our docker images to UTC/GMT, which would explain what you're seeing (NZDT is UTC+13 I think).  We did tha

[2021-11-04 06:47] reinhold-willcox commented on #682
Thanks @HeloiseS for pointing this out. Updating the notebooks has been one of the "back-burner" priorities for a while now. As has adding them to a CI check to make sure we catch it sooner if they go out of date again.

I'll go through them now and try to clean them up.

[2021-11-04 06:51] ilyamandel opened #685 "Stellar type 19 documentation"
The RLOF outputs may show type 19 for pre-RLOF stellar types (apparently, prior to ZAMS mass sharing in over-contact binaries), but this does not seem to be clearly documented.

[2021-11-04 07:01] ilyamandel opened #686 "Clean documentation in docs/"
There is some documentation in docs (rather than docs/online-docs) that is outdated and no longer needed. For example, https://github.com/TeamCOMPAS/COMPAS/blob/dev/docs/getting_started.md is out of date (see, e.g., reference to non-existing .pdf file in the final paragraph).  Rather than updating it, and always remembering that we have two versions to update, we should check that it's not referen

[2021-11-04 07:02] ilyamandel commented on #680
Since there are now multiple threads here, I opened up docs/ cleaning as a separate issue, #686 .

[2021-11-04 08:17] ilyamandel commented on #637
Closed with PR #674 .

[2021-11-04 08:17] #637 closed, assigned to nobody

[2021-11-04 19:33] HeloiseS commented on #680
Thanks for the detailed explenation @jeffriley now the docker command makes complete sense - it still doesn't work :laughing: but i can start asking questions more confidently:

Okay that's what i thought, and I did make sure the COMPAS_Output_definitions.txt was in my CWD. I haven't set COMPAS_INPUT_DIR_PATH, I put nothing in my .bashrc,  and i checked that doing`$COMPAS_INPUT_DIR_PATH` in my she

[2021-11-04 21:07] jeffriley commented on #680
Are you running on your physical system, or using a docker image?  Can you share the command you are using to run?

[2021-11-04 21:42] jeffriley commented on #682
@reinhold-willcox I've copied the notebooks to the online documentation - so in docs/online-docs/notebooks

I tidied them up a little - mainly just rewording and/or reformatting some of the text(I tried to make headings uniform, etc.), but also some of the paths to files.  I'm not a notebooks user, so I might have inadvertently broken something (though they all seem to run if you go through the on

[2021-11-04 22:07] HeloiseS commented on #680
Docker: I'm using the command you gave me the other day :)

[code]

[2021-11-04 22:55] jeffriley commented on #680
This is my fault - sorry.

Your command is this:

    sudo docker run
    --rm
    -it
    -v $COMPAS_ROOT_DIR/compas-logs:/app/COMPAS/logs
    -v
      $COMPAS_ROOT_DIR/examples/methods_paper_plots/chirpmass_distribution/pythonSubmit.py:/app/starts/pythonSubmit.py
    -e COMPAS_EXECUTABLE_PATH=/app/COMPAS/bin/COMPAS
    -e COMPAS_INPUT_DIR_PATH=/app/COMPAS/config
    -e COMPAS_LOGS_OUTPUT_DIR_PAT

[2021-11-05 02:41] HeloiseS commented on #680
lmao :rofl:  I'm going insane it's still not working.

- I tried what you said - to set the /app/COMPAS/config to the path of my CWD -> didn't work
- I then went "fuck it I'll just define COMPAS_INPUT_DIR_PATH in my bashrc"  and ran the first command you sent me -> didn't work, although i know i did it right - I can `more` the file with `$COMPAS_INPUT_DIR_PATH/COMPAS_Output_Definitions.txt`.

####

[2021-11-05 03:02] jeffriley commented on #680
It would seem so...

So, the version of the pythonSubmit.py file I'm looking at has:

    compas_input_path_override = os.environ.get('COMPAS_INPUT_DIR_PATH')

    ...

    if logfile_definitions != None:
        # if the grid filename supplied is already fully-qualified, leave it as is
        head, tail = ntpath.split(logfile_definitions)          # split into pathname and base filename

[2021-11-05 03:25] reinhold-willcox commented on #682
Thanks @jeffriley. I'm doing some other more involved changes to clean them up, but I'll remember add those to the website when they're done.

[2021-11-05 05:22] HeloiseS commented on #680
**TL;DR: logfile_definitions is None and pythonSubmit broken in 2.25?**

I have the following bit of code in the pythonSubmit file
[code]
#### The python error
I tried running the pythonSubmit file alone (it's the one in chirpmassDistributions btw) to try and print you the `logfile_definitions` but :musical_note: it faiiiiled :musical_note: did y'all update the commands again? I hadn't rerun the f

[2021-11-05 05:32] HeloiseS commented on #680
SORRY FOR THE SPAM - realised i misread something so just reposting the correct information

**TL;DR: logfile_definitions is okay I think and pythonSubmit broken in 2.25?**

[----see below----]

#### The python error
I tried running the pythonSubmit file alone (it's the one in chirpmassDistributions btw) to try and print you the `logfile_definitions` but :musical_note: it faiiiiled :musical_note:

[2021-11-05 05:52] HeloiseS commented on #680
#### UPDATE: logfile_definitions = /home/fste075/COMPAS/examples/methods_paper_plots/detailed_evolution/COMPAS_Output_Definitions.txt

My bad I copied stuff form the wrong pythonSubmit. Above was pythonSubmitDemo, the pythonSubmit in chirpmassDistribution DOES have `logfile_definitions = "COMPAS_Output_Definitions.txt" ` and therefore the logfile_definitions come out as i expected. Huzza!

Still d

[2021-11-05 07:06] jeffriley commented on #680
--common-envelope-allow-radiative-envelope-survive and --common-envelope-allow-immediate-rlof-post-ce-survive are  in the  online documentation:

https://compas.readthedocs.io/en/latest/pages/User%20guide/Program%20options/program-options-list-defaults.html#options-props-c

You may need to reload the page - you could still have the old version in your browser cache (we updated it a couple of days

[2021-11-05 07:37] HeloiseS commented on #680
you're right :)

Still why does it error? Do I need to manually redownload the c++ code before I remake it?

No problem here it is.
[code]

[2021-11-05 08:00] jeffriley commented on #680
You need to do something like 'git pull upstream dev' (depending upon how you've set things up.  'git remote -v' will tell you what upstream and origin etc are pointing to).

I'll look at the docker problem later.  Do you get the same error?

[2021-11-05 08:17] HeloiseS commented on #680
*facepalm*  it's not missing.... I typed a = instead of the :  in `-v ~/Documents/reviews/COMPAS=/app/COMPAS/config`
I'm so sorry!!!!

anyways it worked!!

okay i have completely lost track of what needs updating in the manual - I trust you haven't?
What I can do is that when the review is pretty much complete i can delete compas off my computer and then rerun everything clean just to double check

[2021-11-05 09:22] jeffriley commented on #680
Great!

Yeah, I think I know what needs updating!

[2021-11-08 10:51] AstrophysicsAndPython opened #691 "Working with post processing script"
Hi,

I am trying to work with the post-processing script provided (to combine all h5 files into one), however, I cannot get it to work. The script that I'm using to call the postProcessing.py (postProcessing_test.py) script is as follows,
[code]
And the directory structure is as follows
[code]
I've tried to switch places for the postProcessing_test file as well, inside the COMPAS_Output and even i

[2021-11-09 05:22] jeffriley commented on #691
Hi - the best tool to use to concatenate multiple COMPAS HDF5 files is h5copy.py.  See documentation here:

https://compas.readthedocs.io/en/latest/pages/User%20guide/Post-processing/post-processing-h5copy.html

[2021-11-09 12:59] ilyamandel commented on #686
@jeffriley , @reinhold-willcox --
It seems that all of the information in https://github.com/TeamCOMPAS/COMPAS/blob/dev/docs/getting_started.md is indeed repeated in the new readthedocs documentation at https://compas.science/docs/.  However, there are several other .md files in https://github.com/TeamCOMPAS/COMPAS/tree/dev/docs which contain information not available at readthedocs as far as I ca

[2021-11-09 13:09] ilyamandel commented on #685
Added the following to the caption of table 2 in the COMPAS methods paper to resolve this issue:

Stellar type 19 (NONE) can sometimes appear as a temporary placeholder in COMPAS outputs before the stellar type is set.

[2021-11-09 13:09] #685 closed, assigned to nobody

[2021-11-10 18:16] jeffriley commented on #691
Closing - assuming my answer resolved the issue

[2021-11-10 18:16] #691 closed, assigned to nobody

[2021-11-13 04:56] ilyamandel opened #694 "An incorrect luminosity on stellar type transition"
This is the luminosity evolution of a single 1.5 solar mass star evolved with code version v02.25.07.  There is an incorrect transitional data point during the transition from FGB (black) to EAGB (red).
![image](https://user-images.githubusercontent.com/512213/141606160-59686d38-0fbc-40fe-9572-b00715659540.png)

[2021-11-13 05:01] ilyamandel commented on #680
@jeffriley -- are there specific instructions that still need updating from this issue?  If not, can we close the issue?

[2021-11-13 05:02] ilyamandel commented on #682
@reinhold-willcox -- status ping :)

[2021-11-14 23:54] reinhold-willcox commented on #211
@jeffriley Are you still using this? It would be useful (IMO) to have a 10M run of the latest version with default values ready to download, but perhaps it's easier to just run it independently.

[2021-11-15 01:23] jeffriley commented on #211
I don't use these files anymore - they were put there as reference file for anybody to use.  If they're not useful then I'm happy for them to be removed - and new ones made.

[2021-11-15 04:24] HeloiseS opened #695 "Commandline Options error: Missing ']' for option 'metallicity'"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

**:bug:  Description**
So I'm trying to make models for a range of metallicities following the instructions on [this page](https://compas-docs-readthedocs.readthedocs.io/en/latest/program-options-ranges.html).

The command I'm trying to parse is as follows (note i have aliased th

[2021-11-15 05:45] jeffriley commented on #695
@HeloiseS Leave the spaces out inside the [ ].  If you have spaces there the shell parser thinks it's a new command-line argument (command-line arguments are space-delimited).  COMPAS can't do anything about that - the shell parser does it's work before COMPAS gets to see the options.  I thought I documented that in the online documentation, but I can't find it.  I'm sure it was in the PDF documen

[2021-11-15 06:13] HeloiseS commented on #695
Cheers!

It now runs with the spces removed but when i run `compas --metallicity [0.012,3,0.001] -n 5000` i only get 3 models. I thought it  would give me 5000 models per mets but it seems to ignore the -n? switching order doesn't help is there priorities in commnds i need to consider?

[2021-11-15 06:40] jeffriley commented on #695
I did that because the ranges and sets were meant to make it easy to specify a range (and set) of initial conditions. and if the user specified ranges and sets for multiple options (e.g. metallicity, initial-mass-1, initial-mass-2, etc. - the ones that otherwise would be sampled by COMPAS), then also using -n/--number-of-systems would just produce multiple copies of the same binaries - so I ignore

[2021-11-15 23:16] HeloiseS opened #698 "[h5copy.py] Dataset count mismatch between source and destination for group ...."
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

I'm trying to combine two datasets of 10,000 systems each (the only difference is the metallicity) and I get an error I can't really diagnose from `h5copy.py`. Here is what I run and the trace.

[code]
The keybooard interupt is because after this my computer proceeds to have a bi

[2021-11-16 01:40] ilyamandel opened #699 "Self-stripping for low mass single EAGB stars leads to NS formation"
A single 6.0-solar mass star at Z=0.001 can lose its envelope as an EAGB star in code version 02.25.07 and ultimately form a neutron star.  This may be connected to self-stripping in 1 or 2 time steps due to very high mass loss rates (>2e-4 M_\odot/yr) predicted by BaseStar::CalculateMassLossRateOB, which throws warnings  that "Winds being used at high temperature".  [Note that the same warnings a

[2021-11-16 01:59] jeffriley commented on #698
@HeloiseS Can you upload the two HDF5 files somewhere that I can grab them?

[2021-11-16 20:13] jeffriley commented on #698
@HeloiseS Thanks for providing the hdf5 files.  I took a look at them with h5view.py:

    $ python3 /compas/dev/my_fork/compas/postProcessing/Folders/H5/PythonScripts/h5view.py ./COMPAS_Output_Heloise_1.h5

    Summary of HDF5 file /d/compas/heloise/COMPAS_Output_Heloise_1.h5
    =================================================================

    File size    : 0.1149 GB
    Last modified: 202

[2021-11-16 21:58] jeffriley commented on #698
Having said that (^^^) though, you should only see that message once per group in any affected HDF5 - so in your case you should have only seen the error twice for the second file.

And... I just re-read the issue - you're getting lots of errors about missing keys.  Let me look into that - I suspect it's a ricochet from t he mismatch problem (but it shouldn't be...).

[2021-11-16 22:29] jeffriley commented on #698
Ok, this is what I get when I do the copy:

    $ python3 /compas/postProcessing/Folders/H5/PythonScripts/h5copy.py ./files
    Processing directory /d/compas/heloise/files
    Copying file /d/compas/heloise/files/COMPAS_Output_Heloise_1.h5
    Copying file /d/compas/heloise/files/COMPAS_Output_Heloise_2.h5
    Dataset count mismatch between source and destination for group BSE_Double_Compact_Obje

[2021-11-17 04:01] HeloiseS commented on #698
I pulled the repo and i still get the same issue :/ weird

[2021-11-17 04:03] HeloiseS commented on #698
Also - I'm guessing i can't ensure that the BSE_Compact_objects entries will be the same number when I do two separate runs... so how can i put together my hdf5 files from two different metallicities?

[2021-11-17 04:13] HeloiseS commented on #698
well silly me - i should have done h5view.py from the start... It's because I've got a detailed output and I forgot :eyes: I have thousands of files such as `COMPAS_Output/Detailed_Output/BSE_Detailed_Output_4625.h5` - I should have known when it took 1200 seconds to run my simulation when ilya said it'd take 2 minutes... I just though kvn was slow!!

[2021-11-17 21:34] jeffriley opened #704 "Timestep calculation in SSE code could result in timesteps smaller than expected"
**Describe the bug**
The BaseStar function CalculateTimestep() is used to calculate the duration of the timestep for stellar evolution:

    double BaseStar::CalculateTimestep() {

        // the GBParams and Timescale calculations need to be done
        // before the timestep calculation - since the binary code
        // calls this functiom, the GBParams and Timescale functions
        // are c

[2021-11-17 21:40] jeffriley opened #705 "Timestep calculations in SSE and BSE code could produce inconsistent results when comparing BSE to SSE"
**Describe the bug**

In the SSE code, the first order timestep calculation is performed by BaseStar::CalculateTimestep().  The timestep calculated by BaseStar::CalculateTimestep() is multiplied by the timestep multiplier specified by the user (via the --timestep-multiplier program option), and clamped to a minimum value of NUCLEAR_MINIMUM_TIMESTEP (currently set to 0.0001 in constants.h) (or shou

[2021-11-17 22:47] ilyamandel commented on #704
I agree with both suggestions, but would also change NUCLEAR_MINIMUM_TIMESTEP down to 1 yr (from current 100 yrs) for safety.

[2021-11-17 22:52] ilyamandel commented on #705
(a) Some difference between SSE and BSE (a) is unavoidable, since the timestepping in BSE, even without interactions, is driven by the minimum timestep required by the two stars -- so will generally result in one of the stars having a smaller timestep than it would have in SSE.  But, hopefully, the difference should be negligible if timesteps are small enough to ensure convergence.

(b) Yes, I thi

[2021-11-17 23:03] TomWagg commented on #705
Perhaps a naive question @ilyamandel -- why do both stars in BSE always have to have the same timestep, isn't that wasteful? I can imagine that whilst they are detached (i.e. the regime in which SSE and BSE should be the same) it would be possible to just evolve one star for several timesteps and then do the other in one big chunk? Is there a good reason _not_ to do this?

[2021-11-17 23:04] jeffriley commented on #705
That is true.  I should have been more specific when I wrote issue (a) above.  What about:

(a) the evolutionary tracks for a star (e.g. star "S") evolved in SSE mode, and a wide binary that has star "S" as a the primary star and is evolved in BSE mode, will not be consistent for some stars, even if (as intended) the binary is sufficiently wide, and the secondary star sufficiently less massive tha

[2021-11-17 23:14] ilyamandel commented on #705
@TomWagg : We'd still need to check at every timestep (set by the more rapidly evolving star) if the stars remain detached.  Even if they are, they may still interact (e.g., through tides or winds).  Now, of course, we could just say that the slowly evolving star does nothing and copy over its parameters from the previous timestep -- but that's probably going to cause more headaches than savings.

[2021-11-18 08:18] avigna commented on #705
A plausible additional caveat: for very wide binaries, if masses are similar, at some point after the primary finishes the main sequence, the secondary will cross the Hertzsprung gap and will have shorter timesteps than the primary.

The point with this is that a wide binary is not a unique condition for similarity with SSE. I think you need to be wide, and your evolutionary timescale of the secon

[2021-11-19 09:12] jeffriley commented on #704
Fixed in PR#707

[2021-11-20 01:24] #704 closed, assigned to ilyamandel, SimonStevenson, jeffriley

[2021-11-22 23:21] reinhold-willcox commented on #686
Sorry, I haven't kept up with all the activity on github! I am making changes to the postProcessing folder & notebooks, so I will add on to clean up the docs/ folder as well (there are a lot of hyperlinks back and forth, so it makes sense to do them in parallel).

[2021-11-23 22:06] nrsegovia opened #709 "Massive HeWDs due to FGB core mass"
**Describe the bug**

When a star loses its envelope during the FGB phase it can evolve into a HeWD or HeMS, according to `FGB::ResolveEnvelopeLoss`. This depends on whether its mass is below/above the critical value for helium ignition, `MHeF = 1.995` (in M_Sun, for solar metallicity), so it's possible to create a HeWD above 1.44 M_Sun. I would guess that this should be avoided by some constraint

[2021-11-24 00:06] ilyamandel commented on #709
@solfreludio -- Oops!  You are absolutely right.  We currently check in FGB::ResolveEnvelopeLoss() whether the post-stripping core is more massive than M_HeF.  We should be checking whether the initial mass exceeded M_HeF -- that's a threshold on the initial mass for He ignition. :)

[2021-11-24 00:13] ilyamandel commented on #709
Ditto elsewhere, e.g., HG::ResolveEnvelopeLoss().  @avigna , @SimonStevenson  -- do you agree with my reading of (admittedly, ambiguous) Hurley statement "We distinguish between three types of white dwarf, namely those composed of He (formed by complete envelope loss of a GB star with M < M_HeF expected only in binaries) ..." [see Hurley+ 2000, start of 6.2.1]?

[2021-11-24 07:13] reinhold-willcox opened #711 "NaN radius"
**Describe the bug**
(copied from slack) The attached system goes through 2 MT episodes, the second of which is a merger (though not very clearly recorded). The first MT is the weird one though. It's stable, very conservative MT, from CHeB to CHeB. But after the first MT, the radius of the companion becomes a NaN. Then, by the time of the second MT, the secondary radius is back to a normal value!

[2021-11-24 09:04] jeffriley commented on #711
@reinhold-willcox Did you mean v02.25.00, or is that a typo?

There aren't that many places in the code that a star's radius is modified - if you are able to reproduce this consistently then it shouldn't be hard to figure out where the radius is becoming NaN - once you know where you might get a clue as to why (divide by zero, or similar).  Knowing where the problem occurs, and an indication of wh

[2021-11-24 14:52] katiebreivik opened #713 "Docker command line and documentation typos"
This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)

The Docker documentation has a typo in the options for specifying the number of systems to evolve when running via the command line

**To Reproduce**
Steps to reproduce the behavior:
Running in the Docker via the command line following the docs (https://compas.readthedocs.io/en/lat

[2021-11-24 15:45] katiebreivik commented on #713
One more quick typo: In [compile-time configuration](https://compas.readthedocs.io/en/latest/pages/User%20guide/configuration.html): constanst.h --> constants.h

[2021-11-24 15:59] katiebreivik opened #714 "plotting script typo in examples/methods_paper_plots/detailed_evolution"
This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)

**Describe the bug**
The example use case of the detailed evolution of GW15226 plotting script fails because of a typo

**Label the issue**
`urgency_moderate` - This is a moderately urgent issue
`severity_moderate` - This is a moderately severe bug
urgency/severity are moderate onl

[2021-11-24 18:37] HeloiseS opened #715 "Refactoring pythonSubmit.py"
_This issue is submitted as part of the JOSS review [#3838](https://github.com/openjournals/joss-reviews/issues/3838)_

When it comes to the pythonSumbit.py file refactor you can go one of two routes - the one you choose will depend on whether you *ever* use the pythonProgramOption class anywhere else.

If you do not use that class anywhere else, there it is not a use case for a class. Remove the

[2021-11-24 23:08] reinhold-willcox commented on #711
@jeffriley typo, thanks for catching, fixed now

[2021-11-24 23:10] reinhold-willcox commented on #682
@ilyamandel still working slowly through these, sorry for the delay

[2021-11-24 23:12] jeffriley commented on #711
Ok, let me know if you need help with debugging.

[2021-11-24 23:31] #211 closed

[2021-11-24 23:42] reinhold-willcox commented on #714
Hi @katiebreivik , thanks for catching this! I'm not sure I follow though. The `_0.h5` extension should be appended to the detailed output file even if there is only a single system. If you delete all the COMPAS_Output* directories and rerun the pythonSubmitDemo.py script, what is the path to your detailed output file?

Somewhat related, we've been heavily refactoring this plotting script recently

[2021-11-25 00:08] reinhold-willcox commented on #715
If I can add my two cents to this, since we need a major refactor of the pythonSubmit code anyway, I propose we work with the stroopwafel folks to put together a single script where users can specify all COMPAS parameters, as well as whether to use stroopwafel and/or HPC (and the related parameters there), instead of having many disparate scripts that will sometimes need to be combined in some con

[2021-11-25 01:58] ilyamandel commented on #709
OK, Jarrod Hurley confirmed this check should be the initial mass for SSE -- but I think we need to think through what is most relevant for BSE, since an MS star could grow through MT leading to a larger core (maybe mass at TAMS?).

[2021-11-25 02:30] HeloiseS commented on #715
yes please - was there a stroopwafel tutorial i missed? i haven't used that yet

[2021-11-25 02:43] ilyamandel commented on #713
Thank you, @katiebreivik !  PR #716 created to address this.

[2021-11-25 03:25] ilyamandel commented on #714
This was an issue I identified a few weeks ago, and I was sure we fixed it.  Let me check on this.

[2021-11-25 03:53] ilyamandel commented on #714
@katiebreivik -- I confirmed that this is not an issue, as the latest COMPAS version does produce the file BSE_Detailed_Output_0.h5, which is what the plotting script expects.  What COMPAS version are you running?

[2021-11-25 04:40] reinhold-willcox commented on #715
You haven't missed anything! Some of the compas people / affiliates have been working toward improving stroopwafel, and there currently exists a stroopwafel interface file for compas which is external to the compas code. But it's been on ongoing question how best to bring stroopwafel, or just the interface file, into compas.

[2021-11-25 04:41] #713 closed, assigned to nobody

[2021-11-25 09:58] ilyamandel commented on #265
@avigna -- should this still be an open issue?

[2021-11-25 10:01] ilyamandel commented on #695
@jeffriley  -- do I understand correctly that the only action item on this is to document the existing behaviour?

[2021-11-25 10:38] jeffriley commented on #695
@ilyamandel indeed you do.  I'll get to it soon...

[2021-11-25 11:08] ilyamandel commented on #630
Implemented metallicity printing in #717.  Closing -- specific issues with plotting should be raised separately.

[2021-11-25 11:08] #630 closed, assigned to nobody

[2021-11-25 11:30] ilyamandel commented on #694
This is part of a larger issue with EAGB luminosities, working on it...

[2021-11-25 12:45] ilyamandel commented on #694
Actually, never mind, there is no issue.  Now that we correctly reverted to using the CO core mass rather than the He core mass to compute EAGB luminosities, the light curve is continuous for stars with initial mass above the degenerate helium flash threshold.   For these stars, the final luminosity at the end of CHeB evolution matches the BAGB luminosity as computed via Eq. (56) of Hurley+ 2000,

[2021-11-25 13:55] #694 closed, assigned to ilyamandel, jeffriley

[2021-11-25 13:59] ilyamandel commented on #699
Issue resolved once EAGB luminosity was reverted to using a prescription based on CO core mass in v. 02.25.09.

[2021-11-25 13:59] #699 closed, assigned to ilyamandel, TomWagg

[2021-11-25 14:41] avigna commented on #265
I still think it is relevant and useful for, e.g., determining stability of triples/quadruples, but haven't developed it. If there is some urgency to close this issue, go ahead, and I will re-open if/when needed.

[2021-11-25 15:52] katiebreivik commented on #714
@ilyamandel You are 100% correct I was on an old version; I hadn't added the repo as an upstream remote branch which means when I fetch upstream and got nothing, I figured I had cloned directly and just did a git pull.

On the latest dev branch (v02.25.10) I have verified that everything works!

[2021-11-25 15:52] #714 closed, assigned to nobody

[2021-11-25 15:59] katiebreivik commented on #715
@reinhold-willcox +++1 to your suggestion! Keeping a consistent, single interface to the c++ code is a great idea. And I agree with @HeloiseS that the options should not be baked into a class. Ideally, I think a user should be able to specify options through a command line interface or an ini/text file since modifying submit scripts introduces many opportunities for a user to break the code.

[2021-11-26 20:01] jeffriley commented on #715
Users can specify options via the COMPAS command-line interface (only those that the user wants to differ from the default values need to be specified).  All pythonSubmit sought to do was provide an .ini-like file because in the past specifying the command-line arguments was a bit cumbersome, but we've made that a lot better.  The only time I ever use pythonSubmit to run COMPAS is when somebody se

[2021-11-30 08:00] reinhold-willcox commented on #558
The linked PR does not solve the main issue listed here, but does solve some of the the follow up points I raised in the comment above.

That said, the updated notebooks should be easier to set up versioning for. This is something I have discussed with Avi, and should be fairly straightforward to implement.

[2021-11-30 11:04] avigna commented on #715
@HeloiseS thank you very much for the scripts you shared: they read great and will be used to create a revised version of the python code to submit COMPAS runs. We agree with most of what you suggest, and plan to address the suggestions in a revised version of the scripts. There are two items I want to comment on:

1. Refactor to a class: currently, the stroopwaffel script uses the pythonProgramOp

[2021-11-30 12:58] ilyamandel commented on #709
@solfreludio -- this particular problem is solved in PR #719 .  Closing.

[2021-11-30 13:02] ilyamandel commented on #705
@jeffriley -- am I correct that the remaining issue here is implementing radial change thresholding in BSE?

[2021-11-30 13:04] ilyamandel commented on #698
@jeffriley , @HeloiseS -- was there anything left to do with this issue?  If not, may I close it?

[2021-11-30 17:44] HeloiseS commented on #715
That's cool. I asked several times where the class was used and no one mentioned strooowaffel so I wasn't aware of dependencies.

Sounds like you've got a plan!

[2021-11-30 23:02] jeffriley commented on #705
Yes, if the consensus is that's the right way forward.  It shouldn't be too difficult to implement - the Revert() functionality for binaries already exists, so just the check and revert if necessary is all that's needed.  For SSE we halve the timestep and continue to do that as long as the radial change is still too large, until we reach the absolute minimum timestep (100 seconds), at which time w

[2021-11-30 23:09] jeffriley commented on #698
Maybe :-)  When I wrote H5copy I wrote it with the COMPAS_Output.h5 files in mind - I didn't provide functionality to combine COMPAS detailed output files.  I suppose there could be a use case to combine many detailed output files into a single file, but I think it would be rarely-used functionality.  The fact that H5copy does not have functionality to combine detailed output files, and that Heloi

[2021-12-03 20:01] nrsegovia commented on #709
I think that a similar change ( #719 ) is required for `FGB::CalculateCoreMassOnPhase`. I have updated COMPAS to the latest version and I can see that the comparison within `FGB::ResolveEnvelopeLoss` is done against `m_Mass0`, but probably this is required when computing the core mass as well (check Hurley+ 2000. Eqs 39,45). For example:
[code]
This system still gives a HeWD with a mass equal to ~

[2021-12-03 23:40] ilyamandel commented on #709
@solfreludio — you are absolutely right that there is a bug, but it’s not quite what you think.  I’ll describe the bug-hunting process in a bit of detail, just in case it’s useful for others.

FGB::CalculateCoreMassOnPhase() does not use either m_Mass or m_Mass0; it uses p_Mass, which is the variable being passed in as the argument, not the internal value.  If you go to FGB.h, you will see that th

[2021-12-05 12:00] ilyamandel commented on #709
Closing again -- see #721 .  Hopefully, this time it will stay closed (but, of course, please do reopen if I messed up!).

[2021-12-05 12:00] #709 closed, assigned to nobody

[2021-12-05 12:11] ilyamandel commented on #698
@jeffriley I agree that we should not be combining detailed output files, and should just document that.  Since I had #721 open, I just added a slight documentation tweak to it, namely, the H5 copy page now says:

This program copies ``COMPAS_Output.h5`` ``HDF5`` file(s) [but not ``Detailed_Ouput`` files] to a designated output ``HDF5`` file.

I am closing this issue.

[2021-12-05 12:11] #698 closed, assigned to nobody

[2021-12-05 12:12] ilyamandel commented on #695
Thanks, @jeffriley !

[2021-12-05 12:14] ilyamandel commented on #680
@jeffriley -- see my question above; this issue ended up in a sufficiently long discussion that I can't figure out if there's actually a TODO item here. :)

[2021-12-05 20:22] jeffriley commented on #680
@ilyamandel I'll look through this and close/take action as appropriate

[2021-12-07 02:02] reinhold-willcox opened #722 "Simultaneous merger and SN"
**Describe the bug**
_Copied from Slack_ Here is a system that experiences both a merger and a SN in the same timestep.

In its last timestep, this system goes through MT from a HG secondary onto a HeHG primary, leading to CE which results in a merger. Weirdly/annoyingly, the primary also undergoes a non-disruptive USSN in this same timestep. Some of the pre-/post- event parameters are a bit funny

[2021-12-11 00:14] jeffriley commented on #695
Documentation changes in PR #724

Close when merged

[2021-12-11 00:17] jeffriley commented on #680
Documentation changes for docker issues in PR #724

@ilyamandel We should address the multiple pythonsubmit files - but maybe that can be address as part of the pythonsubmit refactor (PR #720)?

[2021-12-11 12:15] #680 closed, assigned to nobody

[2021-12-11 12:15] #695 closed, assigned to nobody

[2021-12-14 06:29] jeffriley opened #726 "rlof_mask and pessimistic_mask in setCOMPASDCOmask() of classCOMPAS not being set correctly?"
**Describe the bug**
I think the masks rlof_mask and pessimistic_mask in setCOMPASDCOmask() of class COMPAS (ClassCOMPAS.py) are not being set correctly (because rlof_flag and pessimistic_flag are not treated as boolean), resulting in an incorrect count for the selected DCOs ("BBH", "BNS", etc.).

A while ago, @LiekeVanSon (I think) had an issue with hubble_mask in the same function, and found tha

[2021-12-14 06:54] jeffriley commented on #726
Maybe it would be a good idea to change get_COMPAS_variables() to check the data type, and if necessary add the '.astype(bool)' there.  I know get_COMPAS_variables() is not enforced or always used, but it might help, and if we document what we're doing and why there, it might help others in  the future.

Take a look at printHeaders() and getDataType() in h5view.py to see how to get the data type f

[2021-12-14 23:26] jeffriley commented on #705
Implemented radial change check for BSE mode - v02.26.02 on branch bse_radial_check
Also added new (possibly temporary) option: --check-radial-change. A "BSE only" option that turns the BSE-mode radial change check on/off: off is the default. We can remove that option after testing if we don't want to keep it.

Some interesting stats:

10,000 binaries evolved with the radial check disabled takes ~

[2021-12-15 05:29] ilyamandel opened #728 "Update online documentation to describe runSubmit.py"
Follow up on #720 .

[2021-12-15 07:31] jeffriley commented on #705
Hmmm.  I forgot that caveat.  Let me see how easily I can implement that - shouldn't be too difficult.

[2021-12-15 09:32] #525 closed, assigned to reinhold-willcox

[2021-12-15 09:32] #558 closed, assigned to timriley-io, jeffriley, reinhold-willcox

[2021-12-15 09:32] #682 closed, assigned to reinhold-willcox

[2021-12-15 09:32] #686 closed, assigned to reinhold-willcox

[2021-12-15 15:27] LiekeVanSon commented on #726
Hi Jeff, much agreed! I think your proposed solution should be fine.

[2021-12-15 22:48] reinhold-willcox commented on #728
@ilyamandel Can we broaden this issue to cover all documentation updates?

[2021-12-15 22:49] reinhold-willcox commented on #560
Adding to this:
- Add a CI to check that the online-docs compile
- Add a CI to check that the jupyter notebooks compile

[2021-12-15 23:24] jeffriley commented on #705
I added a check for mass transfer in previous timestep when deciding whether to check radial change (pushed to branch bse_radial_check).

The check doesn't make a big difference to the timing:

10,000 binaries evolved with the radial check enabled takes ~445 CPU second, 7m25s elapsed time (using 1 core on my desktop)

In BSE mode, with the radial check enabled, for 1,000 binaries evolved there wer

[2021-12-16 00:27] reinhold-willcox commented on #560
#730 solves the online-docs autocompilation test

Add to the TODOs: remove the latex-ci files now that we don't keep latex documentation

[2021-12-16 00:27] #560 closed, assigned to reinhold-willcox

[2021-12-16 07:51] avigna commented on #728
(I will try to get on this asap, but my schedule is becoming more hectic these days... so bear with me.)

[2021-12-16 22:31] #711 closed, assigned to jeffriley, reinhold-willcox

[2021-12-17 02:39] SimonStevenson commented on #705
@jeffriley Thanks for doing this analysis, this is very interesting. Is it possible to get a finer grained analysis of the timesteps that are rejected? For example, it would be good to know if this typically happens e.g., during the Hertzsprung gap phase (this is just a guess, but I know the radius changes a lot there). We could then focus on improving our estimate of the timestep for that phase.

[2021-12-17 03:45] SimonStevenson commented on #705
There is some interesting behaviour of the timesteps on the main sequence that I don't fully understand. Using this branch, I evolved a 10 solar mass star using SSE (full command below).

Here are some plots showing the evolution of the radius and timesteps on the main sequence. It seems that for this typical massive star, the default timestep is too big after only a quarter of the main sequence (

[2021-12-17 04:52] jeffriley commented on #705
Thanks for looking at this @SimonStevenson

Yes, I can instrument the code a little more to trace the stellar type when timesteps are rejected, and how many times we do that per rejected timestep (if that makes sense - so if a timestep is rejected, and we divide by 2, we keep dividing by 2 until we get an acceptable radial change.  I should be able to record the number of times we divide by 2, and

[2021-12-17 20:48] #334 closed, assigned to reinhold-willcox

[2021-12-17 20:49] reinhold-willcox commented on #414
Same as #539

[2021-12-17 20:49] #414 closed, assigned to nobody

[2022-01-02 00:14] HeloiseS opened #733 "Question about documentation: MASS_TRANSFER_TRACKER_HISTORY = 8?"
I'm looking at the MASS_TRANSFER_TRACKER_HISTORY definition on [this page](https://compas-docs-readthedocs.readthedocs.io/en/latest/standard-logfiles-record-specification-binary.html#binary-props-m) and I don't see a definition for 8 but I'm getting loads of 8 in my COMPAS results. What does it mean?

Also - where is the best place to ask questions like that which relate more to the documentation?

[2022-01-02 00:48] reinhold-willcox commented on #733
Hi Heloise,

Thanks for catching this! 8 corresponds to a common envelope merger with a radiative envelope star. We also have a value 9 for CE merger due to immediate post-CE RLOF. Both of these need to be added to the documentation.

[2022-01-09 23:34] ilyamandel commented on #728
@avigna -- ping :)

[2022-01-09 23:35] ilyamandel commented on #715
Since pythonSubmit has been replaced, I am closing this issue.

[2022-01-09 23:35] #715 closed, assigned to avigna

[2022-01-10 09:55] avigna commented on #728
Yes, apologies, just returning from holidays. This is in my urgent items, hopefully by the end of this week.

[2022-01-12 09:26] avigna commented on #582
(Would need to check if the current yaml file implementation of the options partially help with this issue)

[2022-01-12 09:29] #418 closed, assigned to ilyamandel, SimonStevenson, avigna, themikelau

[2022-01-12 09:30] avigna commented on #166
Is this realistically going to be impemented? If so, maybe worth adding an explanation/description?

[2022-01-12 10:08] avigna commented on #728
(Mostly for my own reference) As far as I can see, I need to modify:

- https://compas.readthedocs.io/en/latest/pages/Getting%20started/dev-git-workflow.html
- https://compas.readthedocs.io/en/latest/pages/User%20guide/Running%20COMPAS/running-compas.html
- https://compas.readthedocs.io/en/latest/pages/User%20guide/Tutorial/example-compas-run.html
- https://compas.readthedocs.io/en/latest/pages/Us

[2022-01-13 02:43] tcla0007 opened #735 "FastCosmicIntegration.py filename argument causing an error"
**Describe the bug**
In the file FastCosmicIntegration.py we can input the path to the correct file as an argument. Previously the file name was a separate argument that could also be specified. In the current version it looks like we should include the file name in the path argument since there isn't any option to add a filename in the arguments list now. The bug is that the functions 'append_rat

[2022-01-13 03:38] reinhold-willcox commented on #735
Thanks for catching this! Submitting the fix now.

[2022-01-16 03:52] jeffriley commented on #511
See PR https://github.com/TeamCOMPAS/COMPAS/pull/732

[2022-01-17 15:05] avigna commented on #728
PR #738 created to address this.

[2022-01-17 22:03] reinhold-willcox commented on #511
Note that PR #732 does not address the complications of tau / winds / stellar types with values set at the beginning of the phase, but allows for initialization of types which reset tau=0.

[2022-01-17 22:53] reinhold-willcox commented on #735
@tcla0007 Do you want to take a look at the PR and see if it solves your issue?

[2022-01-18 00:41] tcla0007 commented on #735
@reinhold-willcox Thanks it all works now!

[2022-01-18 04:46] #728 closed, assigned to avigna

[2022-01-18 04:47] ilyamandel opened #740 "Documentation -- runSubmit example"
Generate an example workflow using runSubmit and update documentation accordingly.

[2022-01-18 07:47] avigna commented on #740
In the previous version of the COMPAS executable python scripts, a demo was offered using the `pythonSubmitDemo.py` file. Now that we have changed the `pythonSubmitDemo.py` for the tandem of `runSubmit.py` executable file and the `compasConfigDefault.yaml` options files, we need to rewrite the demo and the documentation to address these changes and provide a working (default) solution, as well as

[2022-01-18 08:00] avigna opened #741 "Update stroopwafelInterface.py and documentation to use runSubmit.py"
Recently, the old classic `pythonSubmit.py` script was changed to a tandem of a `runSubmit.py` script plus a `compasConfigDefault.yaml` options file (solved in #720 and documented in #738 ).

However, we need to make sure that sampling done via Stroopwafel, e.g., in /utils/preProcessing/stroopwafelInterface.py, is

- [x] available for users, and
- [x] properly documented.

 - OS: MacOS 12.0.1
 - C

[2022-01-18 09:19] avigna commented on #740
(@themikelau @reinhold-willcox I seem to recall one of you assembled the `pythonSubmitDemo.py`, let me know if either/neither wants to tackle this)

[2022-01-20 01:44] reinhold-willcox commented on #740
@avigna I can take a look - is there a branch you've been working on for this that I should build off of ?

[2022-01-20 08:39] avigna commented on #740
Cool, thanks. There is no current branch for this, so you can just pull from dev and take it from there.

[2022-01-20 22:36] #735 closed, assigned to nobody

[2022-01-28 03:32] reinhold-willcox opened #743 "CO Core mass incorrect - USSN strongly affected"
**Describe the bug**
When a HeHG star undergoes MT, it should have its He envelope removed completely and be left with a bare CO core. While this is currently happening, I'm finding that the mass of the CO core (and thus the full star mass) is being set to the pre-MT total mass, i.e it's being increased artificially. Since there is now no envelope, a SN check is done. For the systems I looked at (

[2022-01-29 04:41] reinhold-willcox opened #744 "Hurley gbParams p and q values for He giants"
**Describe the bug**
In Hurley+ 00, section 6.1, the discussion on He giants states that the Luminosity is a piecewise function of two power laws (similar to equation 37 for giant stars).

L = min(B* Mcore^q, D* Mcore^p)  (eq. 37)
L = min(B* Mcore^3, D* Mcore^5)  (eq. 84)

Below (37), p and q are defined as piecewise functions of the total mass, and these p and q values appear in the later equatio

[2022-01-29 07:19] jeffriley commented on #744
The code is as @reinhold-willcox describes.  I think the code is consistent with the text in Hurley+2000 surrounding eq (84) - Hurley justifies the use of p = 3 and q = 5 for eq (84) in text prior to eq (84) then, in the paragraph immediately following eq (84), explains the replacements to be made in eqs (39-42) in some detail: he explicitly states which variables should be replaced with their ana

[2022-01-29 07:30] reinhold-willcox commented on #744
Asking Hurley might be very sensible. I thought the same about only changing the parameters that are explicitly mentioned. But we do reset the B, D values, even though they are not explicitly mentioned in the text.

I think (39-42) are just the calculations for the integration constants for 34, when L has the form of piecewise exponentials, so it makes sense to use updated B, D, p and q. The p and

[2022-01-31 01:49] reinhold-willcox opened #745 "Logfile definitions"
**Describe the bug**
The --logfile_definitions option does not work when the same file REC is supplied twice. I ran with the log_defs.txt file shown below. There were no errors, and the output had correctly removed the zeta parameters but the CO core masses were not included. I've spoken to Jeff about this, and he knows the solution, so I won't elaborate further.

log_defs.txt:
[code]

**Label the

[2022-01-31 21:55] jeffriley commented on #745
It seems I introduced this when I added annotations.  I remember changing the code in question - I just don't remember exactly why I changed it (I have a vague recollection...).  I thought I tested all combinations of the logfile definitions file, but obviously not.  It shouldn't take long to fix - I'll get to it soon.

[2022-02-01 04:56] IsobelMarguarethe opened #746 "Output when the star hits a user-specified fraction of the Roche lobe"
I don't think this is a thing that is currently output, and it would be useful if it was. :)

[2022-02-01 08:03] reinhold-willcox commented on #746
It should be calculable from the available parameters. Are you looking at BSE_RLOF?

[2022-02-01 08:49] ilyamandel commented on #746
@IsobelMarguarethe -- as @reinhold-willcox writes, you can get this fraction already.  You can find the list of available quantities you can write to log files here:

https://compas.readthedocs.io/en/latest/pages/User%20guide/COMPAS%20output/standard-logfiles-record-specification-stellar.html

https://compas.readthedocs.io/en/latest/pages/User%20guide/COMPAS%20output/standard-logfiles-record-speci

[2022-02-01 22:27] IsobelMarguarethe commented on #746
You're right - I misremembered. I've changed the title of the issue to reflect the change we actually want

[2022-02-02 00:20] reinhold-willcox commented on #746
This is doable, but it depends somewhat on what output you'd like. If you're thinking about this for a single system, the detailed output will have the information you're looking for. If you're doing this for a population, you'll have to decide what output file makes the most sense. BSE_RLOF might be the most sensible, although because this would be pre- mass transfer, there would be some values t

[2022-02-03 05:17] IsobelMarguarethe commented on #746
It's for a population, where we'd like to be able to observe the properties of systems when they are 80% Roche Lobe filling. Could a custom output file be created? If a system gets to 80% RL filling it's likely to get to 100% RL filling at some point, so BSE_RLOF might still be an ok place to put them.

[2022-02-03 09:34] reinhold-willcox commented on #746
A custom output file is tricky, @jeffriley will be able to answer you better.

A quicker, hackier alternative, depending on how many and which parameters you need, would be to std::cout your parameters of interest when you reach the threshold, run COMPAS with the output piped to a file, and remove all the excess lines you don't need.

[2022-02-03 09:38] ilyamandel opened #750 "Add yaml to documentation"
https://compas.readthedocs.io/en/latest/pages/Getting%20started/COMPAS-dependencies-python.html does not mention yaml, but apparently yaml is required for runSubmit.py .  pip3 install yaml doesn’t work, though — one needs pip3 install pyyaml.  That’s sufficiently non-trivial that it definitely needs documenting.

[2022-02-03 10:58] ilyamandel commented on #743
Have a fix, just waiting for my previous PR to be approved since I inadvertently made the fix on the same branch but this one really ought to have its own version. :)

[2022-02-03 20:32] ilyamandel commented on #743
Should be fixed in PR #751 .

[2022-02-03 22:23] jeffriley commented on #746
All the infrastructure is in place to create a new output file - it's a little tedious, but not difficult.

If this is a useful thing to do, is it something we want to be available to other researchers as a feature of COMPAS, or is it a one-off thing?  I think the former, and if that is so we have a couple of options: a new output file, or use the existing BSE_RLOF file.

If we create a new output

[2022-02-03 22:53] ilyamandel commented on #743
@reinhold-willcox -- I believe this is fixed, so closing, but please ping me if you spot any issues that I missed.

[2022-02-03 22:53] #743 closed, assigned to ilyamandel, jeffriley

[2022-02-03 22:59] IsobelMarguarethe commented on #746
Jeff's final suggestion sounds like a good way forward.

On Fri, 4 Feb 2022 at 09:23, jeffriley ***@***.***> wrote:

[2022-02-03 23:03] reinhold-willcox opened #752 "Documentation improvements"
This is a running list of proposed improvements and corrections to the documentation. Includes fixes described in other issues, which are tagged appropriately. Since documentation is more/less tangential to producing good science results, these all fall to a lower priority than some of the other git issues. But good documentation also reduces the onboarding time for new users and enables contribut

[2022-02-04 05:49] syedalimohsinbukhari opened #753 "Generating binaries using stroopwafelinterface.py"
Hi,

When I generate binaries using `stroopwafelinterface.py` using the default values it gives me a 0 rate_of_hits. I even tried it for 10M binaries but still got the same result.

[code]
And the resulting log file is
[code]
Also, I noticed that the `interesting_systems` function is reading the COMPAS CSV files. Is it because I'm not providing it with these files?
[code]
If so, how should I appro

[2022-02-08 03:08] jeffriley commented on #745
I have pushed a fix for this (PR #757 ), but it comes with a caveat.

I remember changing the offending code (see the PR) when I implemented annotations back in v02.25.00 - I changed the code because annotations and logfile-definitions files weren't working together.  The change I made then caused this defect, and it is obvious why it did that.  I don't remember if I made the change just to test s

[2022-02-08 08:59] #745 closed, assigned to jeffriley

[2022-02-08 09:04] ilyamandel commented on #166
I've assigned myself. :)

[2022-02-08 10:17] avigna opened #759 "Make sure online documentation is up-to-date after sorting runSubmit / yaml upgrade."
Make sure online documentation is up-to-date after sorting out the following issues:

- [x] #740
- [x] #741
- [x] #750

This implies removing all the notes suggesting any of the previous issues is pending or that the runSubmit / yaml  is not ready.

[2022-02-11 01:36] ilyamandel opened #760 "Update requested citation"
Update requested citation to point to published ApJS paper, https://ui.adsabs.harvard.edu/abs/2022ApJS..258...34R/abstract .  Incorporate JOSS paper?

[This applies to both https://compas.readthedocs.io/en/latest/pages/how-to-cite.html?highlight=citation and https://github.com/TeamCOMPAS/COMPAShttps://github.com/TeamCOMPAS/COMPAS ]

Also, add the COMPAS JOSS paper to the news section of the compas

[2022-02-14 02:42] reinhold-willcox commented on #760
added to compas.science

[2022-02-14 02:43] reinhold-willcox commented on #760
clicked close by accident...

[2022-02-14 05:58] reinhold-willcox opened #761 "No USSNe"
**Describe the bug**
We currently do not produce any USSNe in COMPAS. It is unclear why this is happening, or when it was introduced. We still have doubly-stripped systems which _should_ be flagged as USSNe, but as far as I can tell, they are all classified as ECSNe.

One possible source of the problem is that in `GiantBranch::ResolveSupernova()`, we identify ECSNe if  `(snMass < MCBUR2)` where MC

[2022-02-14 21:46] jeffriley commented on #761
Introduced in v02.26.01
@ilyamandel

[2022-02-15 03:37] ilyamandel commented on #761
@ilyamandel is searching for a blunt knife with which to commit harakiri.

[2022-02-15 03:46] reinhold-willcox commented on #761
When you're done, could you leave the knife in the break room, we are sorely lacking in utensils.

[2022-02-16 00:24] #761 closed, assigned to reinhold-willcox

[2022-02-16 08:17] #750 closed, assigned to avigna

[2022-02-18 22:52] #740 closed, assigned to avigna

[2022-02-18 22:52] #752 closed, assigned to nobody

[2022-02-19 09:07] avigna commented on #759
Minor things, but still pending from #741

From the `stroopwafelInterface.py` script:
[code]

From the webpage:

I suggest reopening, addressing, and then checking the tick mark and closing for real.

[2022-02-21 00:00] reinhold-willcox commented on #759
Agreed, I think we still need to update the documentation before we can close this.

[2022-02-21 02:32] ilyamandel opened #766 "van den Heuvel diagrams confusingly list donor masses after MT, rather than masses before MT, as one might expect"
<img width="471" alt="image" src="https://user-images.githubusercontent.com/512213/154879471-1a3273d1-11e2-4c11-a013-02179c5dd151.png">

(Initially identified by @IsobelMarguarethe )

[2022-02-21 03:40] ilyamandel commented on #766
Resolved by #767  , closing.

[2022-02-21 03:40] #766 closed, assigned to ilyamandel

[2022-02-21 03:47] ilyamandel opened #768 "Delayed update to binary properties after SN"
When a SN happens, the detailed BSE output file only updates the orbital parameters (semi-major axis, eccentricity) on the next step.  This makes plotting look awkward and could confuse users.  See the following example, from example_plots/methods_paper_plots/detailed_evolution [the semi-major axis rightly grows to 2155 Rsun by the next time step].

<img width="539" alt="image" src="https://user-i

[2022-02-21 19:29] jeffriley commented on #746
@IsobelMarguarethe Can this be closed now?

[2022-02-21 22:59] IsobelMarguarethe commented on #746
Yep sorry I forgot to do this!

On Tue, 22 Feb 2022 at 06:29, jeffriley ***@***.***> wrote:

[2022-02-21 22:59] #746 closed, assigned to nobody

[2022-02-22 03:10] reinhold-willcox commented on #768
Addressed in linked PR. Note that this PR points to the Defaults branch, which itself is under PR.

[2022-02-23 00:54] #768 closed, assigned to ilyamandel, jeffriley, reinhold-willcox

[2022-02-28 01:47] reinhold-willcox opened #770 "STARTRACK PPISN prescription"
**Describe the bug**
Currently the PPI_PRESCRIPTIONS for COMPAS and STARTRACK are identical. In principle, the COMPAS one tracks Woosley 2017, while the STARTRACK one tracks Belczynski 2016b. In the code, both prescriptions take the HeCore mass and calculate the neutrino mass loss based on the input options (by default, 0.9 times the He core).

Looking at the overviews of these prescriptions outli

[2022-03-04 05:11] nrsegovia opened #772 "Envelope loss at HeHG stage"
**Describe the bug**

*Note: I'm not sure if this is working as intended. If so, sorry for bringing it up. It just seemed odd to me.*
Within the context of `EvaluateBinary(p_Dt)`, mass transfer episodes are evaluated using `CalculateMassTransfer(p_Dt)`. In the specific case of stable mass transfer from a donor with envelope, the entire envelope is assumed to be lost, only a fraction of which is ac

[2022-03-04 23:33] ilyamandel commented on #772
@solfreludio -- which version of dev are you using?  I note that the main issue described here was fixed around a month ago, in version 02.27.02 (see PR #751 in response to Issue #743 ).  I'll take a look at the value of the core mass to be compared against MCBUR1 shortly.

[2022-03-05 00:34] ilyamandel commented on #772
./COMPAS -n 1 --detailed-output TRUE --random-seed 2473 --initial-mass-1 5.33242693076645 --initial-mass-2 4.18471764180155 -a 0.173980281865144 -e 0

leads to

0: Double White Dwarf: (Main_Sequence_>_0.7 -> Carbon-Oxygen_White_Dwarf) + (Main_Sequence_>_0.7 -> Carbon-Oxygen_White_Dwarf)

-- i.e., there's no SN here with the latest dev (COMPAS v02.27.05).

[2022-03-05 00:44] ilyamandel commented on #772
Hurley+, 2000, p. 558:

<img width="478" alt="image" src="https://user-images.githubusercontent.com/512213/156860089-08940641-2acc-48c4-b9f6-4f217533e0c4.png">

[2022-03-05 01:00] ilyamandel commented on #772
And from p. 559:

<img width="486" alt="image" src="https://user-images.githubusercontent.com/512213/156860793-7d9d0308-df51-4d00-ac84-70e9f643df8f.png">

[2022-03-05 01:15] ilyamandel commented on #772
It's easy to change the TPAGB star decision making on CO vs ONe WDs to use the core mass at the start of the AGB, but I am not sure that it makes sense to use He star initial masses to decide on the outcome for He stars: whether or not Carbon will ignite off-centre should presumably be sensitive to how much mass was lost earlier during He star evolution.  On the other hand, McBGB is also not the r

[2022-03-05 01:17] #772 closed, assigned to nobody

[2022-03-05 01:17] ilyamandel commented on #772
(Will add comments to code to clarify this -- done now, will appear in a future PR.)

[2022-03-11 00:58] nrsegovia opened #773 "ONe WDs in figure 8"
**Describe the bug**
Figure 8 in the Methods Paper shows that there is a narrow initial mass range which should produce ONe WDs as their final product. Trying to reproduce the same figure with the current version of COMPAS gives no ONe WDs.

I found this by running different populations (both under BSE and SSE), where no ONe WDs could be found. I thought it might have been something I broke, but r

[2022-03-18 04:36] nrsegovia commented on #773
Changing `stellarType` from `TPAGB::ResolveEnvelopeLoss` allows ONe WDs to be created once again. Specifically, changing from:

[code]

To:

[code]
This is similar to what was done in the version used for the methods paper (and comes from Hurley+ 2000), although I'm not sure why it was changed and what would be the consequences of reverting the change (besides generating ONe WDs again).

Creating

[2022-03-23 07:05] jeffriley commented on #773
Do we know when it was changed - what version?

[2022-03-23 11:38] ilyamandel commented on #773
Sure we do -- it's another thing I apparently messed up in PR #721 :
https://github.com/TeamCOMPAS/COMPAS/pull/721/files

[2022-03-23 12:02] ilyamandel commented on #773
Despite the comment
// Note that this uses the CO core mass, rather than the core mass at base of AGB or He mass at He star birth suggested by Hurley+, 2000
this particular change should be reverted to match Hurley.

[2022-03-24 00:34] reinhold-willcox commented on #773
@solfreludio Thanks for your patience, I'll try to push a fix for this before the end of the week!

[2022-03-25 08:52] IsobelMarguarethe opened #774 "Misleading detailed output: wrong (post-MT) stellar type stored during mass transfer episodes"
**Describe the bug**
The mass transfer flag happens later than the mass transfer, leading to misleading detailed output.

**Label the issue**
`urgency_moderate` - This is a moderately urgent issue

**To Reproduce**
Steps to reproduce the behavior:
1. Run `COMPAS --random-seed 23046 --number-of-systems 1 --detailed-output`
2. Compare the pre- and post-mass transfer stellar type of the primary store

[2022-03-31 12:09] reinhold-willcox commented on #774
Hey, sorry for the delay, I haven't kept up with git issues!

So I've run the system, and I can reproduce what you're seeing. There are a couple bugs here, but I think they're not exactly as you've described.

Here is the text output from the detailed plotter:
[code]

Your first output, `# Times of RLOF: [4.35815622 6.07168313]` is correct. There are 2 MT episodes in this evolution occuring at the

[2022-04-04 07:38] syedalimohsinbukhari opened #775 "Addition of a high-value biased probability distribution for metallicity"
**Is your feature request related to a problem? Please describe.**
The metallicity distribution used in COMPAS is the log-uniform distribution and ZSolar. The former distribution is biased towards low-end metallicity values which are most likely to be present in the early galaxy/system while the latter is a fixed value. The problem arises if the user wants to simulate high metallicity stars to gen

[2022-04-05 00:00] IsobelMarguarethe commented on #774
Hi @reinhold-willcox, thanks for this detailed response! Indeed the second RLOF time is not the one I care about here, I should have highlighted that (although I'm pleased that it revealed an additional bug). I did intend to mask specifically for `MT_History == 1`. The main bug I am concerned about here is that `MT_History == 1` at `[4.35815622 4.36934683]` Myr while `Stellar_Type(1) == [7 7]` at

[2022-04-05 00:16] SimonStevenson commented on #775
Hello, thanks for reporting this issue!

We typically use the log-uniform distribution as a sampling distribution when we want to cover all possible metallicities; we then typically reweight binaries from each metallicity according to the prevelance of that metallicity (see https://github.com/TeamCOMPAS/COMPAS/blob/dev/utils/PythonScripts/CosmicIntegration/FastCosmicIntegration.py for an example o

[2022-04-05 00:29] SimonStevenson commented on #770
Yes I can confirm that this is a typo, and your understanding is correct. In particular, I think changing line 1726 in GiantBranch.cpp from

baryonicMass = m_HeCoreMass;

to

baryonicMass = std::min(m_HeCoreMass, STARTRACK_PPISN_HE_CORE_MASS);

where I have defined STARTRACK_PPISN_HE_CORE_MASS in contants.h as

constexpr double STARTRACK_PPISN_HE_CORE_MASS           = 45.0;

[2022-04-05 01:52] jeffriley commented on #770
@SimonStevenson , @reinhold-willcox Can we document the changes in the changelog and update the version number please?

[2022-04-05 02:42] reinhold-willcox commented on #770
woops, ya sorry, forgot to check that...

[2022-04-05 05:00] syedalimohsinbukhari commented on #775
Just to clarify this for me, if I use a grid file that contains only the value of metallicity, eccentricity, and remnant-mass-prescription, the COMPAS will take the values of the remaining parameters (mass1, mass2, semi-major axis, and such) from the default distributions?

[2022-04-05 05:42] SimonStevenson commented on #775
Yes that should work (just tested it on a small example and seems to work for me). You probably don't need to specify the remnant mass prescription seperately for each binary unless you really want to vary that as well. Let us know if this works for you and we can close the issue.

[2022-04-05 21:53] ilyamandel opened #780 "runSubmit boolean parsing"
runSubmit does not correctly set boolean options to False.  Copying @jeffriley 's suggestion verbatim:

I think this in the runSubmit file

for boolKey, boolVal in self.booleanChoices.items():
    if boolVal is True:
        self.command.update({boolKey: ''})

needs to change to this

for boolKey, boolVal in self.booleanChoices.items():
    if boolVal is True:
        self.command.update({boolKey:

[2022-04-06 04:05] jeffriley commented on #775
To further clarify, any options that are not specified in the grid file default to the option values specified on the command line, and options that are not specified on the command line default to the defaults in the C++ source (which are the same as the defaults specified in pythonSubit or runSubmit and the .yaml file).

[2022-04-08 04:51] reinhold-willcox opened #782 "MergerAtZams missing equilibrated binaries which still RLOF"
**Describe the bug**
The MergerAtZams flag is great for determining if two stars were initially positioned too closely. However, some systems do not merge at ZAMS, but very shortly after (1 timestep, <.02 Myr).

Looking closely at these systems, they all undergo RLOF and equilibrate at birth. These equal mass binaries are then checked for whether their radii overlap (2R < a), but not whether they

[2022-04-08 06:27] jeffriley commented on #782
Does --allow-rlof-at-birth make a difference here (default is TRUE - what happens if it is FALSE)?

[2022-04-08 06:30] jeffriley commented on #782
What happens if you set --allow-rlof-at-birth false?

[2022-04-08 06:38] jeffriley commented on #782
Aren't these the binaries Pablo is talking about in https://arxiv.org/abs/1601.03718 ?

[2022-04-08 07:35] reinhold-willcox commented on #782
If we were more careful about how we calculate the equilibration, we might reproduce some of their systems which transfer mass back and forth until the mass ratio levels out (with possibly some mass loss due to non-conservative MT), leading to an ultimately detached but very close CHE binary. But in our case, these are merging systems, we're just not calculating the merger at the right time.

[2022-04-08 07:38] jeffriley commented on #782
But they don't merge until they overflow L2, and I think by that time they are touching - or maybe I'm misremembering.  I'll go back and read the paper.

[2022-04-08 07:58] reinhold-willcox commented on #782
We could modify the equilibration prescription to allow for more survivors, but that's probably a longer term feature addition. For this I think we just need to make sure we flag these correctly before the evolution starts.

[2022-04-08 08:33] jeffriley commented on #782
So the binaries in question are not being picked up and flagged by this code in BaseBinaryStar::Evolve():

    if (HasStarsTouching()) {                                                                                                               // check if stars are touching
        m_Flags.stellarMerger        = true;
        m_Flags.stellarMergerAtBirth = true;
        evolutionStatus

[2022-04-08 22:34] jeffriley commented on #782
I am not convinced - but am willing to be - that we need to do anything here.  If the binary isn't touching at the start of evolution, and so marked as "Merger_At_Birth", and we've indicated we want to allow RLOF at birth, why don't we just let it do its thing and merge later if it's going to?  Plenty of other binaries merge after birth and we don't take them out - why wouldn't taking out the ones

[2022-04-10 16:09] ilyamandel commented on #782
1. RLOF per se does not mean merger: the whole point of --allow-rlof is to allow over-contact binaries.
2. Systems that "touch" are really in L2 overflow -- there's no saving them, they will merge.  --allow-touching is just there to force these systems to be recorded.  I think what @reinhold-willcox is arguing is that systems in this configuration should be recorded as mergers on the first time st

[2022-04-10 19:54] jeffriley commented on #782
If the stars are touching at the start of evolution they are recorded as mergers at birth.  The check there is for a <= (R1 + R2).  That's at the start of the first timestep.

I don't think we should use timesteps here as the unit of time - what if the user used a timestep multiplier of (say) 1000?  Or 1000000?  That was my point about using some arbitrary in my earlier post.

I agree we could che

[2022-04-10 20:25] jeffriley commented on #782
Also, as @ilyamandel noted, --allow-touching-at-birth (and the "Merger_At_Birth" flag) was implemented to allow systems touching at birth to be included in the stats, but identifiable as systems that didn't evolve as binaries past birth.  If what is really required here is that systems that merge in the first timestep (or second, or third...) also be identified as systems that didn't evolve as bin

[2022-04-11 03:17] reinhold-willcox opened #783 "Mergers not always showing up in BSE_RLOF"
**Describe the bug**
When two stars merge in COMPAS, the details of the RLOF show up in the `BSE_RLOF` output (although by default the 'Merger' flag itself is not included in `BSE_RLOF`).

I'm seeing some cases where there is a merger between a BH and a high mass companion, but no associated output in `BSE_RLOF`. The systems are correctly flagged as a 'Merger' in `BSE_System_Parameters`, as well a

[2022-04-11 03:25] reinhold-willcox commented on #783
Note: adding the `--hmxr-binaries` flag does not solve the problem.

[2022-04-11 06:32] reinhold-willcox commented on #782
Apologies, I may have been unclear (and somewhat misinformed) in my earlier responses.

My concern is with the implementation of '--allow-rlof', not '--allow-touching'. Currently, '--allow-rlof-at-birth' only checks if there is RLOF at birth. That matches what would be expected given the option name, but if this is intended to allow for over-contact binaries, we should be including a check for thi

[2022-04-11 18:52] jeffriley commented on #782
Isn't that what we'd expect to happen if the stars aren't spinning fast enough to be chemically homogeneous stars?  I'm not sure what else we would do - do you have an alternative in mind?

If we allow for the possibility of over-contact binaries (so use --allow-rlof-at-birth) we wouldn't expect a clean bifurcation of binaries that have stars rotating fast enough to be CH stars, and binaries that

[2022-04-12 01:58] #780 closed, assigned to avigna

[2022-04-12 01:59] #773 closed, assigned to nobody

[2022-04-12 03:59] reinhold-willcox commented on #782
If the condition for an over-contact binary to survive for some amount of time is set by the rotation, I agree with you that we should see some sort of continuity between over-contact / CHE stars and merging stars based on the spin down. That's probably a good idea for a future feature, whenever we implement stellar rotation.

But here we're saying that binaries in RLOF at precisely ZAMS should su

[2022-04-12 06:08] jeffriley commented on #782
Perhaps I explained what I meant poorly.  Here's what I meant:

1. If --allow-rlof-at-birth is true we allow stars that are undergoing RLOF at birth to enter the population of stars that make up our binaries.
2. If CHE is enabled, we assume the components are tidally locked, and set the rotational frequency of each component to the orbital frequency of the binary (or is it angular velocity? Just a

[2022-04-18 03:36] #783 closed, assigned to reinhold-willcox

[2022-04-18 03:36] #775 closed, assigned to SimonStevenson

[2022-04-18 03:36] #770 closed, assigned to SimonStevenson, avigna

[2022-04-18 07:42] reinhold-willcox opened #786 "Odd system: low mass, low Z single star experiences SESN"
**Describe the bug**
The following grid and options produce a non-interacting binary at Z=1e-4 with a 6 Msun primary that experiences a stripped-envelope, electron capture supernova. Especially weird is that it moves off the TPAGB to become an ONeWD before undergoing SN.

Here is the detailed evolution plotting output text:
[code]
And the detailed plot:
![low_mass_single_sesn](https://user-images.

[2022-04-18 08:47] jeffriley commented on #786
Is that what's described in Hurley+2000, p15, second-last paragraph (last full paragraph) left column?

Where's the 'nan' coming from?

[2022-04-19 01:10] reinhold-willcox commented on #786
Follow up on this: it appears this may be the correct behavior (in the sense that it follows the Hurley prescriptions, not that it's necessarily correct physically). But I will look into the mass range of ECSNe for single stars from all metallicites and update when I have that.

[2022-04-19 01:14] reinhold-willcox commented on #782
As noted in PR #785, the issue outlined here is not sufficiently problematic to warrant further attention, so I'm closing the issue. A future student who is implementing over-contact binary prescriptions may want to consider and/or reopen this issue.

[2022-04-19 01:14] #782 closed, assigned to jeffriley, reinhold-willcox

[2022-04-26 07:41] avigna commented on #733
@reinhold-willcox uncertain if this should be closed?

[2022-04-26 08:10] avigna commented on #760
@ilyamandel I assume that to change the webpage one needs to actually edit [the TeamCOMPAS.github.io repo](https://github.com/TeamCOMPAS/TeamCOMPAS.github.io). Two questions just for getting things straight in my head:
1. Shouldn't this issue be part of (or associated to) that repo? (Not that it matters that much.)
2. If so, it seems that we have not done PRs in that repo... is it accepted to pull

[2022-04-27 13:54] #759 closed, assigned to avigna

[2022-04-27 14:16] avigna opened #791 "Stroopwafel installed via pip install is not up-to-date"
Using adaptive importance sampling via stroopwafel is not working when installing stroopwafel it via pip, as we suggest in the documentation. This is because the egg is not up-to-date with the changes in the repo, that @LiekeVanSon has already fixed. We need to either fix the egg or change the documentation to point out to the stroopwafel repo and how to link it with COMPAS. I think this is relate

[2022-04-27 14:23] avigna commented on #753
Hi! Apologies for the late reply. I think the issue is on our end, rather than on yours. We've made a couple of fixes to the repo (make sure to `git pull`), but I think we still need to update the stroopwafel libraries. Alternatively, you can download them and link them manually. I will get back to this asap with either a full fix, the pertinent link for the manual download, or both.

[2022-04-28 05:42] avigna commented on #753
Hi again! So there are 3 alternatives:
1. Download the stroopwafel code directly from [here](https://github.com/lokiysh/stroopwafel) and call to it directly instead of via `from stroopwafel import ...`,
2. Find your stroopwaffel install, find the sw.py file and modify it as done [here](https://github.com/lokiysh/stroopwafel/commit/de0d31772e3726bb11166cbecd1eed3bee2e1d58),
3. or wait 2-3 weeks unt

[2022-04-28 08:58] stellarphysicsandpopulations commented on #753
Thank you, Alejandro!  Both for your helpfulness and for giving the apology I should have given... (Indeed sorry to the original questioner for the delay.)

(Hopefully soon there will also be a major update to the Stroopwafel structure for which one of the intents is to make it easier for the COMPAS team to keep the "how to talk with COMPAS" parts up-to-date, when COMPAS itself changes, without ne

[2022-04-28 10:14] reinhold-willcox commented on #733
Thanks @avigna. I have not added this to the documentation yet, so let's leave it open. I'll set a reminder to myself to get this done.

[2022-04-28 10:18] reinhold-willcox commented on #760
@avigna You are correct, that repo doesn't use PRs, just commits to the master branch. Feel free to make the change

[2022-05-05 09:20] ilyamandel commented on #760
The part about updating https://github.com/TeamCOMPAS/COMPAS is in this repo, @avigna and @reinhold-willcox .  In any case, all fixed with @reinhold-willcox 's latest commit, so closing.

[2022-05-05 09:20] #760 closed, assigned to avigna, FloorBroekgaarden, reinhold-willcox

[2022-05-10 13:49] reinhold-willcox opened #797 "Auto-generated .yaml"
**Is your feature request related to a problem? Please describe.**

Having a yaml file that we update manually with the code defaults reintroduces the same problem we had previously with pythonSubmit. Namely, we need to remind ourselves to update this file, which opens up the possibility that we forget and then the COMPAS defaults are inconsistent across the repo.

This should be a straightforward

[2022-05-12 09:07] jeffriley commented on #797
I'm not sure about making the help output the same as the yaml file content - as long as the help is readable.  The other possibility is to keep/ensure the help output reader-friendly, and just add another option (e.g. --yaml) that produces a formatted yaml file, or output that can be piped to a file.

My only preference is that the help output be easily readable by a human...

[2022-05-14 13:11] ilyamandel opened #800 "Merger not recorded in detailed output?"
The final merger step is not recorded in the detailed output.  E.g.,
--initial-mass-1  60   --initial-mass-2  40   --semi-major-axis  0.3  --metallicity 0.0142 --eccentricity 0
with MULLERMANDEL remnants and kicks, otherwise default choices.

[2022-05-14 14:03] reinhold-willcox commented on #800
What random seed are you using?

[2022-05-15 06:51] ilyamandel commented on #800
0

On Sun, May 15, 2022 at 12:03 AM Reinhold Willcox ***@***.***>
wrote:

[2022-05-15 21:26] jeffriley commented on #800
Just a comment here.  A while ago I suggested we add a column to the detailed output file that would indicate the record type of the record written to the file.  We seem to have so many problems with the detailed output file - knowing when (in the evolution) records were written etc. that I think we should consider adding that field.  The field could just be an integer that indicates what the reco

[2022-05-16 04:42] ilyamandel commented on #166
Possibly not quite @cneijssel 's model, and took longer than I hoped (sorry, @avigna ), but this is done in https://github.com/TeamCOMPAS/COMPAS/pull/799 , so finally closing this issue. :)

[2022-05-16 04:42] #166 closed

[2022-05-16 05:01] ilyamandel opened #801 "Binary disruption not recorded correctly in detailed_evol_plotter"
At the moment, detailed_evol_plotter continues chugging along if a binary is disrupted by a supernova, eventually printing that a binary will merge in Nan Myr if two compact objects are produced.

[Example: --initial-mass-1 6.034999559745024 --initial-mass-2 1.0 -a 1000
COMPAS --grid grid.txt --detailed --random-seed 300 --metallicity 0.0001 , see Issue #786 ].

Easy enough to fix in the text outp

[2022-05-16 05:03] ilyamandel commented on #786
This binary has been disrupted by the SN, but we don't record that correctly in detailed_evol_plotter.  That's a separate issue, though, for which I created a new issue, #801 .  @reinhold-willcox , can I close this issue, since the C++ code is behaving as intended?

[2022-05-16 05:05] ilyamandel commented on #631
@reinhold-willcox : I think this has mostly been addressed.  I'd like to avoid further changes unless absolutely necessary, since they break post-processing codes (and once the codes are updated, they can't be used to parse older results unless multiple versions of post-processing codes are stored, which is a mess).  Can I close this issue?

[2022-05-16 05:07] ilyamandel commented on #213
Implemented in #798 , to be closed once that's pulled.

[2022-05-16 05:16] ilyamandel commented on #596
Addressed in #795 , closing.

[2022-05-16 05:16] #596 closed, assigned to ilyamandel, reinhold-willcox

[2022-05-16 05:28] nrsegovia opened #802 "Description of CalculateMassAcceptanceRate"
The description of CalculateMassAcceptanceRate in both Remnants.cpp and BaseStar.cpp is wrong in the case of WDs.

The part where it is mentioned that "The formalism of Nomoto/Claeys is used for WDs" does not describe the real behavior, since WDs follow the prescription implemented in Remnants.cpp for BHs and NSs.

[2022-05-16 11:11] reinhold-willcox commented on #800
This system does not merge for me with seed 0, but is instead an unbound binary. I'm on v02.31.00.

[2022-05-16 11:16] reinhold-willcox commented on #801
In fact we do, I'll go about adding the graphic

[2022-05-16 11:30] reinhold-willcox commented on #801
See #803

[2022-05-16 11:35] #786 closed, assigned to nobody

[2022-05-16 11:40] reinhold-willcox commented on #631
With exception of the RLOF time parameters, I think the rest of these are resolved. Happy to close.

[2022-05-16 11:40] #631 closed, assigned to nobody

[2022-05-17 01:15] reinhold-willcox opened #805 "Improve internal consistency for reporting (previously: Implement separating major events into separate timesteps)"
As discussed on the compas dev call

[2022-05-19 15:02] reinhold-willcox opened #808 "Add HR diagram to detailed plotter"
Currently the detailed plotter features 4 plots, which show the time evolution of (1) mass parameters, (2) length parameters, (3) stellar types, and (4) eccentricity. It would be really useful to debugging and general investigation to include an HR diagram. Since we like having 4 plots in a 2x2 grid, I propose we put the eccentricity and stellar type plots together (this was done previously) since

[2022-05-19 15:03] reinhold-willcox commented on #808
This is a good first issue for any motivated newcomers, but if no one else wants it, I can get to this when I find a spare moment. Assuming others would find it useful.

[2022-05-20 12:03] reinhold-willcox opened #809 "MS+MS unstable mergers not flagged as CEE"
**Describe the bug**
Mergers between two MS stars are ony flagged as unstable if both are undergoing RLOF. Of coursre, if only one is a donor, you can still have unstable MT, but the output flag `CEE>MT` is not raised in this case.

**Label the issue**
`urgency_moderate`      - This issue is not urgent
`severity_minor`    - This is a minor bug with minimal impact

**To Reproduce**

run: `COMPAS -n

[2022-05-24 17:09] avigna commented on #791
This has now been fixed with [v1.1.0](https://pypi.org/project/stroopwafel/1.1.0/) of stroopwafel, that can be updated via `pip3 install --upgrade stroopwafel`

[2022-05-24 17:09] #791 closed, assigned to FloorBroekgaarden

[2022-05-24 17:11] avigna commented on #741
This is now complete following #791.

[2022-05-24 17:11] #741 closed, assigned to avigna, FloorBroekgaarden, LiekeVanSon

[2022-05-24 17:14] avigna commented on #753
Hello again! Stroopwafel has now been updated and should work if you do `pip install --upgrade stroopwafel`. I hope this helps with your problem. Could you try giving it a go again and letting us know if it does?

[2022-05-25 20:10] #809 closed, assigned to nobody

[2022-05-30 02:28] #808 closed, assigned to reinhold-willcox

[2022-05-31 01:12] reinhold-willcox commented on #801
Closing because this issue has been addressed in the linked PR

[2022-05-31 01:12] #801 closed, assigned to ilyamandel, serenavinciguerra89, reinhold-willcox

[2022-05-31 03:20] reinhold-willcox commented on #800
With updated seed 10, I see a merger correctly flagged in `BSE_System_Params`, `BSE_RLOF`, and in the detailed plotter text. As far as the detailed output, things look alright at first glance, but is there a specific parameter there you'd expect would indicate a merger?

[2022-05-31 05:52] ilyamandel commented on #800
@reinhold-willcox : In the detailed plotter, you just decided that it's a merger because you are assuming that the only way for the binary to end evolution is either as a DCO, as an unbound binary, or a merger:
`
 isMerger = (Data['Time'][-1]<14000) and not isDCO and not isUnbound `

 That's actually a bit dangerous: e.g., I could choose to run for less than 14 Gyr (that's a command-line argument)

[2022-05-31 21:07] reinhold-willcox commented on #800
You are correct that the merger condition is not valid. This is now addressed in PR #813.

Regarding your second point, that the merger is not recorded in detailed output: if you're referring specifically to the `BSE_Detailed_Output` file, then yes I agree, since we do not include a parameter for `isMerger`. We do have access to this information though, through the r1, r2, a and e parameters. This

[2022-06-07 00:24] #800 closed, assigned to ilyamandel

[2022-06-07 01:59] reinhold-willcox commented on #539
@jeffriley The grid and arguments above should reproduce the case BB issue.

[2022-06-07 06:20] ilyamandel opened #814 "plot_detailed_evolution.py does not display numbers on abscissa"
plot_detailed_evolution.py does not display numbers on abscissa, so can't actually tell how much time passed

[2022-06-08 06:55] ilyamandel opened #816 "Fix documentation formatting for --retain-core-mass-during-caseA-mass-transfer"
'--retain-core-mass-during-caseA-mass-transfer', included in COMPAS v02.31.00, documented here
https://compas.readthedocs.io/en/latest/pages/User%20guide/Program%20options/program-options-list-defaults.html#options-props-r
 the documentation for the option is badly formatted - looks like a stray html link starting with '**'. Edit: actually, I think you need a matching double-asterisk at the end of

[2022-06-15 14:26] reinhold-willcox opened #817 "FastCosmicIntegration maximum chirp mass error"
**Describe the bug**
This bug was discovered by @adam-boesky who is a summer student working with Floor.

When running the FastCosmicIntegration pipeline on a typical data file, the following error was thrown.

[code]

Looking at the source code, the error comes from the following:
[code]
where Mc_max = 300 and max_redshift_distance = 1 by default.

By inspection, the inequality looks like it shou

[2022-06-15 15:18] reinhold-willcox opened #818 "maximum-evolution-time per binary"
**Is your feature request related to a problem? Please describe.**
When running with a modified maximum time in a gridfile, I get the error:

[code]

This should be allowed, since we may want to evolve with different maximum times on a per binary basis. For example, I am looking at some very low mass stars, where the MS age is very long. If I evolve every binary at these longer total times, it slo

[2022-06-15 19:38] jeffriley commented on #817
This was already raised in issue #591 and was fixed in PR #628

So when did we lose the fix?  Was it backed out unintentionally?  That would raise questions about other changes and fixes that we might also have lost...

[2022-06-15 20:13] reinhold-willcox commented on #817
This is a weird one...

You can see the history of commits here: https://github.com/TeamCOMPAS/COMPAS/commits/6b13662f893cfcf10eaffd7462021001d65e8c73?after=6b13662f893cfcf10eaffd7462021001d65e8c73+69&branch=6b13662f893cfcf10eaffd7462021001d65e8c73&qualified_name=6b13662f893cfcf10eaffd7462021001d65e8c73

If you run
[code]
you'll see that this is where the incorrect < was swapped in back for the >,

[2022-06-15 21:30] jeffriley commented on #817
Ok, I'm not sure of the exact timeline/details (haven't looked in-depth), but PR #626  was merged on October 4, 2021, and this is what I think happened:

The fix for issue #591 (and this issue) was in commit a4a086a, but was removed in commit 4010d38, and those commits were merged in 580ae41

Until we look a bit deeper I can't tell if this was just an inadvertent thing (possibly @ilyamandel  modif

[2022-06-15 22:28] jeffriley commented on #817
Also, I can't see PR #626 in the list of commits.  I can access it via the link from issue #591 or from the actual PR, but I don't see it in the list of commits - the PR indicates it was merged on October 4, 2021, but I don't see it...

[2022-06-16 05:52] jeffriley commented on #818
This is a straight-forward change - I think probably two lines of code.

Whoever does this might also want to allow "maximum-number-timestep-iterations" in the grid file (same complexity - change is just two lines of code).

[2022-06-16 13:15] reinhold-willcox commented on #817
I spent a bit of time on this yesterday, but really couldn't figure it out. The fix that Ilya made is in the commit history of the dev branch. Then at a future point it's not there anymore. But there is no commit that "undid" the fix. I thought git was designed precisely to avoid this sort of thing happening, so I'm pretty baffled. It's not really a huge issue, but it would be nice to get some cla

[2022-06-16 19:30] jeffriley commented on #817
The ADACS people?  I don't think they are github experts - but maybe.

[2022-06-17 00:48] jeffriley commented on #817
Ok, I did some more poking around.  It looks like we have lost all changes from PR #628.

Here are some images of the diff for FastCosmicIntegration.py from PR #628 .  Comparing this to the current dev branch, it looks like we have lost all of these changes, not just the fix for the problem described i n the issue (the backwards check).

![FastCosmicIntegration py 1](https://user-images.githubuser

[2022-06-17 01:21] jeffriley commented on #817
I exported all commits on all branches to a .csv file.  I can't see PR #628 in the file - I see other PRs, but not #628.  I don't think I know enough about git/github to know why that PR is not in the file.

[gitlog.csv](https://github.com/TeamCOMPAS/COMPAS/files/8923732/gitlog.csv)

[2022-06-17 17:51] reinhold-willcox commented on #817
I agree all those changes have been lost, but they were all commited to the dev branch, so I also don't know why this happened.

Short term, we can just reintroduce those same changes in a new PR (I can take a look at this at some point if no one else gets to it first). But long term we should definitely figure out what happened. If there are no ADACS git experts, maybe we can find one externally?

[2022-06-17 20:57] jeffriley commented on #817
These were the other changes made in PR #628.  It looks like we have lost 'generate_frame_file.py' (at least I can't see it in the repo).  I can't see getting_started.md - did we remove that?

So it looks like we lost everything done in PR #628 - was it reverted or something?  I can't see where that happened.  I still think it's odd that I can't see PR #628 in the commit history - not sure what th

[2022-06-17 21:39] ilyamandel commented on #817
Very interesting -- according to https://github.com/TeamCOMPAS/COMPAS/pull/628, @jeffriley merged in the commit [fd2d95c](https://github.com/TeamCOMPAS/COMPAS/commit/fd2d95cf8a42c384e23528085029982545f8a65e) -- but that commit only includes some of the changes made in PR 628.  In fact, it's just the last of the 10 commits that comprise that PR: https://github.com/TeamCOMPAS/COMPAS/pull/628/commits

[2022-06-17 21:41] ilyamandel commented on #817
Hmmm.  Undeleted the deleted branch, but can't pull it:

$ git checkout MergerOutput
Branch 'MergerOutput' set up to track remote branch 'MergerOutput' from 'origin'.
Switched to a new branch 'MergerOutput'
MU00152639X:src ilyam$ git pull
Auto packing the repository in background for optimum performance.
See "git help gc" for manual housekeeping.
error: The last gc run reported the following. Plea

[2022-06-17 22:02] jeffriley commented on #817
Yeah, me either - all I would have done is click on the 'Merge' button...  Strange.

[2022-06-17 22:03] jeffriley commented on #817
And... the commit that did get merged was lost...

[2022-06-22 03:23] jeffriley opened #821 "Binary properties missing from documentation"
The following binary properties are exposed as properties able to be added to binary log files, but are not described in the online documentation.  They should be added to the documentation:

RLOF_POST_STEP_STAR_TO_ROCHE_LOBE_RADIUS_RATIO_1
RLOF_POST_STEP_STAR_TO_ROCHE_LOBE_RADIUS_RATIO_2
RLOF_PRE_STEP_STAR_TO_ROCHE_LOBE_RADIUS_RATIO_1
RLOF_PRE_STEP_STAR_TO_ROCHE_LOBE_RADIUS_RATIO_2

My best guess

[2022-06-26 16:45] ilyamandel commented on #817
Thanks, @reinhold-willcox -- closing.

[2022-06-26 16:45] #817 closed, assigned to ilyamandel, FloorBroekgaarden

[2022-06-30 02:50] reinhold-willcox commented on #821
I can confirm the listed parameters are as you have described them.

[2022-07-03 17:34] #733 closed, assigned to nobody

[2022-07-03 17:34] #814 closed, assigned to ilyamandel, reinhold-willcox

[2022-07-03 17:41] ilyamandel opened #823 "Crash of plot_detailed_evolution.py"
$ python3 plot_detailed_evolution.py
Time (Myr), Event,                            M1 (M_o), type1, M2 (M_o), type2, a (R_o),   e
  0.000000   Zero-age main-sequence, metallicity Z=0.0142    1.826     1      0.589     0   22621.335  0.000
1426.419090   Star 1: MS\geq0.7M_{\odot}->HG     1.826     2      0.589     0   22621.335  0.000
1438.177260   Star 1: HG->FGB                    1.826     3

[2022-07-05 19:11] reinhold-willcox commented on #823
Hi @ilyamandel ,

Thanks for spotting these. The first is a bug when there are no "events", meaning entries in the `BSE_RLOF` or `BSE_Supernovae`. The second is due to the names of the Hurley types when we have both a MS < 0.7 and MS > 0.7 star. When there is only one, the names reduce to just "MS" for simplicity, so we haven't seen this error before because we're usually in the high mass regime.

[2022-07-06 16:37] #823 closed, assigned to reinhold-willcox

[2022-07-08 03:13] nrsegovia opened #825 "Odd system: merger of HeMS with massless remnant"
**Describe the bug**
As I do not know if the following is a bug, I have just labeled it as a question.

I have been running tests with systems where at least one component goes through the HeMS phase, and I'm using the RLOF log file to check for changes in separation. Amongst these, some have `CEE>MT == 1` but `SemiMajorAxis>MT` does not show up in my plots as, for some reason, the separation is `

[2022-07-12 00:15] #213 closed

[2022-07-19 02:34] ilyamandel opened #826 "ComponentSpeed missing from documentation"
No description of ComponentSpeed in the documentation.

[2022-07-20 00:36] jeffriley commented on #826
Maybe we can do this and #821 together?

[2022-07-20 00:37] jeffriley commented on #821
Maybe we can do this and #826 together?

[2022-07-22 12:10] ilyamandel opened #827 "--allow-H-rich-ECSN flag does not work"
I found ECSNe labeled as H-poor (I ran with --allow-H-rich-ECSN: False ) in binaries with huge separations — sometimes >1000 AU.

This is odd, because H-poor SNe should only happen in stripped stars, and stripping can only happen in interacting binaries.

On investigation, it turns out that we assume that H-poor stars are those that formed from objects of type HeMS and later.  Of course, ECSNe are

[2022-07-26 00:54] ilyamandel commented on #827
Not closing yet because of

P.S. A probably unrelated issue — but still one to fix -- is that our ONeWDs can have total masses larger than He core masses.

[2022-07-27 00:33] reinhold-willcox commented on #817
Recording here the larger issue and long term solution.

The problem was that a file was modified in a branch and then merged into dev, but a new branch was spun off the original branch and the file was reverted in the new branch. When the new branch was merged into dev, the file was reverted. But because github PR diffs compare the head of the new branch to the original splitting off point, the d

[2022-08-01 03:14] ilyamandel commented on #827
`“A probably unrelated issue — but still one to fix -- is that our ONeWDs can have total masses larger than He core masses.”  `

It turns out that all of these are due to Accretion Induced Collapse of ONeWDs.  And it’s not that rare — 4.5% of all ECSNe are actually AICs.  Now, partly this will be addressed by @solfreludio's fixes of MT onto WDs (i.e., they shouldn’t just end up with loads of hydro

[2022-08-01 03:16] ilyamandel commented on #827
This also made me realise that checking for a non-empty MT history string, as @reinhold-willcox  has done, doesn’t quite catch the requirement of looking for stripped ECSN donors, since accretors that were never stripped would also pass.  So I’ll assign the issue to Reinhold again.  I think we should check specifically whether the star experiencing a possible ECSN was ever a donor.  This may requi

[2022-08-01 04:07] ilyamandel commented on #825
@solfreludio -- I think what happens to these stars is fine, but the DetailedOutput is not. :(

What happens is that there is a reverse MT phase from a 3.5 solar mass EAGB star to a 0.4 solar mass naked He star.  This phase leads to a common envelope, with an immediately ensuing RLOF, which indeed leads to a stellar merger.  However, we do not record this in DetailedOutput.

I've now changed Detai

[2022-08-01 04:07] #825 closed, assigned to ilyamandel

[2022-08-01 04:10] ilyamandel commented on #774
@IsobelMarguarethe , @reinhold-willcox -- has this particular issue been fixed?  Note that there are many DetailedOutput issues (e.g., binary orbit changes happen a step later than SNe which cause them; the RLOF data record a more massive ONeWD progenitor in the case of accretion induced collapse than DetailedOutput does; etc.), but we should probably deal with them one at a time.

[2022-08-01 04:40] reinhold-willcox commented on #774
@ilyamandel Yes, the remaining TODO on this (the reason I didn't close earlier) was the documentation of the Mt_History parameter. But I changed this parameter a few months ago and updated the documentation, so I'll go ahead and close this issue.

[2022-08-01 04:40] #774 closed, assigned to reinhold-willcox

[2022-08-09 04:15] reinhold-willcox commented on #827
Issue addressed in linked PRs #828 and #832

[2022-08-09 04:15] #827 closed, assigned to reinhold-willcox

[2022-08-09 04:51] #818 closed, assigned to nobody

[2022-08-09 09:39] reinhold-willcox opened #837 "Add zeta prescription options to help output"
The help output states that for `--stellar-zeta-prescription`, the default is SOBERMAN, but doesn't list the other options. Very easy fix, good first issue.

[2022-08-11 02:17] reinhold-willcox opened #838 "Bug in BaseStar::CalculateZadiabaticHurley2002"
**Describe the bug**
The function captures equation (56) from Hurley+ 2002. In the paper, x is the positive part of the M-R exponent for giant stars, `R \propto M^{-x}`, with x specified as approx 0.3.

The equation for zeta adiabatic is then given as

Zad \approx Zeq \approx -x + 2(Mc/M)^5

This should be negative for small core mass (and large convective envelope mass), which makes sense because

[2022-08-28 00:19] jeffriley opened #847 "Errors in notebooks in online documentation"
Compiling the online documentation (make html) results in the following errors for some of the notebooks:

[code]

**Versioning (please complete the following information):**
 - COMPAS: v02.32.00

I don't use notebooks, so I'm not familiar with editing the ipynb files - I did mange to do it once when I first created the online documentation, so I could probably do it again, but if someone who is m

[2022-08-31 13:30] avigna commented on #482
This is related to PR #839.

[2022-08-31 13:33] avigna commented on #753
It's been a few months since this has been open. If there are no further comments/questions regarading this particular issue before September 9th, I will close this issue. If more time is needed or someone wants to keep it open, please let me know.

[2022-09-01 00:51] reinhold-willcox commented on #482
Closing now that #839 has been merged

[2022-09-01 00:51] #482 closed, assigned to avigna

[2022-09-07 01:32] #838 closed, assigned to nobody

[2022-09-07 01:41] reinhold-willcox opened #850 "Incorrectly implemented option "--mass-transfer-thermal-limit-accretor""
**Describe the bug**
The option "--mass-transfer-thermal-limit-accretor" is unclearly documented and likely incorrectly impemented.

The option sets the parameter `OPTIONS->MassTransferThermallyLimitedVariation()` to either `MT_THERMALLY_LIMITED_VARIATION::RADIUS_TO_ROCHELOBE` or `MT_THERMALLY_LIMITED_VARIATION::C_FACTOR` (the default).
The only place this is called is in BaseStar

[code]
It's unc

[2022-09-09 07:33] #753 closed, assigned to lokiysh, FloorBroekgaarden, floriskummer, stellarphysicsandpopulations

[2022-09-09 07:52] avigna commented on #850
The choice of using the Roche-lobe radius instead of the stellar radius is mainly to avoid any problems when RLOF occurs during expasion in the Hertzsprung Gap; for example, the condition for RLOF is met regardless of the star barely or significantly filling its Roche lobe. In principle, one could refine the moment where RLOF occurs, but one would need to be careful about not spending to much calc

[2022-09-13 04:15] jmerritt1 opened #852 "SSE doesn't read grid file."
**Describe the bug**
When running using runSubmit.py, compasConfigDefault.yaml with SSE, and a grid file, the run samples from the range of masses rather than using exact masses specified in the grid file. It does successfully use the provided metallicities. With BSE, the masses _are_ correctly pulled from the grid file.

**Label the issue**
`severity_minor`    - This is a minor bug with minimal i

[2022-09-13 08:16] jeffriley opened #853 "Question re parameter to BaseStar::CalculateThermalTimescale() - possible defect?"
**Describe the bug**
In this commit:

https://github.com/TeamCOMPAS/COMPAS/commit/2c9991c2daddb61d395babc3ec04f89986644c1d

we added (or moved?) BaseStar::CalculateThermalTimescale(const double p_Radius), but the body of the function does not actually use the parameter p_Radius - it uses m_Radius.

@ilyamandel I think this was your commit - can you take a look to see if this was an oversight?

**L

[2022-09-13 08:58] jeffriley commented on #852
This works on the commandline:

./compas --mode SSE --grid ssegrid.txt

where the file ssegrid.txt contains:

    --initial-mass 2.3
    --initial-mass 12.75
    --initial-mass 20.3
    --initial-mass 8
    --initial-mass 7.0

and produces the expected output.

The problem here is that the grid file specified

    COMPAS/utils/examples/methods_paper_plots/fig_5_HR_diagram/grid.txt

contains

    -

[2022-09-14 00:28] jeffriley commented on #853
@ilyamandel also see issue #850

[2022-09-14 02:22] jmerritt1 commented on #852
Okay, I'll keep learning the program options. I'll have this in mind when using SSE. Thanks!

[2022-09-14 02:22] #852 closed, assigned to jeffriley

[2022-09-14 07:47] reinhold-willcox commented on #805
For future use, here is a grid of systems which all undergo MT leading to a successful CEE (non-merger). But then the donor collapses into a SN and the newborn NS collides with the companion resulting in a merger (collision is determined based on the periapsis of the new, possibly hyperbolic, orbit, so about half of these would actually point away from the companion and survive).

All of this happ

[2022-09-23 06:45] avigna opened #855 "RLOF resulting in merger instead of mass transfer episode"
I used v02.33.00 to reproduce a single system that lead to BBH merger in v02.21.01. However, during the first mass transfer episode, the primary in v02.33.00 significantly expands above its Roche lobe, meeting the contact condition and resulting in a stellar merger.

You can reproduce the system by executing the following command `./COMPAS -n 1 --mode BSE --metallicity 0.0001 --initial-mass-1 1.19

[2022-09-23 07:26] jeffriley commented on #855
I believe this change in behaviour was introduced in v02.26.00.  I haven't looked to see exactly what code change(s) cause(s) the change in behaviour - I'll do that later if nobody else gets to it first.

[2022-09-23 07:51] jeffriley commented on #855
I think the change of this in HG.h:

    void UpdateInitialMass() { if (m_Mass0 > m_CoreMass) m_Mass0 = m_Mass; }

to this:

    void UpdateInitialMass();

    and this in HG.cpp:

    void HG::UpdateInitialMass() {
        if (utils::Compare(m_CoreMass, HG::CalculateCoreMassOnPhase(m_Mass, m_Age)) < 0 ) {        //The current mass would yield a core mass larger than the current core mass -- i.e.,

[2022-09-23 08:04] avigna commented on #855
(In the context of PR #719, maybe comparing an SSE grid of things before/after the changes in that PR would be insightful.)

[2022-09-25 21:50] jeffriley commented on #855
@avigna I'm happy to run a grid with versions before and after the change - I'll just run it on my server and let it chug away until it's done - but it may take me a while to upload the results.  I'm presuming you want detailed outputs for all binaries evolved, so it might be a big data file, and I'll probably have to take it on campus to upload it - unless you just want detailed output plots for

[2022-09-26 07:27] avigna commented on #855
Hi Jeff! I was actually thinking of a first single stellar approach, no binaries, just to see the effect of the change in the SSE part of the cose. I reckon small grid of, lets say, stars from 1-100 Msun in 0.5 msun steps at a few metallicities (e.g., Z=0.0001,0.001,0.01,0.02) would suffice and would not be too intensive regarding memory. I would actually reckon the change would show using a singl

[2022-09-26 07:29] jeffriley commented on #855
Oh yeah, you did say single stars...  So you just want the data, no plots?